{{#layout-push direction='col'}}
    {{#layout-push direction='row' split=true classNames='arrange_panel'}}
        {{#layout-push direction='row' }}
            {{#layout-push direction='col' mid=true}}
                <span class='time_display'>{{start_month}}月{{start_day}}日-{{end_month}}月{{end_day}}日</span>
            {{/layout-push}}
            {{#layout-push direction='col' mid=true}}
                {{#layout-push direction='row' }}
                    <button class='btn' class='time_skip_btn' {{action 'leftBtnClicked'}}>
                        <span><img src='../images/time_arr_left_arrow.png' class='time_skip_btn_icon' /></span>
                    </button>

                    <button class='btn' class='time_skip_btn' {{action 'rightBtnClicked'}}>
                        <span><img src='../images/time_arr_right_arrow.png' class='time_skip_btn_icon' /></span>
                    </button>
                {{/layout-push}}
            {{/layout-push}}
        {{/layout-push}}

        {{#layout-push direction='row' }}
            {{#bs-button classNames="time_add_btn" onClick=(action (mut arrangeClassAdd) true)}}添加{{/bs-button}}
            {{#bs-button classNames="time_delete_btn" onClick=(action (mut modal3) true)}}删除{{/bs-button}}
        {{/layout-push}}
    {{/layout-push}}
    {{#bs-modal open=arrangeClassAdd  onHidden=(action (mut arrangeClassAdd) false) as |modal|}}
        <div class="arrange-class-pop-ups">
            {{#modal.body classNames=""}}
                {{#layout-push direction="col"}}
                    {{#layout-push direction="row" split=true classNames="pop-ups-head"}}
                        <p class="pop-ups-head-title">班级排课</p>
                        {{#layout-push direction="row"}}
                            {{#bs-button onClick=(action modal.close) classNames="edit-teacher-cancel"}}取消{{/bs-button}}
                            {{#bs-button type="success" classNames="edit-teacher-save" onClick=(action modal.submit) }}确定{{/bs-button}}
                        {{/layout-push}}
                    {{/layout-push}}
                    {{#layout-push direction="col" classNames="pop-ups-content"}}
                        {{#layout-push direction="col" classNames="arrange-course-class"}}
                            <p>排课班级</p>
                            <select class="class-name" name="">
                                <option value="">请选择班级名称</option>
                            </select>
                        {{/layout-push}}
                        {{#layout-push direction="col" classNames="class-arrange-time-select"}}
                            <p>开始时间</p>
                            {{#layout-push direction="row"}}
                                <select class="" name="">
                                    <option value="">年</option>
                                </select>
                                <select class="" name="">
                                    <option value="">月</option>
                                </select>
                                <select class="" name="">
                                    <option value="">日</option>
                                </select>
                                <select class="" name="">
                                    <option value="">14：00</option>
                                </select>
                            {{/layout-push}}
                        {{/layout-push}}
                        {{#layout-push direction="col" classNames="course-duration"}}
                            <p>单次课程时长</p>
                            <select class="" name="">
                                <option value="">min</option>
                            </select>
                        {{/layout-push}}
                        {{#layout-push direction="col" classNames="class-teacher-select"}}
                            {{#bs-button classNames="class-teacher-pop-ups"}}请为本次课选择授课老师{{/bs-button}}
                            {{#layout-push direction="col" classNames="class-teacher-list-content"}}
                                {{#layout-push direction="col"}}
                                    <p>该班级老师人数共4人</p>
                                    {{#layout-push direction="row"}}
                                        {{tech-card}}{{tech-card}}
                                    {{/layout-push}}
                                {{/layout-push}}
                                {{#layout-push direction="row" classNames="class-arrange-btns"}}
                                    {{#bs-button type="success" classNames="save"}}确定{{/bs-button}}
                                    {{#bs-button classNames="cancel"}}取消{{/bs-button}}
                                {{/layout-push}}
                            {{/layout-push}}
                        {{/layout-push}}
                    {{/layout-push}}
                {{/layout-push}}
            {{/modal.body}}
        </div>
    {{/bs-modal}}
    {{#layout-push direction='row' mid=true}}
        <canvas id='arrangement' width="940" height="488"/>
    {{/layout-push}}

{{/layout-push}}

{{yield}}
