{{#layout-push direction='col'}}
    {{#layout-push direction='row' split=true classNames='arrange_panel'}}
        {{#layout-push direction='row' }}
            {{#layout-push direction='col' mid=true}}
                <span class='time_display'>{{start_month}}月{{start_day}}日-{{end_month}}月{{end_day}}日</span>
            {{/layout-push}}
            {{#layout-push direction='col' mid=true}}
                {{#layout-push direction='row' }}
                    <button class='btn' class='time_skip_btn' {{action 'leftBtnClicked'}}>
                        <span><img src='../images/chevron_left_normal@2x.png' class='time_skip_btn_icon' /></span>
                    </button>

                    <button class='btn' class='time_skip_btn' {{action 'rightBtnClicked'}}>
                        <span><img src='../images/chevron_right@2x.png' class='time_skip_btn_icon' /></span>
                    </button>
                {{/layout-push}}
            {{/layout-push}}
        {{/layout-push}}

        {{#layout-push direction='row' }}
            {{#bs-button classNames="time_add_btn" onClick=(action (mut insertdlg) true)}}+ 添加排课{{/bs-button}}
            {{!-- {{#bs-button classNames="time_delete_btn" onClick=(action (mut modal3) true)}}删除{{/bs-button}} --}}
        {{/layout-push}}
    {{/layout-push}}

    {{#bm-modal-container title="班级排课" mswitch=insertdlg
            successbtncss='course-reserve-card-save'
            cancelbtncss='course-reserve-card-cancel'
            canceltext='取消'
            onCancelBtnClicked=(action 'cancelHandled')
            onSuccessBtnClicked=(action 'successHandled')}}
        {{#layout-push direction="col" classNames="pop-ups-content"}}
            {{#layout-push direction="col" classNames="arrange-course-class"}}
                <p>排课班级</p>
                <select class="class-name" name="" id='clsselect' onChange={{action 'cslChanged'}}>
                    <option value="">请选择班级名称</option>
                    {{#each cls_on_yard as |item|}}
                        <option value={{item.id}}>{{item.name}}</option>
                    {{/each}}
                </select>
                {{#layout-push direction="col" classNames="class-arrange-time-select"}}
                    <p>开始时间</p>
                    {{#layout-push direction="row"}}
                        {{date-choose data=session_insert_date}}
                        <select class="" name="" id='hourselect' onChange={{action 'hourChanged'}}>
                            <option value="">请选择开始时间</option>
                            <option value=8>08:00</option>
                            <option value=9>09:00</option>
                            <option value=10>10:00</option>
                            <option value=11>11:00</option>
                            <option value=12>12:00</option>
                            <option value=13>13:00</option>
                            <option value=14>14:00</option>
                            <option value=15>15:00</option>
                            <option value=16>16:00</option>
                            <option value=17>17:00</option>
                            <option value=18>18:00</option>
                            <option value=19>19:00</option>
                            <option value=20>20:00</option>
                        </select>
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction="col" classNames="course-duration"}}
                    {{bm-edit-line title='单次课程时长' isNeeded=true inputVal=session_insert_length}}
                {{/layout-push}}
                {{#layout-push direction="col" classNames="class-teacher-select"}}
                    {{#bs-button classNames="class-teacher-select-btn" onClick=(action (mut editTeacherCard) true)}}请为本次课选择授课老师{{/bs-button}}
                    {{#layout-push direction="col" classNames="class-teacher-list-content"}}
                        {{#layout-push direction="col"}}
                            {{!-- <p>该班级老师人数共{{ssession_insert_cls.tech.length}}人</p> --}}
                            {{#layout-push direction="row"}}
                                {{#each session_insert_cls.tech as |item|}}
                                    {{tech-card tech=item canChecked=true onTechCardClicked=(action 'oneTechChecked')}}
                                {{/each}}
                            {{/layout-push}}
                        {{/layout-push}}
                    {{/layout-push}}
                {{/layout-push}}
            {{/layout-push}}
        {{/layout-push}}
    {{/bm-modal-container}}

    {{#layout-push direction='row' mid=true}}
        <canvas id='arrangement' width="940" height="488"/>
    {{/layout-push}}
{{/layout-push}}

{{yield}}
