   {{#layout-push direction='col'}}
        {{#layout-push direction='col' classNames="course-reserve-content"}}
            {{#layout-push direction='row' split=true classNames='content-title-area'}}
                <p class="title">预约处理</p>
                {{!-- <span class="base-info">申请时间：{{display_apply_date}}</span> --}}
            {{/layout-push}}
            {{#if courseReserve}}
                {{#layout-push direction='col'}}
                    {{#if noteError}}
                        <div class="form-checked">
                            {{#layout-push direction='row' classNames="error-line"}}
                                <img class="error" src="https://bm-web.oss-cn-beijing.aliyuncs.com/icon_status_error%402x.png" alt="">
                                <span class="error-info">请填写完整信息</span>
                            {{/layout-push}}
                        </div>
                    {{/if}}
                    {{#layout-push direction='row'  classNames='content-title-area'}}
                         <span class="base-info">申请时间：{{display_apply_date}}</span>
                    {{/layout-push}}
                    {{#layout-push direction='row' classNames="line-list"}}
                        <p class="course-reserve-label list-title">类型</p>
                        {{#layout-push direction='row'}}
                            <p class="btn btn-primary experience-apply-btn" {{action 'toggleAction'}}>活动</p>
                            <p class="btn btn-primary course-reserve-btn" >体验课</p>
                        {{/layout-push}}
                    {{/layout-push}}
                    {{#layout-push direction='row' classNames="line-list"}}
                        <p class="course-reserve-label select-title">参与内容</p>
                        {{!-- {{#bm-select/bm-select-box classNames='course-reserve-modal-select' id='reservableselect' onChange=(action 'reservableChanged')}}
                            <option value="">请选择参与内容</option>
                            {{#each bm_exp_service.exps as |item|}}
                                <option value={{item.id}}>{{item.SessionInfo.title}}</option>
                            {{/each}}
                        {{/bm-select/bm-select-box}} --}}
                        {{#if noSr}}
                            <select class="course-reserve-modal-select error-border" id='reservableselect' name="" onChange={{action 'reservableChanged'}}>
                               <option value="">请选择参与内容</option>
                               {{#each bm_exp_service.exps as |item|}}
                                   <option value={{item.id}}>{{item.SessionInfo.title}}</option>
                               {{/each}}
                            </select>
                        {{else}}
                            <select class="course-reserve-modal-select" id='reservableselect' name="" onChange={{action 'reservableChanged'}}>
                               <option value="">请选择参与内容</option>
                               {{#each bm_exp_service.exps as |item|}}
                                   <option value={{item.id}}>{{item.SessionInfo.title}}</option>
                               {{/each}}
                           </select>
                        {{/if}}


                    {{/layout-push}}
                    {{#layout-push direction='row' classNames="line-area"}}
                        <p class="course-reserve-label select-title">场次安排</p>
                        {{!-- {{#bm-select/bm-select-box classNames='course-reserve-modal-select' id='yardselect' onChange=(action 'yardChanged')}}
                            <option value="">请选择场次安排</option>
                            {{#each bm_sessionable_service.sessionables as |item|}}
                                <option value={{item.id}}>{{bmdob/bmdobformat item.start_date}} - {{item.Yard.address}}</option>
                            {{/each}}
                            {{exp_session_lst}}
                        {{/bm-select/bm-select-box}} --}}
                        {{#if noSy}}
                            <select class="course-reserve-modal-select error-border" id='yardselect' name="" onChange={{action 'yardChanged'}}>
                                <option value="">请选择场次安排</option>
                                {{#each bm_sessionable_service.sessionables as |item|}}
                                    <option value={{item.id}}>{{bmdob/bmdobformat item.start_date}} - {{item.Yard.address}}</option>
                                {{/each}}
                                {{exp_session_lst}}
                            </select>
                        {{else}}
                            <select class="course-reserve-modal-select" id='yardselect' name="" onChange={{action 'yardChanged'}}>
                                <option value="">请选择场次安排</option>
                                {{#each bm_sessionable_service.sessionables as |item|}}
                                    <option value={{item.id}}>{{bmdob/bmdobformat item.start_date}} - {{item.Yard.address}}</option>
                                {{/each}}
                                {{exp_session_lst}}
                            </select>
                        {{/if}}

                    {{/layout-push}}
                    {{#layout-push direction='row' classNames="line-container line-list"}}
                        <p class="course-reserve-label">申请者</p>
                        <p class="course-reserve-content">
                            {{apply.Applyee.name}} 
                            {{#each apply.Kids as |kd kdIndex|}}
                                {{#if (eq kdIndex 0)}}
                                    {{kd.guardian_role}}
                                {{/if}}
                            {{/each}}
                            </p>
                    {{/layout-push}}
                    {{#layout-push direction='row' classNames="line-container line-list"}}
                        <p class="course-reserve-label">联系方式</p>
                        <p class="course-reserve-content">{{apply.contact}}</p>
                    {{/layout-push}}

                    <p class="course-reserve-label">孩子信息</p>
                    {{#layout-push direction='row' classNames="line-container card-area"}}
                            {{#each apply.Kids as |item|}}
                                {{bmcard/bm-kid-card kid=item classNames="card-info"}}
                            {{/each}}
                    {{/layout-push}}
                {{/layout-push}}
            {{/if}}
            {{#if experienceApply}}
                {{#layout-push direction='col'}}
                    {{!-- {{#layout-push direction='row' classNames="line-list"}}
                        <p class="course-reserve-label"><span class="base-info">请与参与者确认参与内容及安排</span></p>
                    {{/layout-push}} --}}
                    {{#if noteError}}
                        <div class="form-checked">
                            {{#layout-push direction='row' classNames="error-line"}}
                                <img class="error" src="https://bm-web.oss-cn-beijing.aliyuncs.com/icon_status_error%402x.png" alt="">
                                <span class="error-info">请填写完整信息</span>
                            {{/layout-push}}
                        </div>
                    {{/if}}
                    {{#layout-push direction='row'  classNames='content-title-area'}}
                         <span class="base-info">申请时间：{{display_apply_date}}</span>
                    {{/layout-push}}
                    {{#layout-push direction='col' classNames="line-list"}}
                        <p class="course-reserve-label list-title">类型</p>
                        {{#layout-push direction='row'}}
                        <p class="btn btn-primary course-reserve-btn ">活动</p>
                        <p class="btn btn-primary experience-apply-btn" {{action 'toggleAction'}}>体验课</p>
                        {{/layout-push}}
                    {{/layout-push}}
                    {{#layout-push direction='col' classNames="line-list"}}
                        <p class="course-reserve-label select-title">参与内容</p>
                        {{!-- {{#bm-select/bm-select-box classNames='course-reserve-modal-select' id='actselect' onChange=(action 'activityChanged')}}
                            <option value="">请选择参与内容</option>
                            {{#each bm_actv_service.actvs as |item|}}
                                <option value={{item.id}}>{{item.SessionInfo.title}}</option>
                            {{/each}}
                        {{/bm-select/bm-select-box}} --}}
                        {{#if noSa}}
                            <select class="course-reserve-modal-select error-border" id='actselect' name="" onChange={{action 'activityChanged'}}>
                               <option value="">请选择参与内容</option>
                               {{#each bm_actv_service.actvs as |item|}}
                                   <option value={{item.id}}>{{item.SessionInfo.title}}</option>
                               {{/each}}
                            </select>
                        {{else}}
                            <select class="course-reserve-modal-select" id='actselect' name="" onChange={{action 'activityChanged'}}>
                               <option value="">请选择参与内容</option>
                               {{#each bm_actv_service.actvs as |item|}}
                                   <option value={{item.id}}>{{item.SessionInfo.title}}</option>
                               {{/each}}
                            </select>
                        {{/if}}


                    {{/layout-push}}
                    {{#layout-push direction='col' classNames="line-area"}}
                        <p class="course-reserve-label select-title">场次安排</p>
                        {{!-- {{#bm-select/bm-select-box classNames='course-reserve-modal-select' id='sessionselect' onChange=(action 'sessionChanged')}}
                            <option value="">请选择场次安排</option>
                            {{#each bm_sessionable_service.sessionables as |item|}}
                                <option value={{item.id}}>{{bmdob/bmdobformat item.start_date}} - {{item.Yard.address}}</option>
                            {{/each}}
                            {{act_session_lst}}
                        {{/bm-select/bm-select-box}} --}}
                        {{#if noSs}}
                            <select class="course-reserve-modal-select error-border" id='sessionselect' name="" onChange={{action 'sessionChanged'}}>
                              <option value="">请选择场次安排</option>
                              {{#each bm_sessionable_service.sessionables as |item|}}
                                  <option value={{item.id}}>{{bmdob/bmdobformat item.start_date}} - {{item.Yard.address}}</option>
                              {{/each}}
                              {{act_session_lst}}
                            </select>
                        {{else}}
                            <select class="course-reserve-modal-select" id='sessionselect' name="" onChange={{action 'sessionChanged'}}>
                              <option value="">请选择场次安排</option>
                              {{#each bm_sessionable_service.sessionables as |item|}}
                                  <option value={{item.id}}>{{bmdob/bmdobformat item.start_date}} - {{item.Yard.address}}</option>
                              {{/each}}
                              {{act_session_lst}}
                            </select>
                        {{/if}}

                    {{/layout-push}}
                    {{#layout-push direction='row' classNames="line-container line-list"}}
                        <p class="course-reserve-label">申请者</p>
                        <p class="course-reserve-content">{{apply.Applyee.relation_ship}}{{apply.Applyee.name}}</p>
                    {{/layout-push}}
                    {{#layout-push direction='row' classNames="line-container line-list"}}
                        <p class="course-reserve-label">联系方式</p>
                        <p class="course-reserve-content">{{apply.contact}}</p>
                    {{/layout-push}}

                    <p class="course-reserve-label">孩子信息</p>
                    {{#layout-push direction='row' classNames="line-container card-area"}}
                            {{#each apply.Kids as |item|}}
                                {{bmcard/bm-kid-card kid=item classNames="card-info"}}
                            {{/each}}
                    {{/layout-push}}
                {{/layout-push}}
            {{/if}}
        {{/layout-push}}
   {{/layout-push}}
{{yield}}
