   {{#bp-layout direction='col'}}
        {{#bp-layout direction='col' classNames="course-reserve-content"}}
            {{#bp-layout direction='row' main='between' classNames='content-title-area'}}
                <p class="title">预约处理</p>
            {{/bp-layout}}

            {{#if formErrorFlag}}
                <div class="form-checked">
                    {{#bp-layout direction='row' classNames="error-line"}}
                        <img class="error" src="https://bm-web.oss-cn-beijing.aliyuncs.com/icon_status_error%402x.png" alt="">
                        <span class="error-info">请填写完整信息</span>
                    {{/bp-layout}}
                </div>
            {{/if}}

            {{#if courseReserve}}
                {{#bp-layout direction='col'}}
                    {{#if noteError}}
                        <div class="form-checked">
                            {{#bp-layout direction='row' classNames="error-line"}}
                                <img class="error" src={{errorImg}} alt="">
                                <span class="error-info">请填写完整信息</span>
                            {{/bp-layout}}
                        </div>
                    {{/if}}
                    {{#bp-layout direction='row'  classNames='content-title-area'}}
                         <span class="base-info">申请时间：{{display_apply_date}}</span>
                    {{/bp-layout}}
                    {{#bp-layout direction='row' classNames="line-list"}}
                        <p class="course-reserve-label list-title">类型</p>
                        {{#bp-layout direction='row'}}
                            <p class="btn btn-primary experience-apply-btn" {{action 'toggleAction'}}>活动</p>
                            <p class="btn btn-primary course-reserve-btn" >体验课</p>
                        {{/bp-layout}}
                    {{/bp-layout}}

                    {{#bp-layout direction='row' classNames="line-list"}}
                        {{!-- <p class="course-reserve-label select-title">参与内容</p> --}}
                        {{#if noSr}}
                            {{#bmform/bm-label-form-container label='参与内容'}}
                                {{bp-dropdown-simple
                                    classNames="error-border"
                                    valueId=selectedReservable
                                    options=expSession
                                    optionKey='title'
                                    onChange=(action 'reservableChanged')}}
                            {{/bmform/bm-label-form-container}}
                            {{!-- <select class="course-reserve-modal-select error-border" id='reservableselect' name="" onChange={{action 'reservableChanged'}}>
                               <option value="">请选择参与内容</option>
                               {{#each exp as |item|}}
                                   <option value={{item.id}}>{{item.sessioninfo.title}}</option>
                               {{/each}}
                            </select> --}}
                        {{else}}
                            {{#bmform/bm-label-form-container label='参与内容'}}
                                {{bp-dropdown-simple
                                    classNames=""
                                    valueId=selectedReservable
                                    options=expSession
                                    optionKey='title'
                                    onChange=(action 'reservableChanged')}}
                            {{/bmform/bm-label-form-container}}
                            {{!-- <select class="course-reserve-modal-select" id='reservableselect' name="" onChange={{action 'reservableChanged'}}>
                               <option value="">请选择参与内容</option>
                               {{#each exp as |item|}}
                                   <option value={{item.id}}>{{item.sessioninfo.title}}</option>
                               {{/each}}
                           </select> --}}
                        {{/if}}
                    {{/bp-layout}}

                    {{#bp-layout direction='row' classNames="line-area"}}
                        {{!-- <p class="course-reserve-label select-title">场次安排</p> --}}
                        {{#if noSy}}
                            {{#bmform/bm-label-form-container label='场次安排'}}
                                {{bp-dropdown-simple
                                    classNames="error-border"
                                    valueId=selectedYard
                                    options=expField
                                    optionKey='title'}}
                            {{/bmform/bm-label-form-container}}
                            {{!-- <select class="course-reserve-modal-select error-border" id='yardselect' name="" onChange={{action 'yardChanged'}}>
                                <option value="" disabled selected hidden>请选择场次安排</option>
                                {{#each sr as |item|}}
                                    <option value={{item.id}}>{{bmdob/bmdobformat item.startDate}} {{bmdob/bmdob2clocktime item.startDate}}-{{bmdob/bmdob2clocktime item.endDate}} {{item.yard.title}}</option>
                                {{/each}}
                            </select> --}}
                        {{else}}
                            {{#bmform/bm-label-form-container label='场次安排'}}
                                {{bp-dropdown-simple
                                    classNames=""
                                    valueId=selectedYard
                                    options=expField
                                    optionKey='title'}}
                            {{/bmform/bm-label-form-container}}
                            {{!-- <select class="course-reserve-modal-select" id='yardselect' name="" onChange={{action 'yardChanged'}}>
                                <option value="" disabled selected hidden>请选择场次安排</option>
                                {{#each sr as |item|}}
                                    <option value={{item.id}}>{{bmdob/bmdobformat item.startDate}} {{bmdob/bmdob2clocktime item.startDate}}-{{bmdob/bmdob2clocktime item.endDate}} {{item.yard.title}}</option>
                                {{/each}}
                            </select> --}}
                        {{/if}}
                    {{/bp-layout}}

                    {{#bp-layout direction='row' classNames="line-container line-list"}}
                        <p class="course-reserve-label">申请者</p>
                        <p class="course-reserve-content">
                            {{apply.applicant.name}}
                            {{#each apply.kids as |kd kdIndex|}}
                                {{#if (eq kdIndex 0)}}
                                    {{kd.guardianRole}}
                                {{/if}}
                            {{/each}}
                        </p>
                    {{/bp-layout}}
                    {{#bp-layout direction='row' classNames="line-container line-list"}}
                        <p class="course-reserve-label">联系方式</p>
                        <p class="course-reserve-content">{{apply.contact}}</p>
                    {{/bp-layout}}

                    <p class="course-reserve-label">学生信息</p>
                    {{#bp-layout direction='row' classNames="line-container card-area"}}
                        {{#each apply.kids as |item|}}
                            {{bmcard/bm-kid-card kid=item classNames="card-info"}}
                        {{/each}}
                    {{/bp-layout}}
                {{/bp-layout}}
            {{/if}}

            {{#if experienceApply}}
                {{#bp-layout direction='col'}}
                    {{#if noteError}}
                        <div class="form-checked">
                            {{#bp-layout direction='row' classNames="error-line"}}
                                <img class="error" src="https://bm-web.oss-cn-beijing.aliyuncs.com/icon_status_error%402x.png" alt="">
                                <span class="error-info">请填写完整信息</span>
                            {{/bp-layout}}
                        </div>
                    {{/if}}
                    {{#bp-layout direction='row'  classNames='content-title-area'}}
                         <span class="base-info">申请时间：{{display_apply_date}}</span>
                    {{/bp-layout}}
                    {{#bp-layout direction='col' classNames="line-list"}}
                        <p class="course-reserve-label list-title">类型</p>
                        {{#bp-layout direction='row'}}
                        <p class="btn btn-primary course-reserve-btn ">活动</p>
                        <p class="btn btn-primary experience-apply-btn" {{action 'toggleAction'}}>体验课</p>
                        {{/bp-layout}}
                    {{/bp-layout}}

                    {{#bp-layout direction='col' classNames="line-list"}}
                        {{!-- <p class="course-reserve-label select-title">参与内容</p> --}}
                        {{#if noSa}}
                            {{#bmform/bm-label-form-container label='参与内容'}}
                                {{bp-dropdown-simple
                                    classNames="error-border"
                                    valueId=selectedActivity
                                    options=actvSession
                                    optionKey='title'
                                    onChange=(action 'activityChanged')}}
                            {{/bmform/bm-label-form-container}}
                            {{!-- <select class="course-reserve-modal-select error-border" id='actselect' name="" onChange={{action 'activityChanged'}}>
                               <option value="">请选择参与内容</option>
                               {{#each actv as |item|}}
                                   <option value={{item.id}}>{{item.sessioninfo.title}}</option>
                               {{/each}}
                            </select> --}}
                        {{else}}
                            {{#bmform/bm-label-form-container label='参与内容'}}
                                {{bp-dropdown-simple
                                    classNames=""
                                    valueId=selectedActivity
                                    options=actvSession
                                    optionKey='title'
                                    onChange=(action 'activityChanged')}}
                            {{/bmform/bm-label-form-container}}
                            {{!-- <select class="course-reserve-modal-select" id='actselect' name="" onChange={{action 'activityChanged'}}>
                               <option value="">请选择参与内容</option>
                               {{#each actv as |item|}}
                                   <option value={{item.id}}>{{item.sessioninfo.title}}</option>
                               {{/each}}
                            </select> --}}
                        {{/if}}
                    {{/bp-layout}}

                    {{#bp-layout direction='col' classNames="line-area"}}
                        {{!-- <p class="course-reserve-label select-title">场次安排</p> --}}
                        {{#if noSs}}
                            {{#bmform/bm-label-form-container label='场次安排'}}
                                {{bp-dropdown-simple
                                    classNames="error-border"
                                    valueId=selectedSession
                                    options=actvField
                                    optionKey='title'}}
                            {{/bmform/bm-label-form-container}}
                            {{!-- <select class="course-reserve-modal-select error-border" id='sessionselect' name="" onChange={{action 'sessionChanged'}}>
                              <option value="" disabled selected hidden>请选择场次安排</option>
                              {{#each sa as |item|}}
                                  <option value={{item.id}}>{{bmdob/bmdobformat item.startDate}} {{bmdob/bmdob2clocktime item.startDate}}-{{bmdob/bmdob2clocktime item.endDate}} {{item.yard.title}}</option>
                              {{/each}}
                            </select> --}}
                        {{else}}
                            {{#bmform/bm-label-form-container label='场次安排'}}
                                {{bp-dropdown-simple
                                    classNames=""
                                    valueId=selectedSession
                                    options=actvField
                                    optionKey='title'}}
                            {{/bmform/bm-label-form-container}}
                            {{!-- <select class="course-reserve-modal-select" id='sessionselect' name="" onChange={{action 'sessionChanged'}}>
                              <option value="" disabled selected hidden>请选择场次安排</option>
                              {{#each sa as |item|}}
                                  <option value={{item.id}}>{{bmdob/bmdobformat item.startDate}} {{bmdob/bmdob2clocktime item.startDate}}-{{bmdob/bmdob2clocktime item.endDate}} {{item.yard.title}}</option>
                              {{/each}}
                            </select> --}}
                        {{/if}}

                    {{/bp-layout}}
                    {{#bp-layout direction='row' classNames="line-container line-list"}}
                        <p class="course-reserve-label">申请者</p>
                        <p class="course-reserve-content">
                            {{apply.applicant.name}}
                            {{#each apply.kids as |kd kdIndex|}}
                                {{#if (eq kdIndex 0)}}
                                    {{kd.guardianRole}}
                                {{/if}}
                            {{/each}}
                        </p>
                    {{/bp-layout}}
                    {{#bp-layout direction='row' classNames="line-container line-list"}}
                        <p class="course-reserve-label">联系方式</p>
                        <p class="course-reserve-content">{{apply.contact}}</p>
                    {{/bp-layout}}

                    <p class="course-reserve-label">学生信息</p>
                    {{#bp-layout direction='row' classNames="line-container card-area"}}
                            {{#each apply.kids as |item|}}
                                {{bmcard/bm-kid-card kid=item classNames="card-info"}}
                            {{/each}}
                    {{/bp-layout}}
                {{/bp-layout}}
            {{/if}}
        {{/bp-layout}}
   {{/bp-layout}}
{{yield}}
