   {{#layout-push direction=col}}
        {{#layout-push direction=col classNames="course-reserve-content"}}
            {{#layout-push direction=row classNames="line_container"}}
                <p class="course-reserve-label">提交信息时间</p>
                <p>{{display_apply_date}}</p>
            {{/layout-push}}
            {{#if courseReserve}}
                {{#layout-push direction=col}}

                    {{#layout-push direction=row classNames="line_container"}}
                        <p class="course-reserve-label">类型</p>
                        <p class="btn btn-primary course-reserve-btn"  {{action 'courseReserve'}}>课程预约</p>
                        <p class="btn btn-primary experience-apply-btn" {{action 'experienceApply'}}>体验报名</p>
                    {{/layout-push}}
                    {{#layout-push direction=row classNames="line_container"}}
                        <p class="course-reserve-label">课程</p>
                            <select class="course-reserve-modal-select" id='reservableselect' name="" onChange={{action 'reservableChanged'}}>
                                <option value="">课程标题</option>
                                {{#each course_lst as |item|}}
                                    <option value={{item.id}}>{{item.course.name}}</option>
                                {{/each}}
                            </select>
                    {{/layout-push}}
                    {{#layout-push direction=row classNames="line_container"}}
                        <p class="course-reserve-label">场地</p>
                            <select class="course-reserve-modal-select" id='yardselect' name="" onChange={{action 'yardChanged'}}>
                                <option value="">场地位置</option>
                                {{#each yard_lst as |item|}}
                                    <option value={{item.id}}>{{item.address}}</option>
                                {{/each}}
                            </select>
                    {{/layout-push}}
                    {{#layout-push direction=row classNames="line_container"}}
                        <p class="course-reserve-label">时间</p>
					    {{bm-lay-date inputVal=apply.apply_time}}
                        {{!-- {{date-choose needday=true data=selectedDate}} --}}
                    {{/layout-push}}
                    {{#layout-push direction=row classNames="line_container"}}
                        <p class="course-reserve-label">申请人</p>
                        {{apply.Applyee.name}}                    
                    {{/layout-push}}
                    {{#layout-push direction=row classNames="line_container"}}
                        <p class="course-reserve-label">联系方式</p>
                        {{apply.contact}}
                    {{/layout-push}}
                    {{#layout-push direction=row classNames="line_container"}}
                        <p class="course-reserve-label">参与者</p>
                        {{#each apply.Kids as |item|}}
                            {{bmcard/bm-kid-card kid=item}}
                        {{/each}}
                    {{/layout-push}}
                {{/layout-push}}
            {{/if}}
            {{#if experienceApply}}
                {{#layout-push direction=col}}
                    {{!-- {{#layout-push direction=row classNames="line_container"}}
                        <p class="course-reserve-title">参与內容</p>
                        <p class="apply-points">温馨提示：请与参与者确认参与内容。</p>
                    {{/layout-push}} --}}

                    {{#layout-push direction=row classNames="line_container"}}
                        <p class="course-reserve-label">类型</p>
                        <p class="btn btn-primary experience-apply-btn" {{action 'courseReserve'}}>课程预约</p>
                        <p class="btn btn-primary course-reserve-btn " {{action 'experienceApply'}}>体验报名</p>
                    {{/layout-push}}
                    {{#layout-push direction=row classNames="line_container"}}
                        <p class="course-reserve-label">体验</p>
                            <select class="course-reserve-modal-select" id='actselect' name="" onChange={{action 'activityChanged'}}>
                                <option value="">体验</option>
                                {{#each activity_lst as |item|}}
                                    <option value={{item.id}}>{{item.name}}</option>
                                {{/each}}
                            </select>
                    {{/layout-push}}
                    {{#layout-push direction=row classNames="line_container"}}
                        <p class="course-reserve-label">场次</p>
                            <select class="course-reserve-modal-select" id='sessionselect' name="" onChange={{action 'sessionChanged'}}>
                                <option value="">场地位置</option>
                                {{#each session_lst as |item|}}
                                    <option value={{item.id}}>{{item.yard.address}}</option>
                                {{/each}}
                            </select>
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction=row classNames="line_container"}}
                    <p class="course-reserve-label">参与者</p>
                    {{#each apply.Kids as |item|}}
                        {{bmcard/bm-kid-card kid=item}}
                    {{/each}}
                {{/layout-push}}
            {{/if}}
        {{/layout-push}}
   {{/layout-push}}
{{yield}}
