{{#if hasSetCourse}}
    {{#layout-push direction='col' classNames='course_card' split=true}}
        {{#layout-push direction='col' mid=true classNames='course_card_content'}}
            {{#layout-push direction='row' classNames='course_card_content_line'}}
                <span class="course_card_title">{{reserve.course.name}}</span>
            {{/layout-push }}
            {{#layout-push direction='row' classNames='course_card_content_line'}}
                <span class="course_card_text">{{reserve.course.category.cat}}</span>
                <span class="course_card_text">{{reserve.course.category.sub}}</span>
            {{/layout-push }}
        {{/layout-push }}
    {{/layout-push }}
{{else}}
    {{#layout-push direction='col' classNames='course_card' split=true}}
        {{#layout-push direction='col' mid=true classNames='course_card_content'}}
            {{#layout-push direction='row' classNames='course_card_content_line'}}
                <span class="course_card_title">乐高少儿建构教室</span>
            {{/layout-push }}
            {{#layout-push direction='row' classNames='course_card_content_line'}}
                <span class="course_card_text">科学</span>
                <span class="course_card_text">STEM</span>
            {{/layout-push }}
        {{/layout-push }}
    {{/layout-push }}
{{/if}}

{{yield}}