{{!-- {{#layout-push direction='row' split=true classNames='stud_card'}}
    {{#layout-push direction='col' mid=true classNames='stud_card_content'}}
        {{#layout-push direction='col' midt=true }}
            {{#layout-push direction='row' classNames='stud_card_content_line'}}
                <span class="stud_card_title">姓名: </span>
                <span class="stud_card_text">{{stud.me.name}}</span>
            {{/layout-push }}
            {{#layout-push direction='row' classNames='stud_card_content_line'}}
                <span class="stud_card_title">性别: </span>
                <span class="stud_card_text">
                    {{#if isFemale}}
                        女
                    {{else}}
                        男
                    {{/if}}
                </span>
            {{/layout-push }}
            {{#layout-push direction='row' classNames='stud_card_content_line'}}
                <span class="stud_card_title">年龄: </span>
                <span class="stud_card_text">{{stud.me.age}}岁</span>
            {{/layout-push }}
            {{#layout-push direction='row' classNames='stud_card_content_line'}}
                <span class="stud_card_title">电话: </span>
                <span class="stud_card_text">{{stud.me.contact}}</span>
            {{/layout-push }}
        {{/layout-push }}
    {{/layout-push }}
    {{#layout-push direction='col' mid=true }}
        <img class="stud_card_icon" src="../images/stud-normal.png" />
    {{/layout-push }}
{{/layout-push }} --}}

{{#layout-push direction='col' mid=true classNames='stud_card' }}
  {{#layout-push direction='row' split=true}}
    <span class="stud_card_name">{{stud.me.name}}</span>
    <span class="stud_card_other">
        <span class="stud_card_other_sex">
            {{#if isFemale}}
                女♀
            {{else}}
                男♂
            {{/if}}
        </span>
    <span class="stud_card_other_age">{{stud.me.age}}岁</span>
    </span>
  {{/layout-push}}
  {{#layout-push direction='row' split=false}}
    <img src="../images/icon_phone@2x.png" alt="" class="tel_icon"><span class="stud_card_phone">{{stud.me.contact}}</span>
  {{/layout-push}}
  {{#layout-push direction='row' split=true}}
    <span></span><span class="stud_card_from">来自小程序</span>
  {{/layout-push}}
{{/layout-push }}

{{yield}}
