{{#layout-push direction='row' split=true classNames='edit_nav'}}
    {{#if (bmeq session.status 1)}}
        <span>编辑体验课信息</span>
    {{else}}
        <span>编辑活动信息</span>
    {{/if}}
    <span>
        {{yield}}
        <button class="edit_nav_btn btn_save" {{action 'saveCourseBtnClicked'}}>保存</button>
    </span>
{{/layout-push}}



{{#layout-push direction='row' split=true classNames='edit_container' }}
    {{bmsessioninfo/bm-input-menu cur_page_idx=cur_page_idx status=session.status}}

    <div class="input_container">
        {{#if (bmeq cur_page_idx 0)}}
            {{#bmsessioninfo/bm-input-cate-page session=session}}
                {{#layout-push direction='row' classNames='alt_course_edit_btn_margin'}}
                    <p class="nav_save menu_button_between" {{action (mut cur_page_idx) 1}}>下一步</p>
                {{/layout-push}}
            {{/bmsessioninfo/bm-input-cate-page}}
        {{/if}}

        {{#if (bmeq cur_page_idx 1)}}
            {{#bmsessioninfo/bm-input-basic-page session=session}}
                {{#layout-push direction='row' classNames='alt_course_edit_btn_margin'}}
                    <p class="nav_save menu_button_between" {{action (mut cur_page_idx) 2}}>下一步</p>
                {{/layout-push}}
            {{/bmsessioninfo/bm-input-basic-page}}
        {{/if}}

        {{#if (bmeq cur_page_idx 2)}}
            {{#bmsessioninfo/bm-input-content-page session=session}}
                {{#layout-push direction='row' classNames='alt_course_edit_btn_margin'}}
                    <p class="nav_save menu_button_between" {{action (mut cur_page_idx) 3}}>下一步</p>
                {{/layout-push}}
            {{/bmsessioninfo/bm-input-content-page}}
        {{/if}}

        {{#if (bmeq cur_page_idx 3)}}
            {{#bmsessioninfo/bm-input-inter-page session=session}}
                {{#layout-push direction='row' classNames='alt_course_edit_btn_margin'}}
                    <p class="nav_save menu_button_between" {{action (mut cur_page_idx) 4}}>下一步</p>
                {{/layout-push}}
            {{/bmsessioninfo/bm-input-inter-page}}
        {{/if}}

        {{#if (bmeq cur_page_idx 4)}}
            {{#bmsessioninfo/bm-input-img-page session=session}}
                {{#layout-push direction='row' classNames='alt_course_edit_btn_margin'}}
                    <p class="nav_save menu_button_between" {{action (mut cur_page_idx) 5}}>下一步</p>
                {{/layout-push}}
            {{/bmsessioninfo/bm-input-img-page}}
        {{/if}}

        {{#if (bmeq cur_page_idx 5)}}
            {{#bmsessioninfo/bm-input-inc-page session=session}}
                {{#layout-push direction='row' classNames='alt_course_edit_btn_margin'}}
                    <p class="nav_save menu_button_between" {{action (mut cur_page_idx) 6}}>下一步</p>
                {{/layout-push}}
            {{/bmsessioninfo/bm-input-inc-page}}
        {{/if}}

        {{#if (bmeq cur_page_idx 6)}}
            {{#bmsessioninfo/bm-input-carry-page session=session}}
                {{#layout-push direction='row' classNames='alt_course_edit_btn_margin'}}
                    <p class="nav_save menu_button_between" {{action (mut cur_page_idx) 7}}>下一步</p>
                {{/layout-push}}
            {{/bmsessioninfo/bm-input-carry-page}}
        {{/if}}

        {{#if (bmeq cur_page_idx 7)}}
            {{#bmsessioninfo/bm-input-acq-page session=session}}
                {{#layout-push direction='row' classNames='alt_course_edit_btn_margin'}}
                    <p class="nav_save menu_button_between" {{action (mut cur_page_idx) 8}}>下一步</p>
                {{/layout-push}}
            {{/bmsessioninfo/bm-input-acq-page}}
        {{/if}}

        {{#if (bmeq cur_page_idx 8)}}
            {{#bmsessioninfo/bm-input-acc-page session=session}}
                {{#layout-push direction='row' classNames='alt_course_edit_btn_margin'}}
                    <p class="nav_save menu_button_between" {{action (mut cur_page_idx) 9}}>下一步</p>
                {{/layout-push}}
            {{/bmsessioninfo/bm-input-acc-page}}
        {{/if}}

        {{#if (bmeq cur_page_idx 9)}}
            {{#bmsessioninfo/bm-input-note-page session=session}}
                {{#layout-push direction='row' classNames='alt_course_edit_btn_margin'}}
                    <p class="nav_save menu_button_between" {{action 'saveCourseBtnClicked'}}>完成</p>
                {{/layout-push}}
            {{/bmsessioninfo/bm-input-note-page}}
        {{/if}}
    </div>
{{/layout-push}}
