{{#layout-push direction='row' split=true classNames='edit_nav' }}
  <span>编辑-品牌主页</span>
  <span>
        {{#link-to 'home' class="edit_nav_btn btn_cacel"}}
            取消
        {{/link-to}}
        <button class="edit_nav_btn btn_save" {{action 'saveBrand'}}>提交</button>
  </span>
{{/layout-push}}
{{#layout-push direction='row' split=true classNames='edit_container' }}
    <ul class="edit_left_nav">
        <li class="left_bar_item">
            <a class="edit_left_menu_text" href="#basic-info" {{action (mut cur_idx) 0}}>基础信息</a>
        </li>
        <li class="left_bar_item">
            <a class="edit_left_menu_text" href="#start-story" {{action (mut cur_idx) 1}}>品牌故事</a>
        </li>
        <li class="left_bar_item">
            <a class="edit_left_menu_text" href="#brand-reward" {{action (mut cur_idx) 2}}>品牌荣誉</a>
        </li>
        <li class="left_bar_item">
            <a class="edit_left_menu_text" href="#cert" {{action (mut cur_idx) 3}}>资质认证</a>
        </li>
        {{!-- <li class="left_bar_item">
            <a class="edit_left_menu_text" href="#about-tech" {{action (mut cur_idx) 4}}>师资介绍</a>
        </li> --}}
    </ul>



<div class="input_container">
{{#if (bmeq cur_idx 0)}}
<section id="basic-info" class="brand_section" >
    {{#layout-push direction='col' classNames="edit_panel edit_first_panel"}}
        {{#layout-push direction='row' classNames=""}}
            <span class="edit_title_top" >基础信息</span>
        {{/layout-push }}
        {{#layout-push direction='row' classNames="edit_panel_bottom_container"}}
            {{#layout-push direction='col' classNames="brand-logo-continer"}}
                {{#layout-push direction='col'}}
                    <span class="edit_title" >品牌logo</span>
                    <span class="edit_subtitle" >支持jpg、jpeg、png，小于100 KB</span>
                {{/layout-push }}
                {{bmcom/bm-img-uploader needTag=false canEdit=true img=bm_brand_service.brand.logo classNames=''}}
            {{/layout-push }}
            {{#layout-push direction='col' classNames="brand-base-info-continer"}}
                {{!-- {{bmform/bm-edit-line title="品牌名称" isNeeded=true maxCount=15 pholder="如：Black Mirror Tech" inputVal=bm_brand_service.brand.title}}
                {{bmform/bm-edit-line title="品牌简称" isNeeded=true maxCount=15 pholder="简称更容易让大家记住您的品牌喔！如：Black Mirror" inputVal=bm_brand_service.brand.subtitle}}
                {{bmform/bm-edit-line title="一句话介绍(slogan)" isNeeded=true maxCount=15 pholder="请用一句话想家长和孩子们传递您的品牌理念" inputVal=bm_brand_service.brand.slogan}} --}}
                {{#layout-push direction='row' split=false classNames="area-margin-bottom-cate"}}
                    {{#layout-push direction='col' classNames="input_area"}}
                        <p class="edit_title">分类</p>
                        <select class="" id="cateSelect"  name="" onChange={{action 'selectedCate'}}>
                            <option value="">{{bm_brand_service.brand.Cate.title}}</option>
                            {{#each cateArr as |item|}}
                                <option value={{item}}>{{item}}</option>
                            {{/each}}
                        </select>
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction="col" classNames='brand-input-group'}}
                    <span class="edit_title">品牌名称</span>
                    {{input type="text" class="edit_input_small" value=bm_brand_service.brand.title}}
                {{/layout-push}}
                {{#layout-push direction="col" classNames='brand-input-group'}}
                    <span class="edit_title">一句话介绍</span>
                    <span class='edit_subtitle'>请您⽤⼀句话向家长和孩子们传递您的品牌理念</span>
                    {{input type="text" class="edit_input_medium" value=bm_brand_service.brand.slogan}}
                {{/layout-push}}
                {{#layout-push direction="col" classNames='brand-input-group'}}
                    <span class="edit_title">品牌亮点</span>
                    <span class='edit_subtitle'>您的品牌有什么独特之处？（限6个字 至多添加三个）如:PBL教学</span>
                    {{input type="text" class="edit_input_medium" value=bm_brand_service.brand.brand_tangs}}
                {{/layout-push}}
                {{#layout-push direction='row' split=true}}
                    {{#layout-push direction='row' classNames="brand-setup-time"}}
                        <span class="edit_title" >成立时间</span>
                    {{/layout-push }}
                {{/layout-push }}
                {{#if (bmcom/bm-nil-obj bm_brand_service.brand)}}
                {{else}}
                    {{bmform/bm-lay-date inputVal=bm_brand_service.brand.found}}
                {{/if}}
            {{/layout-push}}
        {{/layout-push}}
        {{#layout-push direction='row' classNames='edit_panel_btn_margin'}}
            <button class="edit_between_btn" {{action (mut cur_idx) 1}}>下一步</button>
        {{/layout-push}}
    {{/layout-push }}
</section>
{{/if}}

{{#if (bmeq cur_idx 1)}}
<section id="start-story" class="brand_section" >
    {{#layout-push direction='col' classNames='edit_panel edit_second_panel'}}
        {{#layout-push direction="col" classNames='brand-input-group'}}
            <span class="edit_title_top">品牌故事</span>
            <span class="edit_title">品牌的成立宗旨、教学理念、发展历程与未来期许</span>
            <span class='edit_subtitle'>初心故事将作为品牌介绍将展示在小程序中，让您的品牌口口相传。</span>
            {{textarea value=bm_brand_service.brand.foundStory classNames='edit_input_big alt-edit-text-area' rows=4}}
        {{/layout-push}}
    {{#layout-push direction='row' classNames='edit_panel_btn_margin'}}
        <button class="edit_between_btn" {{action (mut cur_idx) 2}}>下一步</button>
    {{/layout-push}}
    {{/layout-push}}
</section>
{{/if}}

{{#if (bmeq cur_idx 2)}}
<section id="brand-reward" class="brand_section" >
    {{#layout-push direction='col' classNames='edit_panel edit_reward_panel edit_third_panel'}}
        {{#layout-push direction='row' }}
            <span class="edit_title_top">品牌荣誉</span>
        {{/layout-push }}
        <span class="edit_subtitle_nomargin ">请上传证书、奖状等证明，并注明“成立时间-奖项标题”成立时间-奖项标题。</span>
        <span class="edit_subtitle_nomargin ">展示品牌在教学上获得的殊荣，有助于用户更加了解您的品牌。</span>
        <span class="edit_subtitle ">如:2016-年度中国最具价值品牌服务机构奖</span>
        <span class="edit_subtitle_nomargin ">每张图片小于100 KB，至多添加5项</span>
        <div class='line_conatainer_warp'>
            {{#each bm_brand_service.brand.Honors as |item|}}
                {{bmcom/bm-img-uploader needTag=true canEdit=true img=item.img tag=item.tag classNames='brand-honor-pic-upload'}}
            {{/each}}
        </div>

    {{#layout-push direction='row' classNames='edit_panel_btn_margin'}}
        <button class="edit_between_btn" {{action (mut cur_idx) 3}}>下一步</button>
    {{/layout-push}}
    {{/layout-push }}
</section>
{{/if}}

{{#if (bmeq cur_idx 3)}}
<section id="cert" class="brand_section" >
    {{#layout-push direction='col' classNames='edit_panel edit_reward_panel edit_fourth_panel'}}
        {{#layout-push direction='row' }}
            <span class="edit_title_top">资质认证</span>
        {{/layout-push }}
        <span class="edit_subtitle_nomargin ">请上传您获得的相关资质认证</span>
        <span class="edit_subtitle ">如：国际艺术教育联合会常务理事单位</span>
        <span class="edit_subtitle_nomargin ">每张图片小于100 KB，至多添加5项</span>

        <div class='line_conatainer_warp'>
            {{#each bm_brand_service.brand.Certifications as |item|}}
                {{bmcom/bm-img-uploader needTag=true canEdit=true img=item.img tag=item.tag classNames='brand-cert-pic-upload'}}
            {{/each}}
        </div>
    {{!-- {{#layout-push direction='row' classNames='alt_course_edit_btn_margin'}}
        <p class="nav_save menu_button_between" {{action 'saveBrand'}}>完成</p>
    {{/layout-push}} --}}
    {{/layout-push }}
</section>
{{/if}}

{{!-- {{#if (bmeq cur_idx 4)}}
<section id="about-tech" class="brand_section" >
    {{#layout-push direction='col' classNames='edit_panel edit_fifth_panel'}} --}}
    {{!-- {{bmform/bm-edit-area
        classNames='edit_panel'
        title="师资介绍"
        subtitle="师资组成一直是家长们关心的内容，向家长们简单介绍您品牌下的师资队伍，让家长们更加了解您的品牌。"
        maxCount=400
        isNeeded=true
        rowsAmount=5
        inputVal=bm_brand_service.brand.about_us}} --}}
        {{!-- {{#layout-push direction="col" classNames='brand-input-group'}}
                <span class="edit_title">师资介绍</span>
                <span class='edit_subtitle edit_input_big'>师资组成一直是家长们关心的内容，向家长们简单介绍您品牌下的师资队伍，让家长们更加了解您的品牌。</span>
                {{textarea value=bm_brand_service.brand.about_us classNames='edit_input_big alt-edit-text-area' rows=4}}
        {{/layout-push}}
    {{#layout-push direction='row' classNames='alt_course_edit_btn_margin'}}
        <p class="nav_save menu_button_between" {{action 'saveBrand'}}>完成</p>
    {{/layout-push}}
    {{/layout-push}}
</section>
{{/if}} --}}

    </div>
{{/layout-push}}

{{outlet}}
