<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active brand_name" href="#">编辑-品牌主页</a>
    </li>
    <li class="nav-item menu_mid">
        <div class="menu_container">
            {{#link-to 'home' class="nav_cancel_btn menu_button_between"}}
                取消
            {{/link-to}}
            {{!-- {{#link-to 'home' class="nav_save_btn menu_button_between"}} --}}
                {{!-- 保存 --}}
            {{!-- {{/link-to}} --}}
            {{!-- <button class="nav_cancel_btn menu_button_between">取消</button> --}}
            <button class="nav_save_btn menu_button_between" {{action 'saveBrand'}}>保存</button>
        </div>
    </li>
</ul>

<ul class="edit_left_bar">
    <li class="left_bar_item" >
        <div class="edit_left_menu_mid menu_margin_right">
            <a class="edit_left_menu_text" href="#basic-info">基础信息</a>
        </div>
    </li>
    <li class="left_bar_item" >
        <div class="edit_left_menu_mid menu_margin_right">
            <a class="edit_left_menu_text" href="#start-story">初心故事</a>
        </div>
    </li>
    <li class="left_bar_item" >
        <div class="edit_left_menu_mid menu_margin_right">
            <a class="edit_left_menu_text" href="#brand-reward">品牌荣誉</a>
        </div>
    </li>
    <li class="left_bar_item" >
        <div class="edit_left_menu_mid menu_margin_right">
            <a class="edit_left_menu_text" href="#cert">资质认证</a>
        </div>
    </li>
    <li class="left_bar_item" >
        <div class="edit_left_menu_mid menu_margin_right">
            <a class="edit_left_menu_text" href="#about-tech">师资介绍</a>
        </div>
    </li>
</ul>

<section id="basic-info" class="line_container_mid edit_page_top_margin" >
    {{#layout-push direction='col' classNames="edit_panel edit_first_panel"}}
        {{#layout-push direction='row'}}
            <span class="edit_title">基础信息</span>
        {{/layout-push }}
        {{#layout-push direction='row'}}
            <span class="edit_subtitle" >品牌logo</span>
        {{/layout-push }}
        {{#layout-push direction='row'}}
            <div class="edit_logo_container">
                {{#layout-push direction='col' mid=true}}
                    <span class="edit_logo_des">点击上传</span>
                {{/layout-push }}
                <img class="edit_logo_img" src="" />
            </div>
            <div class="v_end edit_logo_right" >
                <span>144px*144px</span>
                <span>支持jpg、jpeg、png，小于100 KB</span>
            </div>
        {{/layout-push }}

        {{bm-edit-line title="品牌名称" isNeeded=true maxCount=15 pholder="如：Black Mirror Tech" inputVal=title}}
        {{bm-edit-line title="品牌简称" isNeeded=true maxCount=15 pholder="简称更容易让大家记住您的品牌喔！如：Black Mirror" inputVal=subtitle}}
        {{bm-edit-line title="一句话介绍(slogan)" isNeeded=true maxCount=15 pholder="请用一句话想家长和孩子们传递您的品牌理念" inputVal=slogan}}

        {{#layout-push direction='row' split=true}}
            {{#layout-push direction='row' }}
                <span class="edit_subtitle" >成立时间</span>
                <div class="v_end">
                    <span class="edit_required" >* 必填</span>
                </div>
            {{/layout-push }}
        {{/layout-push }}
        <div class="line_container" >
            {{#bs-dropdown as |dd|}}
                {{#dd.button classNames="edit_dropdown_btn"}}年<span class="caret"></span>{{/dd.button}}
                {{#dd.menu as |menu|}}
                    {{#menu.item}}
                        {{#menu.link-to "home"}}Home{{/menu.link-to}}
                    {{/menu.item}}
                    {{#menu.item}}
                        {{#menu.link-to "home"}}Dropdowns{{/menu.link-to}}
                    {{/menu.item}}
                {{/dd.menu}}
            {{/bs-dropdown}}

            {{#bs-dropdown as |dd|}}
                {{#dd.button classNames="edit_dropdown_btn"}}月<span class="caret"></span>{{/dd.button}}
                {{#dd.menu as |menu|}}
                    {{#menu.item}}
                        {{#menu.link-to "home"}}Home{{/menu.link-to}}
                    {{/menu.item}}
                    {{#menu.item}}
                        {{#menu.link-to "home"}}Dropdowns{{/menu.link-to}}
                    {{/menu.item}}
                {{/dd.menu}}
            {{/bs-dropdown}}
        </div>

        {{bm-edit-line title="品牌亮点(最多三个)" isNeeded=true maxCount=15 pholder="如：双语教学" inputVal=brand_tags}}
    {{/layout-push }}
</section>

<section id="start-story" class="line_container_mid" >
    {{bm-edit-area
        classNames='edit_panel'
        title="初心故事"
        subtitle="请描述品牌的成立宗旨、教学理念、发展历程与未来期许，让家长们了解您的用户的用心与坚持。初心故事将作为品牌介绍将展示在小程序、app中。"
        maxCount=400
        isNeeded=true
        inputVal=brand_story}}
</section>

<section id="brand-reward" class="line_container_mid " >
    {{#layout-push direction='col' classNames='edit_panel edit_reward_panel'}}
        {{#layout-push direction='row' }}
            <span class="edit_title">品牌荣誉</span>
        {{/layout-push }}
        {{#layout-push direction='row' classNames='edit_title_des_between'}}
            <div class="edit_des">
                <span>请上传证书、奖状等证明，并注明”成立时间-奖项标题“（成立时间-选填），展示品牌在教学上获得的殊荣。上传的教学成绩将被展示于品牌小程序中，有助于用户更加了解您的品牌。</span>
                <br>
                <br>
                <span>每张图片小于100 KB</span>
            </div>
        {{/layout-push }}

        <div class="line_container_warp">
            <div class="edit_logo_container">
                {{#layout-push direction='col' mid=true }}
                    <span class="edit_logo_des">点击上传</span>
                {{/layout-push }}
            </div>
        </div>
    {{/layout-push }}
</section>

<section id="cert" class="line_container_mid " >
    {{#layout-push direction='col' classNames='edit_panel edit_reward_panel'}}
        {{#layout-push direction='row' }}
            <span class="edit_title">资质认证</span>
        {{/layout-push }}
        {{#layout-push direction='row' classNames='edit_title_des_between'}}
            <div class="edit_des">
                <span>请上传您获得的相关资质认证</span>
                <br>
                <span>如：国际艺术教育联合会常务理事单位</span>
                <br>
                <br>
                <span>每张图片小于100 KB</span>
            </div>
        {{/layout-push }}

        <div class="line_container_warp">
            <div class="edit_logo_container">
                {{#layout-push direction='col' mid=true}}
                    <span class="edit_logo_des">点击上传</span>
                {{/layout-push }}
            </div>
        </div>
    {{/layout-push }}
</section>

<section id="about-tech" class="line_container_mid" >
    {{bm-edit-area
        classNames='edit_panel'
        title="师资介绍"
        subtitle="师资组成一直是家长们关心的内容，向家长们简单介绍您品牌下的师资队伍，让家长们更加了解您的品牌。"
        maxCount=400
        isNeeded=true
        rowsAmount=5
        inputVal=team_des}}
</section>

{{outlet}}
