<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active brand_name" href="#">创建班级</a>
    </li>
    <li class="nav-item menu_mid">
        <div class="menu_container">
            {{#link-to 'home' class="nav_cancel_btn menu_button_between"}}
                取消
            {{/link-to}}
            {{#bs-button class="nav_save_btn menu_button_between" onClick=(action (mut modal3) true)}}创建{{/bs-button}}
        </div>
    </li>
</ul>

<ul class="edit_left_bar">
    <li class="left_bar_item" >
        <div class="edit_left_menu_mid menu_margin_right">
            <a class="edit_left_menu_text" href="#kid-info" {{action 'selectClass' argument}}>选择课程</a>
        </div>
    </li>
    <li class="left_bar_item" >
        <div class="edit_left_menu_mid menu_margin_right">
            <a class="edit_left_menu_text" href="#par-story" {{action 'selectNext'}}>安排场地</a>
        </div>
    </li>
    <li class="left_bar_item" >
        <div class="edit_left_menu_mid menu_margin_right">
            <a class="edit_left_menu_text" href="#par-story" {{action 'arrangeNext'}}>班级名称</a>
        </div>
    </li>
</ul>
{{#if selectClass}}
    <section id="select-class" class="line_container_mid edit_page_top_margin">
        <div class="edit-class edit_panel edit_first_panel ">
            {{#layout-push direction=col classNames="edit-class-card"}}
                {{#layout-push direction=col classNames="v_pusht"}}
                        <p class="class-head-title">选择课程</p>
                        <p class="class-sub-title">请选择该班级授课的课程</p>
                {{/layout-push}}
                <select class="select-class">
                  <option value ="volvo">课程1</option>
                  <option value ="saab">Saab</option>
                  <option value="opel">Opel</option>
                  <option value="audi">Audi</option>
                </select>
            {{/layout-push}}
            {{#layout-push direction=col }}
                <button class="nav_save_btn menu_button_between" {{action 'selectNext'}}>下一步</button>
                <p class="link-to-creat">尚未建立课程？前往创建课程。</p>
            {{/layout-push}}
        </div>
    </section>
{{/if}}

{{#if arrangeSite}}
    <section id="arrange-site" class="line_container_mid edit_page_top_margin">
        <div class="edit-class edit_panel edit_first_panel ">
            {{#layout-push direction=col classNames="edit-class-card"}}
                {{#layout-push direction=col classNames="v_pusht"}}
                        <p class="class-head-title">安排场地</p>
                        <p class="class-sub-title">请为该班级安排授课场地</p>
                {{/layout-push}}
                <select class="select-class">
                  <option value ="volvo">场地1</option>
                  <option value ="saab">Saab</option>
                  <option value="opel">Opel</option>
                  <option value="audi">Audi</option>
                </select>
            {{/layout-push}}
            {{#layout-push direction=col }}
                <button class="nav_save_btn menu_button_between" {{action 'arrangeNext'}}>下一步</button>
                <p class="link-to-creat">尚未添加场地？前往添加场地。</p>
            {{/layout-push}}
        </div>
    </section>
{{/if}}

{{#if className}}
    <section id="class-name" class="line_container_mid edit_page_top_margin">
        <div class="edit-class edit_panel edit_first_panel ">
            {{#layout-push direction=col classNames="edit-class-card"}}
                {{#layout-push direction=col classNames="v_pusht"}}
                    <p class="class-head-title">班级名称</p>
                    <p class="class-sub-title">请为班级设定名称，方便识别。</p>
                {{/layout-push}}
                {{#layout-push direction=col classNames="v_pusht class-name-card"}}
                    <p> 字数（0/10）</p>
                    <div class="input-group">
                      <textarea class="form-control"></textarea>
                    </div>
                {{/layout-push}}

            {{/layout-push}}
        </div>
    </section>
{{/if}}

{{#bs-modal open=modal3  onHidden=(action (mut modal3) false) as |modal|}}
    <div class="class-modal">
        {{#modal.body}}
           {{#layout-push direction=col classNames="class-modal-content"}}
                <p class="class-modal-title">温馨提示：</p>
                <p>完整的信息能让参与者更加了解您的服务和品牌。</p>
                <p>班级一旦创建只可更改班级名称，否则需要删除班级之后重新建立，请确定您的课程内容和场地位置无误。</p>
           {{/layout-push}}
        {{/modal.body}}
        {{#modal.footer}}
          {{#bs-button onClick=(action modal.close) classNames="class-modal-cancel"}}取消{{/bs-button}}
          {{#bs-button classNames="class-modal-certain" onClick=(action (mut modal4) true)}}确定{{/bs-button}}
        {{/modal.footer}}
    </div>
{{/bs-modal}}
{{#bs-modal open=modal4  onHidden=(action (mut modal3) false) as |modal|}}
    <div class="class-modal">
        {{#modal.body}}
           {{#layout-push direction=row classNames="class-modal-content"}}
                <img src="" alt="">
                <div class="success-info">
                    <p>成功 创建班級： 班级名称</p>
                    <p>您可以为前往“班级名称”为该班级安排上课时间与授课教师！</p>
                </div>
           {{/layout-push}}
        {{/modal.body}}
        {{#modal.footer}}
          {{#bs-button onClick=(action modal.close) classNames="class-modal-cancel"}}暂不前往{{/bs-button}}
          {{#bs-button classNames="class-modal-certain"}}立即前往{{/bs-button}}
        {{/modal.footer}}
    </div>
{{/bs-modal}}

{{outlet}}
