<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active brand_name" href="#">编辑-学员信息</a>
    </li>
    <li class="nav-item menu_mid">
        <div class="menu_container">
            {{#if isPushing}}
                {{#link-to 'stud' class="nav_cancel_btn menu_button_between"}}
                    取消
                {{/link-to}}
            {{else}}
                {{#link-to 'detail.stud' model.stud.id class="nav_cancel_btn menu_button_between"}}
                    取消
                {{/link-to}}
            {{/if}}
            <button class="nav_save_btn menu_button_between" {{action 'saveInputBtnClicked'}}>保存</button>
        </div>
    </li>
</ul>
{{#layout-push direction='row' split=true classNames='edit_nav' }}
  <span>编辑-学员信息</span>
  <span>
      {{#if isPushing}}
          {{#link-to 'stud' class="edit_nav_btn btn_cacel"}}
              取消
          {{/link-to}}
      {{else}}
          {{#link-to 'detail.stud' model.stud.id class="edit_nav_btn btn_cacel"}}
              取消
          {{/link-to}}
      {{/if}}
      <button class="edit_nav_btn btn_save" {{action 'saveInputBtnClicked'}}>保存</button>
  </span>
{{/layout-push}}

{{#layout-push direction='row' split=true classNames='edit_container' }}
  <ul class="edit_left_nav">
    <li class="left_bar_item">
        <a class="edit_left_menu_text" href="#kid-info">孩子信息</a>
    </li>
    <li class="left_bar_item">
        <a class="edit_left_menu_text" href="#par-story">家长信息</a>
    </li>
  </ul>
  <div class="input_container">
    <section id="kid-info" class="kids_info stu_section">
      {{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
        <p class="edit_title">学员真实姓名</p>
        {{input type="text" class="edit_input kid_name" maxlength='8' value=chd_name}}
        <span class="edit_hint">{{chd_name_length}}/8</span>
      {{/layout-push}}

      {{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
        <p class="edit_title">出生日期</p>
        {{#layout-push direction="row" split=false classNames='date_choose' }}
          {{date-choose data=stud_date}}
          {{!-- {{bm-lay-date}} --}}
        {{/layout-push}}
      {{/layout-push}}
      {{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
        <p class="edit_title">性别</p>
        <div class="">
          <span class="radio-inline">
              <input type="radio" name="sex" value="male" checked={{chd_gender_male}}/>
              <label for="man">男生</label>
          </span>
          <span class="radio-inline">
              <input type="radio" name="sex" value="female" checked={{chd_gender_female}}/>
              <label for="woman">女生</label>
          </span>
        </div>
      {{/layout-push}}
      {{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
        <p class="edit_title">就读学校<span class="sub_title">(选填)</span></p>
        {{input type="text" class="edit_input kid_school" maxlength='14' value=chd_school}}
        <span class="edit_hint">{{school_length}}/14</span>
      {{/layout-push}}
    </section>
    <section id="par-story" class="parent_info stu_section">
      {{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
        <p class="edit_title">家长姓名</p>
        {{input type="text" class="edit_input par_name" maxlength='8' value=par_name}}
        <span class="edit_hint">{{par_name_length}}/8</span>
      {{/layout-push}}

      {{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
        <p class="edit_title">与学员关系</p>
        <div class="">
          <span class="radio-inline">
              <input type="radio" name="rel" value="fa" />
              <label for="papa">父亲</label>
          </span>
          <span class="radio-inline">
              <input type="radio" name="rel" value="ma" checked/>
              <label for="mom">母亲</label>
          </span>
          <span class="radio-inline">
              <input type="radio" name="rel" value="other"/>
              <label for="other">{{input type="text" class="edit_input kid_rel" value=""}}</label>
          </span>
        </div>
      {{/layout-push}}
      {{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
        <p class="edit_title">联系方式</p>
        {{input type="text" class="edit_input par_contact" value=par_contact}}
      {{/layout-push}}
      {{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
        <p class="edit_title">地址</p>
        {{input type="text" class="edit_input par_address" maxlength="14" value=par_address }}
        <span class="edit_hint">{{address_length}}/14</span>
      {{/layout-push}}
    </section>
  </div>
{{/layout-push}}
{{!--
<ul class="edit_left_bar">
  <li class="left_bar_item">
    <div class="edit_left_menu_mid menu_margin_right">
      <a class="edit_left_menu_text" href="#kid-info">孩子信息</a>
    </div>
  </li>
  <li class="left_bar_item">
    <div class="edit_left_menu_mid menu_margin_right">
      <a class="edit_left_menu_text" href="#par-story">家长信息</a>
    </div>
  </li>
</ul>

<section id="kid-info" class="line_container_mid edit_page_top_margin">
  <div class="edit_panel v_push edit_first_panel">
    {{#layout-push direction="row" }}
      <span class="edit_title">孩子信息</span>
    {{/layout-push}}

    {{#layout-push direction="row" }}
      <div class="edit_logo_container">
        <div class="v_mid">
          <span class="edit_logo_des">点击上传</span>
        </div>
        <img class="edit_logo_img" src="" />
      </div>
      <div class="v_end edit_logo_right">
        <span>144px*144px</span>
        <span>支持jpg、jpeg、png，小于100 KB</span>
      </div>
    {{/layout-push}}

    {{#layout-push direction='row' split=true}}
      {{bm-edit-line title="孩子姓名" isNeeded=true maxCount=8 inputVal=chd_name classNames='line_half' }} {{bm-edit-line title="孩子昵称" isNeeded=true maxCount=8 inputVal=chd_nickname classNames='line_half' }}
    {{/layout-push}}

    {{#layout-push direction='row' split=true}}
      {{#layout-push direction='col' classNames='line_half' }}
        <div class="line_container_split">
          <div class="line_container">
            <span class="edit_subtitle">出生日期</span>
            <div class="v_end">
              <span class="edit_required">* 必填</span>
            </div>
          </div>
        </div>
        <div class="line_container">

          {{date-choose data=stud_date}}
        </div>
      {{/layout-push}}

      {{bm-edit-line title="性别" isNeeded=true maxCount=1 inputVal=chd_gender_str classNames='line_half'}}
    {{/layout-push}}
    {{bm-edit-line title="就读学校" isNeeded=true maxCount=14 inputVal=chd_school}}
  </div>
</section>

<section id="par-story" class="line_container_mid ">
  <div class="edit_panel v_push ">
    {{#layout-push direction="row" }}
      <span class="edit_title">家长信息</span>
    {{/layout-push}}

    {{#layout-push direction='row' split=true}}
      {{bm-edit-line title="家长姓名" isNeeded=true maxCount=8 inputVal=par_name classNames='line_half'}} {{bm-edit-line title="家长昵称" isNeeded=true maxCount=8 inputVal=par_nickname classNames='line_half'}}
    {{/layout-push}}

    {{bm-edit-line title="与孩子的关系" isNeeded=true inputVal=par_rs }}

    {{#layout-push direction='row' split=true}}
      {{bm-edit-line title="联系方式" isNeeded=true maxCount=8 inputVal=par_contact classNames='line_half'}} {{bm-edit-line title="微信 Wechat" isNeeded=false maxCount=8 inputVal=par_wechat classNames='line_half'}}
    {{/layout-push}}
    {{bm-edit-line title="地址" isNeeded=false inputVal=par_address maxCount=30 }}

    {{#layout-push direction="row" }}
      <span class="edit_title">紧急联络人</span>
    {{/layout-push }}

    {{#layout-push direction='row' split=true}}
      {{bm-edit-line title="姓名" isNeeded=false maxCount=8 inputVal=urg_name classNames='line_half'}} {{bm-edit-line title="昵称" isNeeded=false maxCount=8 inputVal=urg_nickname classNames='line_half'}}
    {{/layout-push }}
    {{#layout-push direction='row' split=true}}
      {{bm-edit-line title="与孩子关系" isNeeded=false maxCount=8 inputVal=urg_rs classNames='line_half'}} {{bm-edit-line title="联系方式" isNeeded=false maxCount=8 inputVal=urg_contact classNames='line_half'}}
    {{/layout-push }}

  </div>
</section> --}}

{{outlet}}
