
{{#layout-push direction='row' split=true classNames='edit_nav' }}
	<span classNames='edit_nav_title'>编辑学生信息</span>
	<span>
		{{#if isPushing}}
			{{#link-to 'stud' class="edit_nav_btn btn_cacel"}}
				取消
			{{/link-to}}
		{{else}}
			{{#link-to 'detail.stud' bm_stud_service.stud.id class="edit_nav_btn btn_cacel"}}
				取消
			{{/link-to}}
		{{/if}}
		<button class="edit_nav_btn btn_save" {{action 'saveInputBtnClicked'}}>提交</button>
	</span>
{{/layout-push}}

{{#layout-push direction='row' split=true classNames='edit_container experience-content' }}
	<ul class="edit_left_nav">
		<li class="left_bar_item">
			<a class="edit_left_menu_stud">孩子信息</a>
		</li>
		<li class="left_bar_item">
			<a class="edit_left_menu_stud">监护人信息</a>
		</li>
		<li class="left_bar_item">
			<a class="edit_left_menu_stud">更多信息</a>
		</li>
	</ul>
	<div class="input_container">
		<section id="kid-info" class="kids_info stu_section">
			<p class="title-name">孩子信息</p>
			{{#layout-push direction='row'}}
				{{#layout-push direction="col"  classNames='input_area area-margin-bottom name-area' }}
					{{bmform/bm-edit-line title='真实姓名'  inputVal=bm_stud_service.stud.name classNames='input_area area-margin-bottom'}}
				{{/layout-push}}
				{{#layout-push direction="col" classNames='input_area area-margin-bottom' }}
					{{bmform/bm-edit-line title='昵称'  inputVal=bm_stud_service.stud.nickname classNames='input_area area-margin-bottom'}}
				{{/layout-push}}
			{{/layout-push}}

			{{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
				<p class="edit_title">性别</p>

				{{bmcom/bm-radio-inline cur_idx=sex_idx judge=sex titles=genderCheck}}
			{{/layout-push}}

			{{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
				<p class="edit_title">出生日期</p>
				{{#layout-push direction="row" split=false classNames='date_choose' }}
	                {{#if (bmcom/bm-nil-obj bm_stud_service.stud)}}
	                {{else}}
						{{bmform/bm-lay-date inputVal=bm_stud_service.stud.dob}}
	                {{/if}}
				{{/layout-push}}
			{{/layout-push}}

			{{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
				{{bmform/bm-edit-line title='就读学校' largeInput=true  inputVal=bm_stud_service.stud.school classNames='input_area area-margin-bottom'}}
			{{/layout-push}}

			{{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
				{{bmform/bm-edit-line title='地址' largeInput=true  inputVal=bm_stud_service.stud.address classNames='input_area area-margin-bottom'}}
			{{/layout-push}}
		</section>
		{{#each bm_stud_service.stud.Guardians as |item|}}
			<section class="parent_info stu_section" id="par-story">
				<p class="title-name">监护人信息</p>
				{{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
					{{bmform/bm-edit-line title='姓名'  inputVal=item.name classNames='input_area area-margin-bottom'}}
				{{/layout-push}}

				{{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
					<p class="edit_title">与孩子关系</p>
						{{bmcom/bm-radio-inline cur_idx=rela_idx titles=relaChecked judge=rela}}
				{{/layout-push}}
				{{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
					{{bmform/bm-edit-line numberInput=true title='联系方式'  inputVal=item.contact classNames='input_area area-margin-bottom'}}
					{{bmform/bm-edit-line title='微信'  inputVal=bm_stud_service.stud.wechat classNames='input_area area-margin-bottom'}}
				{{/layout-push}}
			</section>
		{{/each}}

		<section class="kids_info stu_section" id="other-info">
			<p class="title-name">更多信息</p>
			{{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
				<p class="edit_title">课程顾问</p>
				{{#layout-push direction="row" classNames="area-margin-bottom"}}
					<div class="course-reserve-modal-select error-border">
						<select class="" id='techSelect' name="" onChange={{action 'selectedTech'}}>
						   <option value="">{{bm_stud_service.stud.teacherName}}</option>
						   {{#each bm_tech_service.techs as |item|}}
							   <option value={{item.name}}>{{item.name}}</option>
						   {{/each}}
						</select>
					</div>
				{{/layout-push}}
			{{/layout-push}}

			{{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
				<p class="edit_title">渠道来源</p>
				{{#layout-push direction="row" classNames="area-margin-bottom"}}
					<div class="course-reserve-modal-select error-border">
						<select class="" id="originSelect"  name="" onChange={{action 'selectedOrigin'}}>
						   <option value="">{{bm_stud_service.stud.sourceWay}}</option>
						   {{#each origin as |item|}}
							   <option value={{item}}>{{item}}</option>
						   {{/each}}
						</select>
					</div>
				{{/layout-push}}
			{{/layout-push}}
		</section>
	</div>
{{/layout-push}}

{{outlet}}
