{{#bp-layout direction='row' main='between' classNames='edit_nav' }}
	<span classNames='edit_nav_title'>编辑学生信息</span>
	<span>
		{{#bp-button type="subtle" onClick=(action 'cancelInputBtnClicked')}}取消{{/bp-button}}
		{{#bp-button type="primary" onClick=(action 'saveInputBtnClicked')}}提交{{/bp-button}}
	</span>
{{/bp-layout}}
{{#bp-layout direction='row' main='between' classNames='edit_container experience-content' }}
	<ul class="edit_left_nav">
		<li class="left_bar_item">
			<a class="edit_left_menu_stud" href="#kid-info">学生信息</a>
		</li>
		<li class="left_bar_item">
			<a class="edit_left_menu_stud" href='#par-story'>家长信息</a>
		</li>
		<li class="left_bar_item">
			<a class="edit_left_menu_stud" href="#other-info">更多信息</a>
		</li>
	</ul>
	<div class="input_container">
		<a id="kid-info" class="anchor-point"></a>
		<section class="kids_info stu_section">
			<p class="title-name">学生信息</p>
			{{bp-input
				classNames="mb-4 name-area"
				label='真实姓名'
				value=model.stud.name
				onChange=(action (mut model.stud.name))}}
			{{bp-input
				classNames="mb-4"
				label='昵称'
				value=model.stud.nickname
				onChange=(action (mut model.stud.nickname))}}
			{{bp-radio-index
				classNames='mb-4'
				title='性别' 
				curValueIndex=sex_idx 
				radios=genderCheck}}
			{{#bp-layout direction="col" main='between' classNames='input_area mb-4' }}
				<p class="edit_title">出生日期</p>
				{{#bp-layout direction="row" split=false classNames='date_choose' }}
					{{#if (bmcom/bm-nil-obj model.stud)}}
					{{else}}
						{{bmform/bm-lay-date inputVal=model.stud.dob}}
					{{/if}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{bp-input
				classNames="mb-4"
				label='就读学校'
				block=true 
				value=model.stud.school
				onChange=(action (mut model.stud.school))}}
			{{!-- {{#bp-layout direction='row'}}
				{{#bp-layout direction="col"  classNames='input_area mb-4 name-area' }}
					{{bmform/bm-edit-line title='真实姓名'  inputVal=model.stud.name classNames='input_area mb-4'}}
				{{/bp-layout}}
				{{#bp-layout direction="col" classNames='input_area mb-4' }}
					{{bmform/bm-edit-line title='昵称'  inputVal=model.stud.nickname classNames='input_area mb-4'}}
				{{/bp-layout}}
			{{/bp-layout}} --}}
			{{!-- {{#bp-layout direction="col" main='between' classNames='input_area mb-4' }}
				<p class="edit_title">性别</p>
				{{bmcom/bm-radio-inline cur_idx=sex_idx judge=sex titles=genderCheck}}
			{{/bp-layout}} --}}
			{{!-- {{#bp-layout direction="col" main='between' classNames='input_area mb-4' }}
				{{bmform/bm-edit-line title='就读学校' largeInput=true  inputVal=model.stud.school classNames='input_area mb-4'}}
			{{/bp-layout}} --}}
			{{bmform/bm-detail-address
                provinces=provinces
                citys=citys
                areas=areas
                province=model.stud.province
                city=model.stud.city
                area=model.stud.district
                title='地址'
                detailAddress=model.stud.address
				classNames="mb-4"}}
		</section>
		<a id="par-story" class="anchor-point"></a>
		{{#each model.stud.guardians as |item|}}
			<section class="parent_info stu_section">
				<p class="title-name">家长信息</p>
				{{bp-input
					classNames="mb-4"
					block=true 
					label='姓名'
					value=item.name
					onChange=(action (mut item.name))}}
				{{bp-radio-index
					classNames='mb-4'
					title='关系' 
					curValueIndex=rela_idx 
					radios=relaChecked}}
				{{bp-input
					classNames="mb-4"
					block=true 
					maxLength="11"
					label='联系方式'
					value=item.contact
					onChange=(action (mut item.contact))}}
				{{bp-input
					classNames="mb-4"
					block=true 
					label='微信'
					value=item.wechat
					onChange=(action (mut item.wechat))}}
				{{!-- {{#bp-layout direction="col" main='between' classNames='input_area mb-4' }}
					{{bmform/bm-edit-line title='姓名'  inputVal=item.name classNames='input_area mb-4'}}
				{{/bp-layout}}

				{{#bp-layout direction="col" main='between' classNames='input_area mb-4' }}
					<p class="edit_title">与学生关系</p>
						{{bmcom/bm-radio-inline cur_idx=rela_idx titles=relaChecked judge=rela}}
				{{/bp-layout}}
				{{#bp-layout direction="col" main='between' classNames='input_area mb-4' }}
					{{bmform/bm-edit-line numberInput=true title='联系方式' maxlength="11" inputVal=item.contact classNames='input_area mb-4'}}
					{{bmform/bm-edit-line title='微信'  inputVal=item.wechat classNames='input_area mb-4'}}
				{{/bp-layout}} --}}
			</section>
		{{/each}}
		<a id="other-info" class="anchor-point"></a>
		<section class="kids_info stu_section">
			<p class="title-name">更多信息</p>
			{{log model.techs}}
			{{log model.stud.sourceWay}}
			{{bp-dropdown-simple
				classNames='mb-4'
				title="课程顾问"
				valueId=cur_tech_id
				options=model.techs
				optionKey='name'}}
			{{bp-dropdown-simple
				classNames='mb-4'
				title="渠道来源"
				choosedValue=model.stud.sourceWay
				options=origin
				optionKey='name'}}
			{{!-- {{bmform/bm-base-select type="id" idType=true selId='teacherName' selTitle="课程顾问" options=model.techs curSelect=cur_tech_id classNames="input_area mb-4"}}
			{{bmform/bm-base-select selId='sourceWay' selTitle="渠道来源" options=origin curSelect=model.stud.sourceWay classNames="input_area"}} --}}
		</section>
	</div>
{{/bp-layout}}
{{outlet}}