{{#bp-layout direction='row' main='between' classNames='edit_nav' }}
	<span classNames='edit_nav_title'>报名</span>
	<span>
		{{#bp-button type="subtle" onClick=(action 'cancelInputBtnClicked')}}关闭流程{{/bp-button}}
	</span>
{{/bp-layout}}
{{#bp-layout direction='row' main='between' classNames='edit_container experience-content' }}
	<div class="edit_area">
		{{#if (bmeq cur_page_idx 0)}}
			{{#bp-layout direction='col' main='between' classNames='add-pt-stud add-pt-stud-bottom add-pt-stud-height add-stud-title-bottom'}}
				{{#bp-layout direction='col'}}
					{{#bp-layout direction='row' main='center' classNames='add-stud-title'}}
						{{#bp-layout direction='col' main='center' classNames='add-title active'}}
							<img src="" alt="">
							<p>学员信息</p>
							<p>1</p>
						{{/bp-layout}}
						{{#bp-layout direction='col' main='center' classNames='add-title'}}
							<img src="" alt="">
							<p>选择课程</p>
							<p>2</p>
						{{/bp-layout}}
						{{#bp-layout direction='col' main='center' classNames='add-title'}}
							<img src="" alt="">
							<p>费用结算</p>
							<p>3</p>
						{{/bp-layout}}
					{{/bp-layout}}
					{{#bp-layout direction='col' main='center' classNames='search-area'}}
						<div class="search">
							{{#bp-layout direction='row' classNames='search-btn-input'}}
								{{input type="text" name="" value=contact class="search-input" placeholder="手机号"}}
								{{#bp-button type="primary" class="btn_save" onClick=(action 'searchStud')}}搜索{{/bp-button}}
								{{!-- <button type="button" name="button" class="btn_save" {{action ''}}></button> --}}
							{{/bp-layout}}
							{{#if studList}}
								{{#bp-layout direction="row" classNames="stud-list-area" }}
									<table class='ib_table_head_pt stud_list_table'>
										{{bmtable/bm-table-inner type="srarchStuds" listData=studs onRadioChange=(action 'radioChange')}}
									</table>
								{{/bp-layout}}
							{{else}}
								{{#bp-layout direction='row'}}
									<p class="note">若尚未在小程序进行注册者，请先帮助注册</p>
									<img src="" alt="" class="code-img">
								{{/bp-layout}}
							{{/if}}
						</div>
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout direction='row' classNames='btn-area'}}
					{{#if inputVal}}
						{{#bp-layout direction='row' classNames='add-stud'}}
							<p>没有要添加的学员？</p>
							<p class="link"  {{action 'addPtStudModal'}}>添加学生</p>
							{{!-- {{#bp-button type="primary" onClick=(action (mut cur_page_idx 1))}}下一步{{/bp-button}} --}}
							<button type="button" name="button" class="p-btn primary" {{action (mut cur_page_idx) 1}}>下一步</button>
						{{/bp-layout}}
					{{else}}
						{{#bp-button disabled=true}}下一步{{/bp-button}}
					{{/if}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/if}}
		{{#if (bmeq cur_page_idx 1)}}
			{{#bp-layout direction='col' main='between' classNames='add-pt-stud add-pt-stud-bottom'}}
				{{#bp-layout direction='col'}}
					{{#bp-layout direction='row' main='center' classNames='add-stud-title'}}
						{{#bp-layout direction='col' main='center' classNames='add-title'}}
							<img src="" alt="">
							<p>学员信息</p>
							<p>1</p>
						{{/bp-layout}}
						{{#bp-layout direction='col' main='center' classNames='add-title active'}}
							<img src="" alt="">
							<p>选择课程</p>
							<p>2</p>
						{{/bp-layout}}
						{{#bp-layout direction='col' main='center' classNames='add-title'}}
							<img src="" alt="">
							<p>费用结算</p>
							<p>3</p>
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout direction='row' main='between' classNames='stud_detail' }}
				{{#bp-layout direction='col'  classNames='basis_margin basis_margin_height stud_detail_basis' }}
					<div class="head-img">
						<img src={{headImg}} alt="">
					</div>
					<p class="basis_name">name</p>
					{{#bp-layout direction='col' main='center'}}
						{{#bp-layout direction='col' main='left' classNames='stud_detail_other' }}
							<div class="other_self">
								{{#bp-layout direction='col'classNames="info-block-outer"}}
									<div class="self_info">
										{{bmdetail/stud-basis-info label="手机号" content=studInfo.guardians.firstObject.contact}}
										{{bmdetail/stud-basis-info label="性别" content=studInfo.gender}}
										{{bmdetail/stud-basis-info label="年龄" content=studInfo.dob}}
									</div>
								{{/bp-layout}}
							</div>
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout }}
				{{#bp-layout direction='col' main='between' classNames='stud_detail_other stud_detail_other_height' }}
					{{#bp-layout direction='row' main='end'}}
						{{#bp-button onClick=(action 'addStudCourse')}}选择课程{{/bp-button}}
					{{/bp-layout}}
					{{#if (bmeq curItems null)}}
						{{#bp-layout direction='col' main='center' cross='center' classNames='stud_course_area'}}
							<p class="note">点击“选择课程”为学生选择需要的课程</p>
						{{/bp-layout}}
					{{else}}
						{{#bp-layout direction='col'  classNames='stud_course_area'}}
							<table class='co_table_head'>
								<tr class='ib_table_title tr-height'>
									{{#each model.courseTItlePage as |item|}}
										<th class='ib_table_item'>{{item}}</th>
									{{/each}}
								</tr>
							</table>
							<table class='co_table_head table-self'>
								{{bmtable/bm-table-inner type="coursePageList" listData=curItems onCheckChange=(action 'checkChange')}}
							</table>
						{{/bp-layout}}
					{{/if}}
					{{#bp-layout direction='row' main='end'}}
						<button type="button" name="button" class="p-btn default p-btn-right" {{action (mut cur_page_idx) 0}}>上一步</button>
						<button type="button" name="button" class="p-btn primary" {{action (mut cur_page_idx) 2}}>下一步</button>
						{{!-- {{#bp-button classNames='pre-btn' onClick=(action (mut cur_page_idx 0))}}上一步{{/bp-button}} --}}
						{{!-- {{#bp-button type='primary' onClick=(action (mut cur_page_idx 2))}}下一步{{/bp-button}} --}}
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout }}
		{{/if}}
		{{#if (bmeq cur_page_idx 2)}}
			{{#bp-layout direction='col' main='between' classNames='add-pt-stud add-pt-stud-bottom add-pt-stud-height add-stud-title-bottom'}}
				{{#bp-layout direction='col'}}
					{{#bp-layout direction='row' main='center' classNames='add-stud-title'}}
						{{#bp-layout direction='col' main='center' classNames='add-title'}}
							<img src="" alt="">
							<p>学员信息</p>
							<p>1</p>
						{{/bp-layout}}
						{{#bp-layout direction='col' main='center' classNames='add-title'}}
							<img src="" alt="">
							<p>选择课程</p>
							<p>2</p>
						{{/bp-layout}}
						{{#bp-layout direction='col' main='center' classNames='add-title active'}}
							<img src="" alt="">
							<p>费用结算</p>
							<p>3</p>
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout direction='col' classNames='scroll'}}
					{{#bp-layout direction='col' classNames='scroll-area'}}
						{{#bp-layout direction='col' classNames='price-area'}}
							{{#bp-layout direction='col' classNames='price-table'}}
								{{#bp-layout direction='col'  classNames='stud_course_area'}}
									<table class='co_table_head'>
										<tr class='ib_table_title tr-height'>
											{{#each model.courseTitleOrder as |item|}}
												<th class='ib_table_item'>{{item}}</th>
											{{/each}}
										</tr>
									</table>
									<table class='co_table_head table-self'>
										{{bmtable/bm-table-inner type="courseOrderList" listData=curItems onCheckChange=(action 'checkChange')}}
									</table>
								{{/bp-layout}}
							{{/bp-layout}}
							{{#bp-layout direction='row' main='between' cross='center' classNames='price-text'}}
								<p>优惠方案</p>
								<p>
									<span class="p-icon">减</span>手动输入优惠
								</p>
								<p>￥-1000.00</p>
							{{/bp-layout}}
							{{#bp-layout direction='row' main='end' cross='center' classNames='price-text'}}
									<p>金额(实收款)</p>
									<p class="price">￥27000.00</p>
							{{/bp-layout}}
						{{/bp-layout}}
						{{#bp-layout direction='col' classNames='payment-area'}}
							{{#bp-layout direction='col'}}
								<p class="title">支付信息</p>
								{{#bp-layout direction='row'}}
									{{#bp-layout direction='row' classNames='form-list left-form-margin'}}
										<p class="form-title">选择付款方式</p>
										{{bp-dropdown-simple
											choosedValue=simpleChoosedValue
											options=model.payment
											optionKey='name'}}
									{{/bp-layout}}
									{{#bp-layout direction='row' cross='main' classNames='form-list'}}
										<p class="form-title">实收金额</p>
										{{bp-input }}
										{{#bp-button}}全款{{/bp-button}}
									{{/bp-layout}}
								{{/bp-layout}}
							{{/bp-layout}}
							{{#bp-layout direction='col' classNames='from-second'}}
								<p class="title">经办信息</p>
								{{#bp-layout direction='row'}}
									{{#bp-layout direction='row' classNames='form-list left-form-margin'}}
										<p class="form-title">选择课程顾问</p>
										{{bp-dropdown-simple
											choosedValue=simpleChoosedValue
											options=model.techs
											optionKey='name'}}
									{{/bp-layout}}
									{{#bp-layout direction='row' classNames='form-list'}}
										<p class="form-title">经办人</p>
										<p class="form-title manager">百造</p>
									{{/bp-layout}}
								{{/bp-layout}}
								{{#bp-layout direction='row' classNames='form-list form-top'}}
									<p class="form-title">备注</p>
									{{bp-input }}
								{{/bp-layout}}
							{{/bp-layout}}
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout direction='row' main='end'}}
					<button type="button" name="button" class="p-btn default p-btn-right" {{action (mut cur_page_idx) 1}}>上一步</button>
					<button type="button" name="button" class="p-btn primary" {{action 'confirm'}}>确认报名</button>
				{{/bp-layout}}
			{{/bp-layout}}
		{{/if}}
	</div>
{{/bp-layout}}
{{#bmcom/bm-modal-container title="" mswitch=showAddCourse
		type='addPtStud'
		successbtncss='exp-modal-confirm'
		cancelbtncss='exp-modal-cancel'
		canceltext='取消'
		successtext='确定'
		onCancelBtnClicked=(action 'cancelCourse')
		onSuccessBtnClicked=(action 'successCourse')}}
		<div class="add-pt-stud-modal">
			{{#bp-layout direction='col' main='center'}}
				<p class="title">选择课程</p>
				{{#bp-layout direction='row' classNames='search'}}
					{{input type="text" name="" value=courseName class="search-stud-course" placeholder="搜索"}}
					<i class="icon-search" {{action 'searchCourse' argument}}></i>
				{{/bp-layout}}
				{{#bp-layout direction='col' classNames='course-list'}}
					{{#bp-layout direction='col' classNames='table-area'}}
						<table class='co_table_head'>
							<tr class='ib_table_title tr-height'>
								{{#each model.courseTitle as |item|}}
									<th class='ib_table_item'>{{item}}</th>
								{{/each}}
							</tr>
						</table>
						<table class='co_table_head'>
							{{bmtable/bm-table-inner type="courseList" listData=model.courseList onCheckChange=(action 'checkChange')}}
						</table>
						{{!-- {{bmtable/bm-table-inner type="studsList" listData=studs onClickInner=(action "courseClicked")}} --}}
						{{!-- {{bmtable/bm-table-inner type="studsList" listData=courseList}} --}}
					{{/bp-layout}}

				{{/bp-layout}}
				<p class="count">已选0项</p>
			{{/bp-layout}}
		</div>
{{/bmcom/bm-modal-container}}
{{#bmcom/bm-modal-container title="" mswitch=showAddStud
		type='addPtStud'
		successbtncss='exp-modal-confirm'
		cancelbtncss='exp-modal-cancel'
		canceltext='取消'
		successtext='手动添加'
		onCancelBtnClicked=(action 'cancelAdd')
		onSuccessBtnClicked=(action 'successAdd')}}
		<div class="add-pt-stud-modal">
			{{#bp-layout direction='col'}}
				<p class="title">添加学生</p>
				<p class="title">学生信息</p>
				{{#bp-layout direction='row' main='between'}}
					{{#bp-layout direction='row' classNames='group'}}
						<p class="subtitle">学生姓名</p>
						{{bmform/bm-edit-line notitlt=true  inputVal=model.stud.name classNames='input_area area-margin-bottom'}}
					{{/bp-layout}}
					{{#bp-layout direction='row' classNames='group'}}
						<p class="subtitle">就读学校</p>
						{{bmform/bm-edit-line notitlt=true  inputVal=model.stud.school classNames='input-middle'}}
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout direction='row' main='between'}}
					{{#bp-layout direction='row' classNames='group'}}
						<p class="subtitle">性别</p>
						{{bmcom/bm-radio-inline cur_idx=sex_idx judge=sex titles=genderCheck}}
					{{/bp-layout}}
					{{#bp-layout direction='row' classNames='group'}}
						<p class="subtitle">年级</p>
						{{bmform/bm-base-select selId='sourceWay' selTitle="" options=grade curSelect=model.stud.grade classNames="grade-select"}}
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout direction='row' classNames='group bottom'}}
					<p class="subtitle">出生日期</p>
					{{#bp-layout direction="row" split=false classNames='date_choose' }}
						{{bmform/bm-lay-date inputVal=model.stud.dob}}
					{{/bp-layout}}
				{{/bp-layout}}
				<p class="title">家长信息</p>
					{{#bp-layout direction='row' main='between'}}
						{{#bp-layout direction='row' classNames='group'}}
							<p class="subtitle">姓名</p>
							{{bmform/bm-edit-line notitlt=true  inputVal=item.name classNames='input_area area-margin-bottom'}}
						{{/bp-layout}}
						{{#bp-layout direction='row' classNames='group'}}
							<p class="subtitle">联系方式</p>
							{{bmform/bm-edit-line notitlt=true numberInput=true maxlength="11" inputVal=item.contact classNames='input-middle'}}
						{{/bp-layout}}
					{{/bp-layout}}
					{{#bp-layout direction='row' main='between'}}
						{{#bp-layout direction='row' classNames='group'}}
							<p class="subtitle">关系</p>
							{{bmcom/bm-radio-inline cur_idx=rela_idx titles=relaChecked judge=rela}}
						{{/bp-layout}}
					{{/bp-layout}}
			{{/bp-layout}}
		</div>
{{/bmcom/bm-modal-container}}
{{!-- {{#bp-layout direction='row' main='between' classNames='edit_container experience-content' }}
	<ul class="edit_left_nav">
		<li class="left_bar_item">
			<a class="edit_left_menu_stud" href="#kid-info">孩子信息</a>
		</li>
		<li class="left_bar_item">
			<a class="edit_left_menu_stud" href='#par-story'>监护人信息</a>
		</li>
		<li class="left_bar_item">
			<a class="edit_left_menu_stud" href="#other-info">更多信息</a>
		</li>
	</ul>
	<div class="input_container">
		<a id="kid-info" class="anchor-point"></a>
		<section class="kids_info stu_section">
			<p class="title-name">孩子信息</p>
			{{#bp-layout direction='row'}}
				{{#bp-layout direction="col"  classNames='input_area area-margin-bottom name-area' }}
					{{bmform/bm-edit-line title='真实姓名'  inputVal=model.stud.name classNames='input_area area-margin-bottom'}}
				{{/bp-layout}}
				{{#bp-layout direction="col" classNames='input_area area-margin-bottom' }}
					{{bmform/bm-edit-line title='昵称'  inputVal=model.stud.nickname classNames='input_area area-margin-bottom'}}
				{{/bp-layout}}
			{{/bp-layout}}

			{{#bp-layout direction="col" main='between' classNames='input_area area-margin-bottom' }}
				<p class="edit_title">性别</p>
				{{bmcom/bm-radio-inline cur_idx=sex_idx judge=sex titles=genderCheck}}
			{{/bp-layout}}

			{{#bp-layout direction="col" main='between' classNames='input_area area-margin-bottom' }}
				<p class="edit_title">出生日期</p>
				{{#bp-layout direction="row" split=false classNames='date_choose' }}
	                {{#if (bmcom/bm-nil-obj model.stud)}}
	                {{else}}
						{{bmform/bm-lay-date inputVal=model.stud.dob}}
	                {{/if}}
				{{/bp-layout}}
			{{/bp-layout}}

			{{#bp-layout direction="col" main='between' classNames='input_area area-margin-bottom' }}
				{{bmform/bm-edit-line title='就读学校' largeInput=true  inputVal=model.stud.school classNames='input_area area-margin-bottom'}}
			{{/bp-layout}}

			{{bmform/bm-detail-address
                provinces=provinces
                citys=citys
                areas=areas
                province=model.stud.province
                city=model.stud.city
                area=model.stud.district
                title='地址'
                detailAddress=model.stud.address
				classNames="area-margin-bottom"}}
		</section>
		<a id="par-story" class="anchor-point"></a>
		{{#each model.stud.guardians as |item|}}
			<section class="parent_info stu_section">
				<p class="title-name">监护人信息</p>
				{{#bp-layout direction="col" main='between' classNames='input_area area-margin-bottom' }}
					{{bmform/bm-edit-line title='姓名'  inputVal=item.name classNames='input_area area-margin-bottom'}}
				{{/bp-layout}}

				{{#bp-layout direction="col" main='between' classNames='input_area area-margin-bottom' }}
					<p class="edit_title">与孩子关系</p>
						{{bmcom/bm-radio-inline cur_idx=rela_idx titles=relaChecked judge=rela}}
				{{/bp-layout}}
				{{#bp-layout direction="col" main='between' classNames='input_area area-margin-bottom' }}
					{{bmform/bm-edit-line numberInput=true title='联系方式' maxlength="11" inputVal=item.contact classNames='input_area area-margin-bottom'}}
					{{bmform/bm-edit-line title='微信'  inputVal=item.wechat classNames='input_area area-margin-bottom'}}
				{{/bp-layout}}
			</section>
		{{/each}}
		<a id="other-info" class="anchor-point"></a>
		<section class="kids_info stu_section">
			<p class="title-name">更多信息</p>
			{{bmform/bm-base-select type="id" idType=true selId='teacherName' selTitle="课程顾问" options=model.techs curSelect=cur_tech_id classNames="input_area area-margin-bottom"}}
			{{bmform/bm-base-select selId='sourceWay' selTitle="渠道来源" options=origin curSelect=model.stud.sourceWay classNames="input_area"}}
		</section>
	</div>
{{/bp-layout}} --}}
{{outlet}}
