{{#bp-layout direction='row' main='between' classNames='edit_nav' }}
	<span classNames='edit_nav_title'>报名</span>
	<span>
		<button class="edit_nav_btn btn_cacel" {{action 'cancelInputBtnClicked'}}>关闭流程</button>
	</span>
{{/bp-layout}}
{{#bp-layout direction='row' main='between' classNames='edit_container experience-content' }}
	<div class="edit_area">
		{{#if (bmeq cur_page_idx 0)}}
			{{#bp-layout direction='col' main='between' classNames='add-pt-stud add-pt-stud-height'}}
				{{#bp-layout direction='col'}}
					{{#bp-layout direction='row' main='center' classNames='add-stud-title'}}
						{{#bp-layout direction='col' main='center' classNames='add-title active'}}
							<img src="" alt="">
							<p>学员信息</p>
							<p>1</p>
						{{/bp-layout}}
						{{#bp-layout direction='col' main='center' classNames='add-title'}}
							<img src="" alt="">
							<p>选择课程</p>
							<p>2</p>
						{{/bp-layout}}
						{{#bp-layout direction='col' main='center' classNames='add-title'}}
							<img src="" alt="">
							<p>费用结算</p>
							<p>3</p>
						{{/bp-layout}}
					{{/bp-layout}}
					{{#bp-layout direction='col' main='center' classNames='search-area'}}
						<div class="search">
							{{#bp-layout direction='row' classNames='search-btn-input'}}
								{{input type="text" name="" value=contact class="search-input" placeholder="手机号"}}
								<button type="button" name="button" class="btn_save" {{action 'searchStud'}}>搜索</button>
							{{/bp-layout}}
							{{#if studList}}
								{{#bp-layout direction="row" classNames="stud-list-area" }}
									<table class='ib_table_head_pt stud_list_table'>
										{{bmtable/bm-table-inner type="srarchptStuds" listData=studs onRadioChange=(action 'radioChange')}}
									</table>
								{{/bp-layout}}
							{{else}}
								{{#bp-layout direction='row'}}
									<p class="note">若尚未在小程序进行注册者，请先帮助注册</p>
									<img src="" alt="" class="code-img">
								{{/bp-layout}}
							{{/if}}
						</div>
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout direction='row' classNames='btn-area'}}
					{{#if inputVal}}
						{{#bp-layout direction='row' classNames='add-stud'}}
							<p>没有要添加的学员？</p>
							<p class="link"  {{action 'addPtStudModal'}}>添加学生</p>
							<button type="button" name="button" class="btn_save" {{action (mut cur_page_idx) 1}}>下一步</button>
						{{/bp-layout}}
					{{else}}
						<button type="button" name="button" class="edit_between_btn">下一步</button>
					{{/if}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/if}}
		{{#if (bmeq cur_page_idx 1)}}
			{{#bp-layout direction='col' main='between' classNames='add-pt-stud add-pt-stud-bottom'}}
				{{#bp-layout direction='col'}}
					{{#bp-layout direction='row' main='center' classNames='add-stud-title'}}
						{{#bp-layout direction='col' main='center' classNames='add-title'}}
							<img src="" alt="">
							<p>学员信息</p>
							<p>1</p>
						{{/bp-layout}}
						{{#bp-layout direction='col' main='center' classNames='add-title active'}}
							<img src="" alt="">
							<p>选择课程</p>
							<p>2</p>
						{{/bp-layout}}
						{{#bp-layout direction='col' main='center' classNames='add-title'}}
							<img src="" alt="">
							<p>费用结算</p>
							<p>3</p>
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout direction='row' main='between' classNames='stud_detail' }}
				{{#bp-layout direction='col'  classNames='basis_margin basis_margin_height stud_detail_basis' }}
					<div class="head-img">
						<img src={{headImg}} alt="">
					</div>
					<p class="basis_name">name</p>
					{{#bp-layout direction='col' main='center'}}
						{{#bp-layout direction='col' main='left' classNames='stud_detail_other' }}
							<div class="other_self">
								{{#bp-layout direction='col'classNames="info-block-outer"}}
									<div class="self_info">
										{{bmdetail/stud-basis-info label="手机号" content='tel'}}
										{{bmdetail/stud-basis-info label="性别" content="男"}}
										{{bmdetail/stud-basis-info label="年龄" content='dob'}}
									</div>
								{{/bp-layout}}
							</div>
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout }}
				{{#bp-layout direction='col' classNames='stud_detail_other' }}
					
				{{/bp-layout }}
			{{/bp-layout }}
		{{/if}}
	</div>
{{/bp-layout}}
{{!-- {{#bp-layout direction='row' main='between' classNames='edit_container experience-content' }}
	<ul class="edit_left_nav">
		<li class="left_bar_item">
			<a class="edit_left_menu_stud" href="#kid-info">学生信息</a>
		</li>
		<li class="left_bar_item">
			<a class="edit_left_menu_stud" href='#par-story'>家长信息</a>
		</li>
		<li class="left_bar_item">
			<a class="edit_left_menu_stud" href="#other-info">更多信息</a>
		</li>
	</ul>
	<div class="input_container">
		<a id="kid-info" class="anchor-point"></a>
		<section class="kids_info stu_section">
			<p class="title-name">学生信息</p>
			{{bp-input
				classNames="mb-4 name-area"
				label='真实姓名'
				value=model.stud.name
				onChange=(action (mut model.stud.name))}}
			{{bp-input
				classNames="mb-4"
				label='昵称'
				value=model.stud.nickname
				onChange=(action (mut model.stud.nickname))}}
			{{bp-radio-index
				classNames='mb-4'
				title='性别' 
				curValueIndex=sex_idx 
				radios=genderCheck}}
			{{#bp-layout direction="col" main='between' classNames='input_area mb-4' }}
				<p class="edit_title">出生日期</p>
				{{#bp-layout direction="row" split=false classNames='date_choose' }}
					{{#if (bmcom/bm-nil-obj model.stud)}}
					{{else}}
						{{bmform/bm-lay-date inputVal=model.stud.dob}}
					{{/if}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{bp-input
				classNames="mb-4"
				label='就读学校'
				block=true 
				value=model.stud.school
				onChange=(action (mut model.stud.school))}}
			{{!-- {{#bp-layout direction='row'}}
				{{#bp-layout direction="col"  classNames='input_area mb-4 name-area' }}
					{{bmform/bm-edit-line title='真实姓名'  inputVal=model.stud.name classNames='input_area mb-4'}}
				{{/bp-layout}}
				{{#bp-layout direction="col" classNames='input_area mb-4' }}
					{{bmform/bm-edit-line title='昵称'  inputVal=model.stud.nickname classNames='input_area mb-4'}}
				{{/bp-layout}}
			{{/bp-layout}} --}}
			{{!-- {{#bp-layout direction="col" main='between' classNames='input_area mb-4' }}
				<p class="edit_title">性别</p>
				{{bmcom/bm-radio-inline cur_idx=sex_idx judge=sex titles=genderCheck}}
			{{/bp-layout}} --}}
			{{!-- {{#bp-layout direction="col" main='between' classNames='input_area mb-4' }}
				{{bmform/bm-edit-line title='就读学校' largeInput=true  inputVal=model.stud.school classNames='input_area mb-4'}}
			{{/bp-layout}} --}}
			{{bmform/bm-detail-address
                provinces=provinces
                citys=citys
                areas=areas
                province=model.stud.province
                city=model.stud.city
                area=model.stud.district
                title='地址'
                detailAddress=model.stud.address
				classNames="mb-4"}}
		</section>
		<a id="par-story" class="anchor-point"></a>
		{{#each model.stud.guardians as |item|}}
			<section class="parent_info stu_section">
				<p class="title-name">家长信息</p>
				{{bp-input
					classNames="mb-4"
					block=true 
					label='姓名'
					value=item.name
					onChange=(action (mut item.name))}}
				{{bp-radio-index
					classNames='mb-4'
					title='关系' 
					curValueIndex=rela_idx 
					radios=relaChecked}}
				{{bp-input
					classNames="mb-4"
					block=true 
					maxLength="11"
					label='联系方式'
					value=item.contact
					onChange=(action (mut item.contact))}}
				{{bp-input
					classNames="mb-4"
					block=true 
					label='微信'
					value=item.wechat
					onChange=(action (mut item.wechat))}}
				{{!-- {{#bp-layout direction="col" main='between' classNames='input_area mb-4' }}
					{{bmform/bm-edit-line title='姓名'  inputVal=item.name classNames='input_area mb-4'}}
				{{/bp-layout}}

				{{#bp-layout direction="col" main='between' classNames='input_area mb-4' }}
					<p class="edit_title">与学生关系</p>
						{{bmcom/bm-radio-inline cur_idx=rela_idx titles=relaChecked judge=rela}}
				{{/bp-layout}}
				{{#bp-layout direction="col" main='between' classNames='input_area mb-4' }}
					{{bmform/bm-edit-line numberInput=true title='联系方式' maxlength="11" inputVal=item.contact classNames='input_area mb-4'}}
					{{bmform/bm-edit-line title='微信'  inputVal=item.wechat classNames='input_area mb-4'}}
				{{/bp-layout}} --}}
			</section>
		{{/each}}
		<a id="other-info" class="anchor-point"></a>
		<section class="kids_info stu_section">
			<p class="title-name">更多信息</p>
			{{log model.techs}}
			{{log model.stud.sourceWay}}
			{{bp-dropdown-simple
				classNames='mb-4'
				title="课程顾问"
				valueId=cur_tech_id
				options=model.techs
				optionKey='name'}}
			{{bp-dropdown-simple
				classNames='mb-4'
				title="渠道来源"
				choosedValue=model.stud.sourceWay
				options=origin
				optionKey='name'}}
			{{!-- {{bmform/bm-base-select type="id" idType=true selId='teacherName' selTitle="课程顾问" options=model.techs curSelect=cur_tech_id classNames="input_area mb-4"}}
			{{bmform/bm-base-select selId='sourceWay' selTitle="渠道来源" options=origin curSelect=model.stud.sourceWay classNames="input_area"}} --}}
		</section>
	</div>
{{/bp-layout}} --}}

{{outlet}}