{{#bp-layout direction='row' main='between' classNames='edit_nav' }}
  <span>编辑教师信息</span>
  <span>
      <button class="edit_nav_btn btn_cacel" {{action 'cancelTechBtnClicked'}}>取消</button>
      <button class="edit_nav_btn btn_save" {{action 'saveTechBtnClicked'}}>提交</button>
  </span>
{{/bp-layout}}
{{#bp-layout direction='row' main='between' classNames='edit_container' }}
    <ul class="edit_left_nav">
        <li class="left_bar_item">
            <a class="edit_left_menu_text" href="#job-info">职务</a>
        </li>
        <li class="left_bar_item">
            <a class="edit_left_menu_text" href="#tech-info">基础信息</a>
        </li>
    </ul>

    <div class="input_container tech_input_container">
        <a id="job-info" class="anchor-point"></a>
        <section class="job-infos tech_section">
            {{#bp-layout direction='col' main='between' classNames="job-infos-container"}}
                {{bmform/bm-base-select selTitle="职务" options=jobArr curSelect=model.tech.jobTitle classNames="input_area area-margin-bottom-job"}}
                {{#bp-layout direction='col' classNames="input_area"}}
                    <p class="edit_title">类型</p>
                    {{bmcom/bm-radio-inline cur_idx=jobTypeIdx judge=jobType titles=jobTypeCheck}}
                {{/bp-layout}}
            {{/bp-layout}}
        </section>
        <a id="tech-info" class="anchor-point"></a>
        <section class="tech-infos tech_section">
            {{#bp-layout direction='row' main='between' classNames="tech-infos-container"}}
                {{#bp-layout direction='col' classNames="tech-infos-icon"}}
                    <p class="edit_title">教师头像</p>
                    {{bmcom/bm-img-uploader needTag=false canEdit=true img=model.tech.icon }}
                {{/bp-layout}}
                <div class="tech-basis-info">
                    {{#bp-layout direction='row'}}
                        {{bmform/bm-edit-line title='姓名' inputVal=model.tech.name classNames='input_area area-margin-bottom'}}
                        {{bmform/bm-edit-line notNeeded=true title='昵称' inputVal=model.tech.nickname classNames='input_area area-margin-bottom area-margin-left'}}
                    {{/bp-layout}}
                    {{#bp-layout direction="col" main='between' classNames='input_area area-margin-bottom' }}
                    <p class="edit_title">性别</p>
                    {{bmcom/bm-radio-inline cur_idx=sex_idx judge=sex titles=genderCheck}}
                    {{/bp-layout}}
                    {{#bp-layout direction="col" main='between' classNames='input_area area-margin-bottom' }}
                        <p class="edit_title">出生日期</p>
                        {{#bp-layout direction="row" split=false classNames='date_choose' }}
                        {{#if (bmcom/bm-nil-obj model.tech)}}
                        {{else}}
                            {{bmform/bm-lay-date inputVal=model.tech.dob}}
                        {{/if}}
                        {{/bp-layout}}
                    {{/bp-layout}}
                    {{bmform/bm-edit-line numberInput=true maxlength='11' title='手机号' inputVal=model.tech.contact classNames='input_area area-margin-bottom' needTitleDes=true titleDes="手机号将作为老师端账号，请确保正确无误"}}
                    {{bmform/bm-edit-line title='微信' inputVal=model.tech.wechat classNames='input_area area-margin-bottom'}}
                    {{bmform/bm-edit-line fullWidthInput=true title='来自城市' inputVal=model.tech.nativePlace classNames='input_area area-margin-bottom'}}
                    {{#bp-layout direction='row' split=false classNames="input_area area-margin-bottom"}}
                        {{!-- {{#bp-layout direction="col" split=false classNames='input_area'}}
                        <p class="edit_title">教龄</p>
                        <select class="years-select" id="yearsSelect"  name="" onChange={{action 'selectedYears'}}>
                            <option value="">{{model.tech.teachYears}}</option>
                            {{#each teachYearsArr as |item|}}
                                <option value={{item}}>{{item}}</option>
                            {{/each}}
                        </select>
                        {{/bp-layout}} --}}
                        {{bmform/bm-base-select selId="yearsSelect" type="number" selTitle="教龄" options=teachYearsArr curSelect=model.tech.teachYears classNames="input_area years-select" pHolder=0}}
                        {{bmform/bm-edit-line fullWidthInput=true title='擅长科目' inputVal=model.tech.major classNames='input_area area-margin-bottom area-margin-left'}}
                    {{/bp-layout}}
                    {{bmform/bm-detail-address
                        provinces=provinces
                        citys=citys
                        areas=areas
                        province=model.tech.province
                        city=model.tech.city
                        area=model.tech.district
                        title='地址'
                        detailAddress=model.tech.address
                        classNames="area-margin-bottom"}}
                    {{!-- {{bmform/bm-edit-line notNeeded=true fullWidthInput=true title='地址' inputVal=model.tech.address classNames='input_area area-margin-bottom'}} --}}
                </div>
            {{/bp-layout}}
        </section>
        {{!-- <section id="edu-life" class="edu-lifes tech_section">
            {{#bp-layout direction='row' main='between' classNames='edu_exper_nav' }}
            <span>教育经历</span>
            <button class="edit_nav_btn btn_addedu" {{action 'addEduExper'}}>+教育经历</button>
            {{/bp-layout}}
            {{#bp-layout direction='row' split=false classNames='edu_exper_container' }}
            <div class="edu_exper_left">2017.04-2018.04</div>
            <div class="edu_exper_content">
                <p>学校名称：{{edu_name}}</p>
                <p>所学专业：{{edu_category}}</p>
                <p>学习经历：</p>
            </div>
            <div class="edu_exper_change">
                <img src="../images/btn_more_default@2x.png" alt="">
            </div>
            {{/bp-layout}}
            <div class="line"></div>
            {{#bp-layout direction='row' split=false classNames='edu_exper_container' }}
            <div class="edu_exper_left">2018.04-2018.10</div>
            <div class="edu_exper_content">
                <p>学校名称：{{edu_name}}</p>
                <p>所学专业：{{edu_category}}</p>
                <p>学习经历：</p>
            </div>
            <div class="edu_exper_change">
                <img src="../images/btn_more_default@2x.png" alt="">
            </div>
            {{/bp-layout}}
        </section>
        <section id="work-life" class="work-lifes tech_section">
            {{#bp-layout direction='row' main='between' classNames='edu_exper_nav' }}
            <span>工作经历</span>
            <button class="edit_nav_btn btn_addedu" {{action 'addEduExper'}}>+工作经历</button>
            {{/bp-layout}}
            {{#bp-layout direction='row' split=false classNames='edu_exper_container' }}
            <div class="edu_exper_left">2017.04-2018.04</div>
            <div class="edu_exper_content">
                <p>工作单位：{{ca_company}}</p>
                <p>所在职位：{{ca_name}}</p>
                <p>工作经历：</p>
            </div>
            <div class="edu_exper_change">
                <img src="../images/btn_more_default@2x.png" alt="">
            </div>
            {{/bp-layout}}
        </section> --}}
    </div>
{{/bp-layout}}

{{outlet}}
