{{#bp-layout main='between' classNames='edit_nav' }}
	<span>编辑教师信息</span>
	<span>
		{{#bp-button type="subtle" 
	  		onClick=(action 'cancelTechBtnClicked')}}取消{{/bp-button}}
		{{#bp-button type="primary" 
	  		onClick=(action 'saveTechBtnClicked')}}提交{{/bp-button}}
	</span>
{{/bp-layout}}
{{#bp-layout main='between' classNames='edit_container' }}
	<ul class="edit_left_nav">
		<li class="left_bar_item">
			<a class="edit_left_menu_text" href="#job-info">职务</a>
		</li>
		<li class="left_bar_item">
			<a class="edit_left_menu_text" href="#tech-info">基础信息</a>
		</li>
	</ul>
	<div class="input_container tech_input_container">
		<a id="job-info" class="anchor-point"></a>
		<section class="job-infos tech_section">
			{{#bp-layout direction='col' main='between' 
				classNames="job-infos-container"}}
				{{bp-dropdown-simple
					classNames='mb-4'
						title="职务"
						choosedValue=model.tech.jobTitle 
						options=jobArr
						optionKey='name'}}
				{{bp-radio-index
					title='类型' 
					curValueIndex=jobTypeIdx 
					radios=jobTypeCheck}}
			{{/bp-layout}}
		</section>
		<a id="tech-info" class="anchor-point"></a>
		<section class="tech-infos tech_section">
			{{#bp-layout main='between' classNames="tech-infos-container"}}
				{{#bp-layout direction='col' classNames="tech-infos-icon"}}
					<p class="edit_title">教师头像</p>
					{{bmcom/bm-img-uploader
						needTag=false canEdit=true img=model.tech.icon }}
				{{/bp-layout}}
				<div class="tech-basis-info">
					{{#bp-layout classNames="mb-3"}}
						{{bp-input
							classNames="mr-3"
								label='姓名'
								value=model.tech.name 
								onChange=(action (mut model.tech.name ))}}
						{{bp-input
								label='昵称'
								value=model.tech.nickname 
								onChange=(action (mut model.tech.nickname ))}}
					{{/bp-layout}}
					{{bp-radio-index
						classNames='mb-3'
						title='性别' 
						curValueIndex=sex_idx 
						radios=genderCheck}}
					{{#bp-layout direction="col" main='between' 
						classNames='input_area mb-3' }}
						<p class="edit_title">出生日期</p>
						{{#bp-layout classNames='date_choose' }}
							{{#unless (bmcom/bm-nil-obj model.tech)}}
								{{bmform/bm-lay-date inputVal=model.tech.dob}}
							{{/unless}}
						{{/bp-layout}}
					{{/bp-layout}}
					{{bp-input
						classNames='mb-3'
						type='number'
						block=true
						label='手机号'
						helpText='手机号将作为老师端账号，请确保正确无误'
						maxLength=11
						value=model.tech.contact 
						onChange=(action (mut model.tech.contact ))}}
					{{bp-input
						classNames='mb-3'
						block=true
						label='微信'
						value=model.tech.wechat
						onChange=(action (mut model.tech.wechat))}}
					{{bp-input
						classNames='mb-3'
						block=true
						label='来自城市'
						value=model.tech.nativePlace
						onChange=(action (mut model.tech.nativePlace))}}
					{{#bp-layout classNames="input_area area-margin-bottom"}}
						{{bmform/bm-base-select
							selId="yearsSelect" 
							type="number" 
							selTitle="教龄" 
							options=teachYearsArr 
							curSelect=model.tech.teachYears 
							classNames="input_area years-select" pHolder=0}}
						{{!-- {{bp-dropdown-simple
							title="教龄"
							choosedValue=model.tech.teachYears 
							options=teachYearsArr
							optionKey='name'}} --}}
						{{bp-input
							classNames="ml-3"
							label='擅长科目'
							value=model.tech.major
							onChange=(action (mut model.tech.major))}}
					{{/bp-layout}}
					<p class="my-3">{{model.tech.teachYears }}</p>
					{{bmform/bm-detail-address
                        provinces=provinces
                        citys=citys
                        areas=areas
                        province=model.tech.province
                        city=model.tech.city
                        area=model.tech.district
                        title='地址'
                        detailAddress=model.tech.address
                        classNames="area-margin-bottom"}}
				</div>
			{{/bp-layout}}
		</section>
	</div>
{{/bp-layout}}
{{outlet}}