{{!-- <ul class="nav">
    <li class="nav-item">
        <a class="nav-link active brand_name tech-nav-title" href="#">编辑-老师信息</a>
    </li>
    <li class="nav-item menu_mid">
        <div class="menu_container">
            {{#if isPushing}}
                {{#link-to 'home' class="nav_cancel_btn menu_button_between"}}
                    取消
                {{/link-to}}
            {{else}}
                {{#link-to 'detail.tech' bm_tech_service.tech.id class="nav_cancel_btn menu_button_between"}}
                    取消
                {{/link-to}}
            {{/if}}
            <button class="nav_save_btn menu_button_between tech-nav-savebtn" {{action 'saveTechBtnClicked'}}>保存</button>
        </div>
    </li>
</ul> --}}
{{#layout-push direction='row' split=true classNames='edit_nav' }}
  <span>编辑教师信息</span>
  <span>
      {{#if isPushing}}
          {{#link-to 'home' class="edit_nav_btn btn_cacel"}}
              取消
          {{/link-to}}
      {{else}}
          {{#link-to 'detail.tech' bm_tech_service.tech.id class="edit_nav_btn btn_cacel"}}
              取消
          {{/link-to}}
      {{/if}}
      <button class="edit_nav_btn btn_save" {{action 'saveTechBtnClicked'}}>保存</button>
  </span>
{{/layout-push}}
{{#layout-push direction='row' split=true classNames='edit_container' }}
  <ul class="edit_left_nav">
    <li class="left_bar_item">
        <a class="edit_left_menu_text" href="#tech-info">基础信息</a>
    </li>
    <li class="left_bar_item">
        <a class="edit_left_menu_text" href="#edu-life">教育经历</a>
    </li>
    <li class="left_bar_item">
        <a class="edit_left_menu_text" href="#work-life">工作经历</a>
    </li>
  </ul>

  <div class="input_container">
    <section id="tech-info" class="tech-infos tech_section">
        {{#layout-push direction='row' split=true classNames="tech-infos-container"}}
            {{#layout-push direction='col' classNames="tech-infos-icon"}}
                <p class="edit_title">教师头像</p>
                {{bmcom/bm-img-uploader needTag=false canEdit=true img=bm_tech_service.tech.icon }}
            {{/layout-push}}
            <div class="tech-basis-info">
                {{#layout-push direction='row' split=false classNames="area-margin-bottom"}}
                    {{#layout-push direction="col" split=false classNames='input_area' }}
                      <p class="edit_title">姓名</p>
                      {{input type="text" class="edit_input kid_school" maxlength='8' value=bm_tech_service.tech.name}}
                      {{!-- <span class="edit_hint">{{tech_name_length}}/8</span> --}}
                    {{/layout-push}}
                    {{#layout-push direction="col" split=true classNames='input_area area-margin-left' }}
                      <p class="edit_title">昵称<span class="sub_title">(选填)</span></p>
                      {{input type="text" class="edit_input kid_school" maxlength='8' value=bm_tech_service.tech.nickname}}
                      {{!-- <span class="edit_hint">{{tech_nickname_length}}/8</span> --}}
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction="col" split=true classNames='input_area  area-margin-bottom' }}
                    <p class="edit_title">出生日期</p>
                    {{#layout-push direction="row" split=false classNames='date_choose' }}
                    {{#if (bmcom/bm-nil-obj bm_tech_service.tech)}}
                    {{else}}
				        {{bm-lay-date inputVal=bm_tech_service.tech.dob}}
                    {{/if}}
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
                  <p class="edit_title">性别</p>
                  <div class="">
                    <span class="radio-inline">
                        <input type="radio" name="sex" value="male" checked={{bmeq bm_tech_service.tech.gender 1 }}/>
                        <label for="man">男</label>
                    </span>
                    <span class="radio-inline">
                        <input type="radio" name="sex" value="female" checked={{bmeq bm_tech_service.tech.gender 0}}/>
                        <label for="woman">女</label>
                    </span>
                  </div>
                {{/layout-push}}
                {{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
                  <p class="edit_title">来自城市</p>
                  {{input type="text" class="edit_input input_100" maxlength='8' value=bm_tech_service.tech.nativePlace}}
                {{/layout-push}}
                {{#layout-push direction='row' split=false classNames=" area-margin-bottom"}}
                    {{#layout-push direction="col" split=false classNames='input_area' }}
                      <p class="edit_title">联系方式</p>
                      {{input type="text" class="edit_input kid_school" maxlength='8' value=bm_tech_service.tech.contact}}
                    {{/layout-push}}
                    {{#layout-push direction="col" split=true classNames='input_area area-margin-left' }}
                      <p class="edit_title">微信</p>
                      {{input type="text" class="edit_input kid_school" maxlength='8' value=bm_tech_service.tech.wechat}}
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction="col" split=true classNames='input_area area-margin-bottom' }}
                  <p class="edit_title">地址<span class="sub_title">(选填)</span></p>
                  {{input type="text" class="edit_input input_100" maxlength='8' value=bm_tech_service.tech.address}}
                {{/layout-push}}
            </div>
        {{/layout-push}}
    </section>
    <section id="edu-life" class="edu-lifes tech_section">
        {{#layout-push direction='row' split=true classNames='edu_exper_nav' }}
          <span>教育经历</span>
          <button class="edit_nav_btn btn_addedu" {{action 'addEduExper'}}>+教育经历</button>
        {{/layout-push}}
        {{#layout-push direction='row' split=false classNames='edu_exper_container' }}
          <div class="edu_exper_left">2017.04-2018.04</div>
          <div class="edu_exper_content">
              <p>学校名称：{{edu_name}}</p>
              <p>所学专业：{{edu_category}}</p>
              <p>学习经历：</p>
          </div>
          <div class="edu_exper_change">
              <img src="../images/btn_more_default@2x.png" alt="">
          </div>
        {{/layout-push}}
        <div class="line"></div>
        {{#layout-push direction='row' split=false classNames='edu_exper_container' }}
          <div class="edu_exper_left">2018.04-2018.10</div>
          <div class="edu_exper_content">
              <p>学校名称：{{edu_name}}</p>
              <p>所学专业：{{edu_category}}</p>
              <p>学习经历：</p>
          </div>
          <div class="edu_exper_change">
              <img src="../images/btn_more_default@2x.png" alt="">
          </div>
        {{/layout-push}}
    </section>
    <section id="work-life" class="work-lifes tech_section">
        {{#layout-push direction='row' split=true classNames='edu_exper_nav' }}
          <span>工作经历</span>
          <button class="edit_nav_btn btn_addedu" {{action 'addEduExper'}}>+工作经历</button>
        {{/layout-push}}
        {{#layout-push direction='row' split=false classNames='edu_exper_container' }}
          <div class="edu_exper_left">2017.04-2018.04</div>
          <div class="edu_exper_content">
              <p>工作单位：{{ca_company}}</p>
              <p>所在职位：{{ca_name}}</p>
              <p>工作经历：</p>
          </div>
          <div class="edu_exper_change">
              <img src="../images/btn_more_default@2x.png" alt="">
          </div>
        {{/layout-push}}
    </section>
  </div>
{{/layout-push}}

{{outlet}}
