{{!-- <ul class="nav">
    <li class="nav-item">
        <a class="nav-link active brand_name" href="#">编辑-场地信息</a>
        {{refresh_yard}}
    </li>
    <li class="nav-item menu_mid">
        <div class="menu_container">
            {{#if isPushing}}
                {{#link-to 'yard' class="nav_cancel_btn menu_button_between"}}
                    取消
                {{/link-to}}
            {{else}}
                {{#link-to 'detail.yard' bm_yard_service.yard.id class="nav_cancel_btn menu_button_between"}}
                    取消
                {{/link-to}}
            {{/if}}
            <button class="nav_save_btn menu_button_between" {{action 'saveYardBtnClicked'}}>保存</button>
        </div>
    </li>
</ul> --}}
{{#layout-push direction='row' split=true classNames='edit_nav' }}
  <span>编辑场地</span>
  <span>
      {{#if isPushing}}
          {{#link-to 'yard' class="edit_nav_btn btn_cacel"}}
              取消
          {{/link-to}}
      {{else}}
          {{#link-to 'detail.yard' bm_yard_service.yard.id class="edit_nav_btn btn_cacel"}}
              取消
          {{/link-to}}
      {{/if}}
      <button class="edit_nav_btn btn_save" {{action 'saveYardBtnClicked'}}>保存</button>
  </span>
{{/layout-push}}
{{#layout-push direction='row' split=true classNames='edit_container' }}
    <ul class="edit_left_nav">
        <li class="left_bar_item">
            <a class="edit_left_menu_text" href="#yard-loc" {{action (mut current_idx) 0}}>场地地址</a>
        </li>
        <li class="left_bar_item">
            <a class="edit_left_menu_text" href="#yard-info" {{action (mut current_idx) 1}}>场地名称</a>
        </li>
        <li class="left_bar_item">
            <a class="edit_left_menu_text" href="#yard-evn" {{action (mut current_idx) 2}}>场地环境</a>
        </li>
        {{!-- <li class="left_bar_item">
            <a class="edit_left_menu_text" href="#yard-faclity" {{action (mut current_idx) 3}}>友好设施</a>
        </li> --}}
        <li class="left_bar_item">
            <a class="edit_left_menu_text" href="#yard-cert" {{action (mut current_idx) 4}}>场地图片</a>
        </li>
    </ul>

    {{!-- <ul class="edit_left_bar">
        <li class="left_bar_item" >
            <div class="edit_left_menu_mid menu_margin_right">
                <a class="edit_left_menu_text" href="#yard-loc" {{action (mut current_idx) 0}}>场地地址</a>
            </div>
        </li>
        <li class="left_bar_item" >
            <div class="edit_left_menu_mid menu_margin_right">
                <a class="edit_left_menu_text" href="#yard-info" {{action (mut current_idx) 1}}>场地名称</a>
            </div>
        </li>
        <li class="left_bar_item" >
            <div class="edit_left_menu_mid menu_margin_right">
                <a class="edit_left_menu_text" href="#yard-evn" {{action (mut current_idx) 2}}>场地环境</a>
            </div>
        </li> --}}
        {{!-- <li class="left_bar_item" >
            <div class="edit_left_menu_mid menu_margin_right">
                <a class="edit_left_menu_text" href="#yard-faclity" {{action (mut current_idx) 3}}>友好设施</a>
            </div>
        </li> --}}
        {{!-- <li class="left_bar_item" >
            <div class="edit_left_menu_mid menu_margin_right">
                <a class="edit_left_menu_text" href="#yard-cert" {{action (mut current_idx) 4}}>场地图片</a>
            </div>
        </li>
    </ul> --}}
    <div class="input_container">
    {{#if (bmeq current_idx 0)}}
    <section id="yard-loc" class="yard-infos yard_section">
        <div class="edit_panel v_push edit_first_panel">
            {{#layout-push direction="row"}}
                <span class="alt-edit-title">场地地址</span>
            {{/layout-push}}
            {{#layout-push direction='row' split=true}}
                {{#layout-push direction='row' classNames='line_half'}}
                    {{bmform/region-choose
                        provinces=yard_provinces
                        citys=yard_citys
                        governmentAreas=yard_government_areas
                        province=bm_yard_service.yard.province
                        city=bm_yard_service.yard.city
                        area=bm_yard_service.yard.district}}
                {{/layout-push}}
            {{/layout-push}}
            <span class='alt-edit-up-hit'>街道门牌号、小区楼号、楼层号</span>
            {{input value=bm_yard_service.yard.address classNames='alt-edit-line'}}
            {{#layout-push classNames='r_end' direction='row'}}
                <button class='alt-edit-step-btn' {{action (mut current_idx) 1}}>下一步</button>
            {{/layout-push}}
        </div>
    </section>
    {{/if}}

    {{#if (bmeq current_idx 1)}}
    <section id="yard-info" class="yard-infos yard_section">
        <div class="edit_panel v_push edit_second_panel">
            {{#layout-push direction="row"}}
                <span class="alt-edit-title">场地个性名称</span>
            {{/layout-push}}
            {{input type='text' value=bm_yard_service.yard.title classNames='alt-edit-half-line'}}

            {{#layout-push direction="row" classNames='alt-edit-only-margin'}}
                <span class="alt-edit-title alt-edit-title-des">场地描述</span>
            {{/layout-push}}
            <span class='alt-edit-up-hit'>您的场地都有哪些类型的空间呢，简单的描述您场地下拥有的空间数量和功能，能让家长更加了解您的规模和环境，让家长放心。同时贴心的服务也能为您的品牌加分喔！</span>
            {{textarea value=bm_yard_service.yard.description classNames='alt-edit-text-area' rows=5}}

            {{#layout-push classNames='r_end' direction='row'}}
                <button class='alt-edit-step-btn' {{action (mut current_idx) 2}}>下一步</button>
            {{/layout-push}}
        </div>

    </section>
    {{/if}}

    {{#if (bmeq current_idx 2)}}
    <section id="yard-evn" class="yard-infos yard_section">
        <div class="edit_panel v_push edit_third_panel">
            {{#layout-push direction="row"}}
                <span class="alt-edit-title">场地类型</span>
            {{/layout-push}}
            {{#layout-push direction="col" classNames="single-select card-wrap"}}
                {{bmform/checkbox-label limit=1
                        candidate=yardCandidate
                        titlecss='edit_sub_title'
                        btncss='form-check-label'
                        curSel=bm_yard_service.yard.attribute
                        }}
            {{/layout-push}}
            {{!-- {{#layout-push direction="row"}}
                <span class="alt-edit-title">周围环境</span>
            {{/layout-push}}
            {{#layout-push direction="col" classNames="single-select card-wrap"}}
                {{bmform/checkbox-label limit=10
                        candidate=surroundings
                        titlecss='edit_sub_title'
                        btncss='form-check-label'
                    }}
            {{/layout-push}} --}}
            {{#layout-push direction="row"}}
                <span class="alt-edit-title alt-edit-title-loc">小区/校区/商圈 名称</span>
            {{/layout-push}}
            <span class='alt-edit-up-hit'>示例：天通苑、三里屯、央美附小</span>
            {{input value=bm_yard_service.yard.scenario classNames='alt-edit-line alt-edit-line-area'}}

            {{#layout-push direction="row"}}
                <span class="alt-edit-title">周边交通路线信息</span>
            {{/layout-push}}
            {{input value=bm_yard_service.yard.traffic_info classNames='alt-edit-line alt-edit-line-traf'}}

            {{#layout-push classNames='r_end' direction='row'}}
                <button class='alt-edit-step-btn' {{action (mut current_idx) 4}}>下一步</button>
            {{/layout-push}}
        </div>
    </section>
    {{/if}}

    {{!-- {{#if (bmeq current_idx 3)}}
    <section id="yard-faclity" class="yard-infos yard_section" >
        {{#layout-push direction='col' classNames='edit_panel edit_fourth_panel'}}
            {{#layout-push direction='row' }}
                <span class="edit_title">设施</span>
            {{/layout-push }}

            {{#layout-push direction='row' split=true}}
                {{bmform/bm-edit-line title="停车场" isNeeded=true maxCount=1 classNames='line_half' inputVal=yard_parking}}
                {{bmform/bm-edit-line title="急救包" isNeeded=true maxCount=1 classNames='line_half' inputVal=yard_embag}}
            {{/layout-push}}
            
            {{#layout-push classNames='r_end' direction='row'}}
                <button class='alt-edit-step-btn' {{action (mut current_idx) 4}}>下一步</button>
            {{/layout-push}}
        {{/layout-push }}
    </section>
    {{/if}} --}}

    {{#if (bmeq current_idx 4)}}
    <section class="yard-infos yard_section" >
        {{#layout-push direction='col' classNames='edit_panel edit_reward_panel edit_fifth_panel'}}
            {{#layout-push direction="row"}}
                <span class="alt-edit-title">场地图片</span>
            {{/layout-push}}
            <span class='alt-edit-up-hit'>每张图片小于100KB</span>
            {{#layout-push direction='row' mid=true}}
                <div class='line_conatainer_warp'>
                    {{#each bm_yard_service.yard.Tagimgs as |item|}}
                        {{bmcom/bm-img-uploader needTag=true canEdit=true img=item.img tag=item.tag classNames='alt-yard-edit-tag-img-adjust'}}
                    {{/each}}
                </div>
            {{/layout-push}}
            {{#layout-push classNames='r_end' direction='row'}}
                <button class='alt-edit-step-btn' {{action 'saveYardBtnClicked'}}>完成</button>
            {{/layout-push}}
        {{/layout-push }}
    </section>
    {{/if}}
    </div>
{{/layout-push}}

{{outlet}}
