{{!-- {{yield}} --}}
{{#bp-layout direction='col' main='center' classNames="empty-state-outer"}}
    {{#if (not-eq picUrl '')}}
        {{#bp-layout direction='row' main='center' classNames="empty-state-pic-outer"}}
            <img class="empty-state-pic" src={{picUrl}}/>
        {{/bp-layout}}
    {{/if}}
    {{#bp-layout direction='row' main='center' classNames="empty-state-title-outer"}}
        <p class="empty-state-title">{{title}}</p>
    {{/bp-layout}}
    {{#if (not-eq des '')}}
        {{#bp-layout direction='row' main='center' classNames="empty-state-des-outer"}}
            <p class="empty-state-des">{{des}}</p>
        {{/bp-layout}}
    {{/if}}
    {{#if (not-eq btnText '')}}
        {{#bp-layout direction='row' main='center' classNames="empty-state-act-outer"}}
            <button class="empty-state-act" {{action 'actOnClick'}}>{{btnText}}</button>
        {{/bp-layout}}
    {{/if}}
{{/bp-layout}}