{{#layout-push direction='col'}}
    <form id={{upid}} enctype="multipart/form-data" class='bm-upload-form'>
        <div class='bm-upload-container'>
            {{#if canEdit}}
                {{#if isNull}}
                    <img src='/images/image@2x.png' class='' />
                {{else}}
                    <img src={{concertImgPath}} class='' />
                    {{#if canDeleteImg}}
                        <div class="delete" {{action 'deleteImg'}}>
                            <img src={{deleteIcon}} alt="删除" class="delete-icon">
                        </div>
                    {{/if}}
                {{/if}}
                <input type='file' id="uploadImg" name='file' value='file' multiple=false class='' onchange={{action 'inputChanged'}} />
                {{#if canDeleteObj}}
                    <div class="delete-img-obj">
                        <img src="/images/remove.png" class="delete-img-obj-btn" {{action "deleteObj"}}/>
                    </div>
                {{/if}}
            {{else}}
                <img src={{concertImgPath}} class='' />
            {{/if}}
        </div>
    </form>
    {{#layout-push direction='row' mid=true classNames='bm-upload-tag'}}
        {{#if needTag}}
            {{#if canEditTag}}
                {{bmform/bm-edit-line 
                maxlength='15' 
                inputVal=tag 
                classNames='bm-upload-tag-input'}}
            {{else}}
                <span>{{tag}}</span>
            {{/if}}
        {{/if}}
    {{/layout-push}}
{{/layout-push}}
