{{#bp-modal open=mswitch backdropClose=backdropClose onHidden=(action 'cancelBtnClicked') onSubmit=(action 'successBtnClicked') onClose=(action 'cancelBtnClicked') as |modal|}}
    {{#if (bmeq type "addPtStud")}}
        <div class="add-pt-stud-info">
            {{#if needTitle}}
                {{#modal.header classNames="course-reserve-modal-title"}}
                    <p class="modal-title">
                        {{title}}
                    </p>
                {{/modal.header}}
            {{/if}}
            {{#modal.body}}
                {{yield}}
            {{/modal.body}}

            {{#modal.footer}}
                {{#if needcancel}}
                    {{#bp-button type="cancel" classNames=cancelbtncss onClick=(action 'cancelBtnClicked') }}{{canceltext}}{{/bp-button}}
                {{/if }}
                    {{#bp-button type="success" classNames=successbtncss onClick=(action 'successBtnClicked') }}{{successtext}}{{/bp-button}}
            {{/modal.footer}}
        </div>
    {{else if (bmeq type 'codeImg')}}
        <div class="code-img-modal">
            {{#if needTitle}}
                {{#modal.header classNames="course-reserve-modal-title"}}
                    <p class="modal-title">
                        {{title}}
                    </p>
                {{/modal.header}}
            {{/if}}
            {{#modal.body}}
                {{yield}}
            {{/modal.body}}

            {{#modal.footer}}
                {{#if needcancel}}
                    {{#bp-button type="cancel" classNames=cancelbtncss onClick=(action 'cancelBtnClicked') }}{{canceltext}}{{/bp-button}}
                {{/if }}
                    {{#bp-button type="success" classNames=successbtncss onClick=(action 'successBtnClicked') }}{{successtext}}{{/bp-button}}
            {{/modal.footer}}
        </div>
    {{else}}
        <div class="course-reserve-pop-ups">
            {{#if needTitle}}
                {{#modal.header classNames="course-reserve-modal-title"}}
                    <p class="modal-title">
                        {{title}}
                    </p>
                {{/modal.header}}
            {{/if}}
            {{#modal.body}}
                {{yield}}
            {{/modal.body}}

            {{#modal.footer}}
                {{#if needcancel}}
                    {{#bp-button type="cancel" classNames=cancelbtncss onClick=(action 'cancelBtnClicked') }}{{canceltext}}{{/bp-button}}
                {{/if }}
                    {{#bp-button type="success" classNames=successbtncss onClick=(action 'successBtnClicked') }}{{successtext}}{{/bp-button}}
            {{/modal.footer}}
        </div>
    {{/if}}
{{/bp-modal}}
