{{#bp-layout direction='row' main='center' classNames='jigsaw_pic'}}
    {{#bp-layout direction='row' main='center' classNames='jigsaw_pic_left'}}
        {{#if (bmcom/bm-nil-array images)}}
        {{else}}
            {{#each images as |item index|}}
                {{#if (eq index 0)}}
                    <img src={{item.url}} class="img_left">
                {{/if}}
            {{/each}}
        {{/if}}
    {{/bp-layout}}
    {{#bp-layout direction='col' classNames='jigsaw_pic_right'}}
        {{#bp-layout direction='row' classNames='jigsaw_pic_right_top'}}
            {{#if (bmcom/bm-nil-array images)}}
            {{else}}
                {{#each images as |item index|}}
                    {{#if (eq index 1)}}
                        <img src={{item.url}} class="img_right">
                    {{/if}}
                {{/each}}
            {{/if}}
        {{/bp-layout}}
        {{#bp-layout direction='row' classNames='jigsaw_pic_right_bottom'}}
            {{#if (bmcom/bm-nil-array images)}}
            {{else}}
                {{#each images as |item index|}}
                    {{#if (eq index 2)}}
                        <img src={{item.url}} class="img_right">
                    {{/if}}
                {{/each}}
            {{/if}}
            <button class="more-pic-link" {{action 'openMorePic'}}>查看更多</button>
        {{/bp-layout}}
    {{/bp-layout}}
{{/bp-layout}}

{{#bs-modal class="more-pic-modal" id="myModal" fade=false open=isMorePic onHidden=(action (mut isMorePic) false) as |modal|}}
    {{#modal.header}}

    {{/modal.header}}
    {{#modal.body class="more-pic-modal-body"}}
        {{#bp-layout direction='col' classNames='more-pic-outer'}}
            {{#bp-layout direction='row' classNames='more-pic-title'}}
                {{#bs-button classNames="close-more-pic-btn" onClick=(action "closeMorePic")}}{{/bs-button}}
            {{/bp-layout}}
            {{#bp-layout direction='row' main='center' classNames='more-pic-main'}}
                {{#each images as |item index|}}
                    {{#if (eq index mainPicIdx)}}
                        <img src={{item.url}} class="img-main">
                    {{/if}}
                {{/each}}
            {{/bp-layout}}
            {{#bp-layout direction='row' main='center' classNames='more-pic-list'}}
                {{#bp-layout direction='row' classNames='more-pic-list-left'}}
                    {{#bs-button classNames="close-more-pic-btn" onClick=(action "prevPic")}}{{/bs-button}}
                {{/bp-layout}}
                {{#bp-layout direction='row' classNames='more-pic-list-mid'}}
                    {{#each images as |item index|}}
                        {{#if (gte index listPicIdxDown)}}
                            {{#if (lte index listPicIdxUp)}}
                                {{#if (eq index mainPicIdx)}}
                                    {{#bp-layout direction='col' main='between' classNames='more-pic-list-each'}}
                                        <img src={{item.url}} class="list-each-img pic-checked" onclick={{action "onSmPicClick" index}}>
                                        <p class="list-each-img-des">{{item.tag}}</p>
                                    {{/bp-layout}}
                                {{else}}
                                    {{#bp-layout direction='col' main='between' classNames='more-pic-list-each'}}
                                        <img src={{item.url}} class="list-each-img" onclick={{action "onSmPicClick" index}}>
                                        <p class="list-each-img-des">{{item.tag}}</p>
                                    {{/bp-layout}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                {{/bp-layout}}
                {{#bp-layout direction='row' classNames='more-pic-list-right'}}
                    {{#bs-button classNames="close-more-pic-btn" onClick=(action "nextPic")}}{{/bs-button}}
                {{/bp-layout}}
            {{/bp-layout}}
        {{/bp-layout}}
    {{/modal.body}}
    {{#modal.footer}}

    {{/modal.footer}}
{{/bs-modal}}
