{{yield}}

{{#layout-push direction='row' mid=true classNames='jigsaw_pic'}}
    {{#layout-push direction='row' mid=true classNames='jigsaw_pic_left'}}
        {{#if (bmcom/bm-nil-array imgs)}}
        {{else}}
            {{#each imgs as |item index|}}
                {{#if (eq index 0)}}
                    <img src={{item.url}} class="img_left">
                {{/if}}
            {{/each}}
        {{/if}}
    {{/layout-push}}
    {{#layout-push direction='col' classNames='jigsaw_pic_right'}}
        {{#layout-push direction='row' classNames='jigsaw_pic_right_top'}}
            {{#if (bmcom/bm-nil-array imgs)}}
            {{else}}
                {{#each imgs as |item index|}}
                    {{#if (eq index 1)}}
                        <img src={{item.url}} class="img_right">
                    {{/if}}
                {{/each}}
            {{/if}}
        {{/layout-push}}
        {{#layout-push direction='row' classNames='jigsaw_pic_right_bottom'}}
            {{#if (bmcom/bm-nil-array imgs)}}
            {{else}}
                {{#each imgs as |item index|}}
                    {{#if (eq index 2)}}
                        <img src={{item.url}} class="img_right">
                    {{/if}}
                {{/each}}
            {{/if}}
            <button class="more-pic-link" {{action 'openMorePic'}}>查看更多</button>
        {{/layout-push}}
    {{/layout-push}}
{{/layout-push}}

{{#bs-modal class="more-pic-modal" id="myModal" fade=false open=isMorePic onHidden=(action (mut isMorePic) false) as |modal|}}
    {{#modal.header}}

    {{/modal.header}}
    {{#modal.body class="more-pic-modal-body"}}
        {{#layout-push direction='col' classNames='more-pic-outer'}}
            {{#layout-push direction='row' classNames='more-pic-title'}}
                {{#bs-button classNames="close-more-pic-btn" onClick=(action "closeMorePic")}}{{/bs-button}}
            {{/layout-push}}
            {{#layout-push direction='row' mid=true classNames='more-pic-main'}}
                {{#each imgs as |item index|}}
                    {{#if (eq index mainPicIdx)}}
                        <img src={{item.url}} class="img-main">
                    {{/if}}
                {{/each}}
            {{/layout-push}}
            {{#layout-push direction='row' mid=true classNames='more-pic-list'}}
                {{#layout-push direction='row' classNames='more-pic-list-left'}}
                    {{#bs-button classNames="close-more-pic-btn" onClick=(action "prevPic")}}{{/bs-button}}
                {{/layout-push}}
                {{#layout-push direction='row' classNames='more-pic-list-mid'}}
                    {{#each imgs as |item index|}}
                        {{#if (gte index listPicIdxDown)}}
                            {{#if (lte index listPicIdxUp)}}
                                {{#if (eq index mainPicIdx)}}
                                    {{#layout-push direction='col' split=true classNames='more-pic-list-each'}}
                                        <img src={{item.url}} class="list-each-img pic-checked">
                                        <p class="list-each-img-des">{{item.tag}}</p>
                                    {{/layout-push}}
                                {{else}}
                                    {{#layout-push direction='col' split=true classNames='more-pic-list-each'}}
                                        <img src={{item.url}} class="list-each-img">
                                        <p class="list-each-img-des">{{item.tag}}</p>
                                    {{/layout-push}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                {{/layout-push}}
                {{#layout-push direction='row' classNames='more-pic-list-right'}}
                    {{#bs-button classNames="close-more-pic-btn" onClick=(action "nextPic")}}{{/bs-button}}
                {{/layout-push}}
            {{/layout-push}}
        {{/layout-push}}
    {{/modal.body}}
    {{#modal.footer}}

    {{/modal.footer}}
{{/bs-modal}}