<ul class="nav">
    <li class="nav-item">
        {{#layout-push direction='row' classNames="nav-item-left"}}
            {{#if (bmcom/bm-nil-obj bm_brand_service.brand)}}
            {{else}}
                <img src={{brandlogo}} alt="">
            {{/if}}
            {{!-- <a class="brand-name" href="home">{{bm_brand_service.brand.title}}</a> --}}
            {{#link-to 'home' classNames='brand-name'}}{{bm_brand_service.brand.title}}{{/link-to}}
        {{/layout-push}}
    </li>
    <li class="nav-item menu_mid">
        <div class="menu_container">
            <div class="menu_mid" >
                <div class="menu_container">
                    <img src="/images/icon_notification@1x.png" alt="">
                    <img src="/images/icon_person@1x.png" alt="">
                    <img src="/images/icon_search@1x.png" alt="">
                </div>
            </div>
        </div>
    </li>
</ul>

{{yield}}
