<ul class="nav">
    <li class="nav-item">
        {{#layout-push direction='row' classNames="nav-item-left"}}
            {{#if (bmcom/bm-nil-obj bm_brand_service.brand)}}
            {{else}}
                <img src={{brandlogo}} alt="">
            {{/if}}
            {{!-- <a class="brand-name" href="home">{{bm_brand_service.brand.title}}</a> --}}
            {{#link-to 'home' classNames='brand-name'}}{{bm_brand_service.brand.title}}{{/link-to}}
        {{/layout-push}}
    </li>
    <li class="nav-item menu_mid">
        <div class="menu_container">
            {{!-- <div class="menu_mid" >
                <div class="menu_container">
                    <img src="/images/icon_notification@1x.png" alt="">
                    <img src="/images/icon_person@1x.png" alt="" {{action 'exitSystem'}}>
                    <img src="/images/icon_search@1x.png" alt="">
                </div>
            </div>
            <div class="exit-alert">
                <p>登出</p>
            </div> --}}
        {{!-- {{#bs-dropdown as |dd|}}
            {{#dd.button}}<img src="/images/icon_person@1x.png" alt="">{{/dd.button}}
            {{#dd.menu as |menu|}}
                {{#menu.item}}
                	<li {{action ''}}></li>
                {{/menu.item}}
            {{/dd.menu}}
        {{/bs-dropdown}} --}}
        {{#bs-dropdown class="btn-dropdown" as |dd|}}
            {{#dd.button class="logout-btn"}}{{/dd.button}}
            {{#dd.menu align="right" as |menu|}}
                {{#menu.item align="right"}}
                    {{#layout-push direction='col' classNames="dropdown-content"}}
                        <a onclick={{action 'exitSystem'}}>登出</a>
                    {{/layout-push}}
                {{/menu.item}}
            {{/dd.menu}}
        {{/bs-dropdown}}
        </div>
    </li>
</ul>

{{yield}}
