{{yield}}

<table class='ib_table_head inbox_table'>
    {{#if (eq applies.length 0)}}
        {{bmcom/bm-empty-state class="inbox-empty-state" picUrl="/images/img_empty@2x.png" title="暂无数据" des="请添加待预约学员"}}
    {{else}}
        {{#if reserveType}}
            {{bmtable/bm-table-inner type="inbox" listData=applies action="setCurrentApply"}}
        {{else}}
            {{bmtable/bm-table-inner type="preRegister" listData=applies registerId=registerId addStud=(action 'onPreRegisterClick')}}
        {{/if}}
    {{/if}}
</table>
