{{yield}}
{{#each listData as |item index|}}
    {{#if withLayout}}
    <tr class="session-list">
        {{#if (bmeq type "inbox")}}
            <td class='ib_table_content_item'>
                {{#each item.kids as |list|}}
                    {{list.name}}
                {{/each}}
            </td>
            <td class="ib_table_content_item">
                {{#if (bmeq item.courseType 0)}}
                活动
                {{else}}
                体验课
                {{/if}}
            </td>
            <td class='ib_table_content_item'>{{item.courseName}}</td>
            <td class="ib_table_content_item">{{bmdob/bmdobformat item.exceptTime}}</td>
            <td class="ib_table_content_item">
                {{item.applicant.name}} &nbsp;&nbsp;
                {{!-- {{#each item.Kids as |kd kdIndex|}}
                    {{#if (eq kdIndex 0)}}
                        {{kd.guardian_role}}
                    {{/if}}
                {{/each}} --}}
                {{item.kids.firstObject.guardianRole}}
            </td>
            <td class="ib_table_content_item">{{item.contact}}</td>
            {{#if (bmeq item.status 0)}}
                <td class='ib_table_content_item'>
                    {{#bs-button classNames="ib_table_content_btn" onClick=(action 'onClickInner' item)}}<span>点击处理</span>{{/bs-button}}
                </td>
            {{else}}
                <td class='ib_table_content_item'>
                    <span class="dealed">已处理</span>
                </td>
            {{/if}}
        {{else if (bmeq type "preRegister")}}
            <td class='ib_table_content_item'>
                {{#each item.kids as |list|}}
                    {{list.name}}
                {{/each}}
            </td>
            <td class="ib_table_content_item">
                {{#if (bmeq item.kids.firstObject.gender 0)}}
                    女生
                {{else if (bmeq item.kids.firstObject.gender 1)}}
                    男生
                {{else}}
                    其他
                {{/if}}
            </td>
            <td class='ib_table_content_item'>
                {{bmdob/bmdob2age item.kids.firstObject.dob}}岁
            </td>
            <td class="ib_table_content_item">
                {{item.applicant.name}} &nbsp;&nbsp;
                {{item.kids.firstObject.guardianRole}}
            </td>
            <td class="ib_table_content_item">
                {{item.contact}}
            </td>
            <td class='ib_table_content_item'>
                {{#if (bmeq item.status 0)}}
                    <td class='ib_table_content_item'>
                        {{#bs-button classNames="ib_table_content_btn" onClick=(action 'onClickInner' item)}}<span>点击注册</span>{{/bs-button}}
                    </td>
                {{else}}
                    <td class='ib_table_content_item'>
                        <span class="dealed">已处理</span>
                    </td>
                {{/if}}

            </td>
        {{else if (bmeq type "course")}}
            {{!-- <td class='ib_table_content_item'>{{bmcom/bm-plus-one index}}</td> --}}
            <td class='ib_table_content_item'>
                {{bmdob/bmdobformat item.startDate}} {{bmdob/bmdob2weekday item.startDate}}<br/>
                {{bmdob/bmdob2clocktime item.startDate}}-{{bmdob/bmdob2clocktime item.endDate}}
            </td>
            <td class="ib_table_content_item">{{item.yard.title}}<br/>{{item.yard.address}}</td>
            <td class="ib_table_content_item">{{item.students.length}}</td>
            <td  class="ib_table_content_item">
                {{#bs-dropdown class="btn-dropdown" as |dd|}}
                    {{#dd.button class="reserve-more-btn"}}{{/dd.button}}
                    {{#dd.menu align="right" as |menu|}}
                        {{#menu.item align="right"}}
                            {{#bp-layout direction='col' classNames="dropdown-content"}}
                                <a onclick={{action 'onEditSessionClick' item dd.closeDropdown}}>编辑场次</a>
                                <a class="warning" onclick={{action 'onDeleteSessionClick' item dd.closeDropdown}}>删除场次</a>
                            {{/bp-layout}}
                        {{/menu.item}}
                    {{/dd.menu}}
                {{/bs-dropdown}}
            </td>
            <td  class="ib_table_content_item">
                {{#bs-button classNames="ib_table_content_link_btn" onClick=(action 'onClickInner' item.id)}}<span>查看</span>{{/bs-button}}
            </td>
        {{else if (bmeq type "courseInner")}}
            {{!-- <td class='ib_table_content_item'>{{index}}</td> --}}
            <td class='ib_table_content_item'>{{item.name}}</td>
            <td class="ib_table_content_item">{{bmdob/bmdobformat item.dob}}</td>
            <td class="ib_table_content_item">
                {{#if (bmeq item.gender 1)}}
                男
                {{else if (bmeq item.gender 0)}}
                女
                {{else}}
                其他
                {{/if}}
            </td>
            <td class="ib_table_content_item">
                {{!-- {{#each item.guardians as |gardianItem|}}
                    {{gardianItem.contact}}<br/>
                {{/each}} --}}
                {{item.contact}}
            </td>
            <td class="ib_table_content_item">小程序</td>
            {{!-- <td  class="ib_table_content_item">
                {{#bs-button classNames="ib_table_content_btn"}}<span>点击签到</span>{{/bs-button}}
            </td> --}}
        {{else if (bmeq type "studsList")}}
            <td class='ib_table_content_item'>{{item.name}}</td>
            <td class="ib_table_content_item">{{item.guardians.firstObject.contact}}</td>
            <td class="ib_table_content_item">
                {{#if (bmeq item.status 1)}}
                在读学生
                {{else if (bmeq item.status 0)}}
                潜在学生
                {{else}}

                {{/if}}
            </td>
            <td  class="ib_table_content_item">
                {{#bs-button classNames="ib_table_content_link_btn" onClick=(action 'onClickInner' item.id)}}<span>查看</span>{{/bs-button}}
            </td>
        {{else if (bmeq type 'ptStudsList')}}
            <td class="ib_table_content_item">{{item.name}}</td>
            <td class="ib_table_content_item">{{item.guardians.firstObject.contact}}</td>
            <td class="ib_table_content_item">
                {{#if (bmeq item.gender 1)}}
                男
                {{else if (bmeq item.gender 0)}}
                女
                {{else}}
                其他
                {{/if}}
            </td>
            <td class="ib_table_content_item">{{bmdob/bmdob2age item.dob}}</td>
            <td class="ib_table_content_item">{{item.guardians.firstObject.name}}</td>
            {{log item.create-time}}
            <td class="ib_table_content_item">{{bmdob/bmdobformat item.createTime}}</td>
            <td class="ib_table_content_item">
                {{#bs-button classNames="ib_table_content_link_btn" onClick=(action 'onClickInner' item.id)}}<span>报课</span>{{/bs-button}}
            </td>
        {{else if (bmeq type 'courseList')}}
            <td class="ib_table_content_item">
                {{input type="checkbox" name="" name='studCourse' click=(action "onCheckChange" item) checked=item.state}}
            </td>
            <td class="ib_table_content_item">{{item.sessioninfo.title}}</td>
            <td class="ib_table_content_item">{{item.sessioninfo.category.title}}</td>
            <td class="ib_table_content_item">{{bmdob/bmdob2age item.sessioninfo.alb}} - {{bmdob/bmdob2age item.sessioninfo.aub}} 岁</td>
            <td class="ib_table_content_item">{{item.sessioninfo.standardCourseCount}}</td>
            <td class="ib_table_content_item">{{item.sessioninfo.standardPrice}}</td>
        {{else if (bmeq type 'coursePageList')}}
            <td class="ib_table_content_item">{{item.sessioninfo.title}}</td>
            <td class="ib_table_content_item">{{bmdob/bmdob2age item.sessioninfo.alb}} - {{bmdob/bmdob2age item.sessioninfo.aub}} 岁</td>
            <td class="ib_table_content_item">{{item.sessioninfo.standardCourseCount}}</td>
            <td class="ib_table_content_item">{{item.sessioninfo.standardPrice}}</td>
            <td class="ib_table_content_item">删除</td>
        {{else if (bmeq type 'courseOrderList')}}
            <td class="ib_table_content_item">{{item.sessioninfo.title}}</td>
            <td class="ib_table_content_item">{{bmdob/bmdob2age item.sessioninfo.alb}} - {{bmdob/bmdob2age item.sessioninfo.aub}} 岁</td>
            <td class="ib_table_content_item">{{item.sessioninfo.standardCourseCount}}</td>
            <td class="ib_table_content_item"> ￥{{item.sessioninfo.standardPrice}}</td>
            <td class="ib_table_content_item">
                {{bp-input
                    prependDirection=left
                    prepend='￥'
                    value=item.preferentialPrice
                    onChange=(action 'onChangeInner' item)
                }}
            </td>
            <td class="ib_table_content_item">￥{{item.signedPrice}}</td>
        {{else if (bmeq type 'srarchStuds')}}
            <td class="ib_table_content_item">
                {{input type="radio" name="" value=item.id name='ptStud' click=(action "onRadioChange" item)}}
            </td>
            <td class="ib_table_content_item">{{item.name}}</td>
            <td class="ib_table_content_item">{{bmdob/bmdob2age item.dob}}</td>
            <td class="ib_table_content_item">
                {{#if (bmeq item.gender 1)}}
                男
                {{else if (bmeq item.gender 0)}}
                女
                {{else}}
                其他
                {{/if}}
            </td>
            <td class="ib_table_content_item">
                {{#if (bmeq item.status 1)}}
                在读学生
                {{else if (bmeq item.status 0)}}
                潜在学生
                {{else}}

                {{/if}}
            </td>
        {{else if (bmeq type 'srarchptStuds')}}
            {{!-- <td class="ib_table_content_item">
                {{input type="radio" name="" value=item.id name='ptStud' click=(action "onRadioChange" item)}}
            </td> --}}
            <td class="ib_table_content_item">{{item.name}}</td>
            <td class="ib_table_content_item">{{bmdob/bmdob2age item.dob}}</td>
            <td class="ib_table_content_item">
                {{#if (bmeq item.gender 1)}}
                男
                {{else if (bmeq item.gender 0)}}
                女
                {{else}}
                其他
                {{/if}}
            </td>
            <td class="ib_table_content_item">
                {{#if (bmeq item.status 1)}}
                在读学生
                {{else if (bmeq item.status 0)}}
                潜在学生
                {{else}}

                {{/if}}
            </td>
        {{else if (bmeq type "room")}}
            <td class='ib_table_content_item'>{{item.title}}</td>
            <td class='ib_table_content_item'>
                {{#if (bmeq item.roomType 0)}}
                自有
                {{else if (bmeq item.roomType 1)}}
                租用
                {{else if (bmeq item.roomType 2)}}
                公共
                {{/if}}
            </td>
            <td class="ib_table_content_item">
                {{#bs-dropdown class="btn-dropdown" as |dd|}}
                    {{#dd.button class="reserve-more-btn"}}{{/dd.button}}
                    {{#dd.menu align="right" as |menu|}}
                        {{#menu.item align="right"}}
                            {{#bp-layout direction='col' classNames="dropdown-content"}}
                                <a onclick={{action 'onEditRoomClick' item dd.closeDropdown}}>编辑教室</a>
                                {{!-- <a class="warning" onclick={{action 'onDeleteRoomClick' item dd.closeDropdown}}>删除教室</a> --}}
                            {{/bp-layout}}
                        {{/menu.item}}
                    {{/dd.menu}}
                {{/bs-dropdown}}
            </td>
        {{else if (bmeq type "classTeacher")}}
            <td class='ib_table_content_item'>
                {{#each iconData as |icon iconIdx|}}
                    {{#if (eq iconIdx index)}}
                        <img class="table-img" src={{icon.iconUrl}}/>
                    {{/if}}
                {{/each}}
                {{item.teacher.name}}
            </td>
            <td class='ib_table_content_item'>{{item.teacherDuty}}</td>
            <td class='ib_table_content_item'>{{item.teacher.contact}}</td>
            <td class='ib_table_content_item'>{{item.teacher.wechat}}</td>
        {{else if (bmeq type "classStud")}}
            <td class='ib_table_content_item'>{{item.name}}</td>
            <td class="ib_table_content_item">
                {{#if (bmeq item.gender 1)}}
                男
                {{else if (bmeq item.gender 0)}}
                女
                {{else}}
                其他
                {{/if}}
            </td>
            <td class='ib_table_content_item'>{{bmdob/bmdob2age item.dob}}岁</td>
            <td class='ib_table_content_item'>
                {{#each item.guardians as |elem index|}}
                    {{#if (eq index 0)}}
                        {{elem.contact}}
                    {{/if}}
                {{/each}}
            </td>
            <td class="ib_table_content_item">
                {{#bs-dropdown class="btn-dropdown" as |dd|}}
                    {{#dd.button class="reserve-more-btn"}}{{/dd.button}}
                    {{#dd.menu align="right" as |menu|}}
                        {{#menu.item align="right"}}
                            {{#bp-layout direction='col' classNames="dropdown-content"}}
                                <a class="warning" onclick={{action 'onRemoveStudClick' item dd.closeDropdown}}>移出班级</a>
                            {{/bp-layout}}
                        {{/menu.item}}
                    {{/dd.menu}}
                {{/bs-dropdown}}
            </td>
        {{else if (bmeq type "classArr")}}
            <td class='ib_table_content_item'>{{item.courseTime}}课时</td>
            <td class='ib_table_content_item'>
                {{bmdob/bmdobformat item.startDate}} {{bmdob/bmdob2weekday item.startDate}}<br/>
                {{bmdob/bmdob2clocktime item.startDate}}-{{bmdob/bmdob2clocktime item.endDate}}
            </td>
            <td class='ib_table_content_item'>{{item.room.title}}</td>
            {{!-- <td class='ib_table_content_item'>{{item.contact}}</td> --}}
            <td class="ib_table_content_item">
                {{#bs-dropdown class="btn-dropdown" as |dd|}}
                    {{#dd.button class="reserve-more-btn"}}{{/dd.button}}
                    {{#dd.menu align="right" as |menu|}}
                        {{#menu.item align="right"}}
                            {{#bp-layout direction='col' classNames="dropdown-content"}}
                                {{!-- <a class="" onclick={{action 'onArrcourseClick' item dd.closeDropdown}}>查看</a>
                                <a class="" onclick={{action 'onEditArrcourseClick' item dd.closeDropdown}}>编辑</a> --}}
                                <a class="warning" onclick={{action 'onRemoveArrcourseClick' item dd.closeDropdown}}>删除</a>
                            {{/bp-layout}}
                        {{/menu.item}}
                    {{/dd.menu}}
                {{/bs-dropdown}}
            </td>
        {{else if (bmeq type "ordersList")}}
            <td class='ib_table_content_item'>{{item.orderId}}</td>
            <td class="ib_table_content_item">{{item.applicant.name}}</td>
            <td class="ib_table_content_item">￥{{item.moneyReceivable}}</td>
            <td class="ib_table_content_item">￥{{item.moneyReceived}}</td>
            <td class="ib_table_content_item">
                {{#bs-dropdown class="btn-dropdown" as |dd|}}
                    {{#dd.button class="reserve-more-btn"}}{{/dd.button}}
                    {{#dd.menu align="right" as |menu|}}
                        {{#menu.item align="right"}}
                            {{#bp-layout direction='col' classNames="dropdown-content"}}
                                <a class="warning" onclick={{action 'onRemoveStudClick' item dd.closeDropdown}}>未定义</a>
                            {{/bp-layout}}
                        {{/menu.item}}
                    {{/dd.menu}}
                {{/bs-dropdown}}
            </td>
            <td  class="ib_table_content_item">
                {{#bs-button classNames="ib_table_content_link_btn" onClick=(action 'onClickInner' item.id)}}<span>查看</span>{{/bs-button}}
            </td>
        {{/if}}
    </tr>
    {{/if}}
    {{#if (bmeq type "attDetail")}}
        <tr class='session-list' data-toggle="collapse" data-target="#collapse{{index}}">
            <td class='ib_table_content_item'>
                {{#if item.showOrderDetailFlag}}
                    <img class="collapse-icon" src="/images/chevron_down_normal@2x.png" onClick={{action "onOrderClick" item}}>
                {{else}}
                    <img class="collapse-icon" src="/images/chevron_up_normal@2x.png" onClick={{action "onOrderClick" item}}>
                {{/if}}
                {{item.title}}
            </td>
            <td class="ib_table_content_item">￥{{item.standardPrice}}</td>
            <td class="ib_table_content_item">1</td>
            <td class="ib_table_content_item">-￥{{item.preferentialPrice}}</td>
            <td class="ib_table_content_item">￥{{item.signedPrice}}</td>
        </tr>
        {{#if item.showOrderDetailFlag}}
            {{!-- <tr class='acc-container' id="collapse{{index}}">
                <td>123</td>
            </tr> --}}
            {{!-- {{#bp-layout direction='col' classNames='att-detail-table'}} --}}
	                <tr class='ib_table_title att-detail-table'>
                        {{#each attTitle as |item|}}
                            <th class='ib_table_item att-detail-table'>{{item}}</th>
                        {{/each}}
	                    {{!-- {{#each model.orderTitle as |item|}}
	                        <th class='ib_table_item'>{{item}}</th>
	                    {{/each}} --}}
	                </tr>
                    <tr class='session-list att-detail-table'>
                        <td class="ib_table_content_item att-detail-table">{{item.standardCourseCount}}</td>
                        <td class="ib_table_content_item att-detail-table"></td>
                        <td class="ib_table_content_item att-detail-table"></td>
                        <td class="ib_table_content_item att-detail-table"></td>
                        <td class="ib_table_content_item att-detail-table"></td>
                        <td class="ib_table_content_item att-detail-table"></td>
                    </tr>
					{{!-- {{bmtable/bm-table-inner type="ordersList" listData=trans onClickInner=(action "cardClicked")}} --}}
            {{!-- {{/bp-layout}} --}}
        {{/if}}
    {{/if}}
{{/each}}
