{{yield}}

<table class='ib_table_head exp_table'>
    <tr class='ib_table_title'>
        {{#each title as |item|}}
            <th class='ib_table_item'>{{item}}</th>
        {{/each}}
    </tr>
    {{bmtable/bm-table-inner type="courseInner" listData=attendees}}
    {{!-- {{#each attendees as |item index|}}
    <tr class="session-list">
        <td class='ib_table_content_item'>{{index}}</td>
        <td class='ib_table_content_item'>{{item.name}}</td>
        <td class="ib_table_content_item">{{bmdob/bmdobformat item.dob}}</td>
        <td class="ib_table_content_item">
            {{#if (bmeq item.gender 1)}}
            男
            {{else}}
            女
            {{/if}}
        </td>
        <td class="ib_table_content_item">{{item.contact}}</td>
        <td class="ib_table_content_item">小程序</td>
        <td  class="ib_table_content_item">{{#bs-button classNames="ib_table_content_btn" onClick=""}}<span>点击签到</span>{{/bs-button}}</td>
    </tr>
    {{/each}} --}}
</table>