{{yield}}
{{#each listData as |item index|}}
    <tr class="session-list">
        {{#if (bmeq type "inbox")}}
            <td class='ib_table_content_item'>
                {{!-- {{#each item.Kids as |kd|}}
                    {{kd.name}}
                {{/each}} --}}
                {{item.kid.name}}
            </td>
            <td class="ib_table_content_item">
                {{#if (bmeq item.courseType 0)}}
                活动
                {{else}}
                体验课
                {{/if}}
            </td>
            <td class='ib_table_content_item'>{{item.courseName}}</td>
            <td class="ib_table_content_item">{{bmdob/bmdobformat item.except_time}}</td>
            <td class="ib_table_content_item">
                {{item.Applyee.name}} &nbsp;&nbsp;
                {{#each item.Kids as |kd kdIndex|}}
                    {{#if (eq kdIndex 0)}}
                        {{kd.guardian_role}}
                    {{/if}}
                {{/each}}
            </td>
            <td class="ib_table_content_item">{{item.contact}}</td>
            {{#if (bmeq item.status 0)}}
                <td class='ib_table_content_item'>
                    {{#bs-button classNames="ib_table_content_btn" onClick=(action 'onClickInner' item)}}<span>点击处理</span>{{/bs-button}}
                </td>
            {{else}}
                <td class='ib_table_content_item'>
                    <span class="dealed">已处理</span>
                </td>
            {{/if}}
        {{else if (bmeq type "preRegister")}}
            <td class='ib_table_content_item'>
                {{!-- {{#each item.Kids as |kd|}}
                    {{kd.name}}
                {{/each}} --}}
                {{item.kid.name}}
            </td>
            <td class="ib_table_content_item">
                {{!-- {{#each item.Kids as |kd|}}
                    {{#if (bmeq kd.gender 0)}}
                        女
                    {{else}}
                        男
                    {{/if}}
                {{/each}} --}}
                {{#if (bmeq item.kid.gender 0)}}
                    女生
                {{else}}
                    男生
                {{/if}}
            </td>
            <td class='ib_table_content_item'>
                {{!-- {{#each item.Kids as |kd|}}
                    {{bmdob/bmdobformat kd.dob}}
                {{/each}} --}}
                {{bmdob/bmdob2age item.kid.dob}}岁
            </td>
            <td class="ib_table_content_item">
                {{item.Applyee.name}} &nbsp;&nbsp;
                {{item.kid.guardian_role}}
                {{!-- {{#each item.Kids as |kd|}}
                    {{kd.guardian_role}}
                {{/each}} --}}
            </td>
            <td class="ib_table_content_item">
                {{item.contact}}
            </td>
            <td class='ib_table_content_item'>
                {{!-- {{#link-to 'edit.stud' item.id  classNames="ib_table_content_btn"}} --}}
                      {{!-- <span {{action 'addStud'}}>点击注册</span> --}}
                {{!-- {{/link-to}} --}}
                {{#if (bmeq item.status 0)}}
                    <td class='ib_table_content_item'>
                        {{#bs-button classNames="ib_table_content_btn" onClick=(action 'addStud' item)}}<span>点击注册</span>{{/bs-button}}
                    </td>
                {{else}}
                    <td class='ib_table_content_item'>
                        <span class="dealed">已处理</span>
                    </td>
                {{/if}}

            </td>
        {{else if (bmeq type "course")}}
            <td class='ib_table_content_item'>{{bmcom/bm-plus-one index}}</td>
            <td class='ib_table_content_item'>
                {{bmdob/bmdobformat item.start_date}} {{bmdob/bmdob2weekday item.start_date}}<br/>
                {{bmdob/bmdob2clocktime item.start_date}}-{{bmdob/bmdob2clocktime item.end_date}}
            </td>
            <td class="ib_table_content_item">{{item.Yard.title}}<br/>{{item.Yard.address}}</td>
            {{#if (bmcom/bm-nil-obj item.Attendees)}}
                <td class="ib_table_content_item">0</td>
            {{else}}
                <td class="ib_table_content_item">{{item.Attendees.length}}</td>
            {{/if}}
            <td  class="ib_table_content_item">
                {{#bs-dropdown class="btn-dropdown" as |dd|}}
                    {{#dd.button class="reserve-more-btn"}}{{/dd.button}}
                    {{#dd.menu align="right" as |menu|}}
                        {{#menu.item align="right"}}
                            {{#layout-push direction='col' classNames="dropdown-content"}}
                                <a onclick={{action 'onEditSessionClick' item dd.closeDropdown}}>编辑场次</a>
                                <a class="warning" onclick={{action 'onDeleteSessionClick' item dd.closeDropdown}}>删除场次</a>
                            {{/layout-push}}
                        {{/menu.item}}
                    {{/dd.menu}}
                {{/bs-dropdown}}
            </td>
            <td  class="ib_table_content_item">
                {{#bs-button classNames="ib_table_content_link_btn" onClick=(action 'onClickInner' item.id)}}<span>查看</span>{{/bs-button}}
            </td>
        {{else if (bmeq type "courseInner")}}
            {{!-- <td class='ib_table_content_item'>{{index}}</td> --}}
            <td class='ib_table_content_item'>{{item.name}}</td>
            <td class="ib_table_content_item">{{bmdob/bmdobformat item.dob}}</td>
            <td class="ib_table_content_item">
                {{#if (bmeq item.gender 1)}}
                男
                {{else}}
                女
                {{/if}}
            </td>
            <td class="ib_table_content_item">
                {{#each item.Guardians as |gardianItem|}}
                    {{gardianItem.contact}}<br/>
                {{/each}}
            </td>
            <td class="ib_table_content_item">小程序</td>
            {{!-- <td  class="ib_table_content_item">
                {{#bs-button classNames="ib_table_content_btn"}}<span>点击签到</span>{{/bs-button}}
            </td> --}}
        {{else if (bmeq type "studsList")}}
            <td class='ib_table_content_item'>{{item.name}}</td>
            <td class="ib_table_content_item">
                {{#if (bmeq item.gender 1)}}
                男
                {{else}}
                女
                {{/if}}
            </td>
            <td class='ib_table_content_item'>{{bmdob/bmdob2age item.dob}}岁</td>
            <td  class="ib_table_content_item">
                {{#bs-button classNames="ib_table_content_link_btn" onClick=(action 'onClickInner' item.id)}}<span>查看</span>{{/bs-button}}
            </td>
        {{/if}}
    </tr>
{{/each}}
