{{yield}}
{{#bp-layout direction="row" main='between'}}
    <p class="detail_top_title_text">{{title}}</p>
    {{#if (eq linkParam2 null)}}
        {{#link-to linkAddr linkParam classNames='detail_top_more_btn'}}
            {{rightText}}
        {{/link-to}}
    {{else}}
        {{#link-to linkAddr linkParam linkParam2 classNames='detail_top_more_btn'}}
            {{rightText}}
        {{/link-to}}
    {{/if}}
{{/bp-layout}}
