{{yield}}

{{#layout-push direction='col' classNames='right_detail_panel'}}
    <span class='right_panel_perperty_title'>{{label}}</span>
    {{#if (bmcom/bm-nil-length content)}}
        <span class='right_panel_perperty_des'>{{nocontent}}</span>
    {{else}}
        <span class='right_panel_perperty_des'>{{content}}</span>
    {{/if}}
{{/layout-push}}
