{{yield}}
{{#bp-layout direction='row' main='center'}}
    <span class="basis_sex_age">
        {{#if (bmeq gender 0)}}
            女{{contentBelow}} <img src={{female}} alt="">
        {{else}}
            男{{contentBelow}} <img src={{male}} alt="">
        {{/if}}
    </span>
    <span class="basis_sex_age">
        {{bmdob/bmdob2age dob}}岁
    </span>
{{/bp-layout}}
