{{#layout-push direction="col" classNames="class-card"}}
    {{#layout-push direction="col" classNames="class-card-head-info"}}
        <p class="headline">{{cls.classTitle}}</p>
        <p class="secondary-title">{{cls.sessioninfo.title}}</p>
        {{!-- <p class="class-address">{{cls.yard.address}}</p> --}}
    {{/layout-push}}
    {{#layout-push direction="col" classNames="class-card-content"}}
        {{#layout-push direction="col"}}
            <div class="progress-label">
                <p>课程进度</p>
                <p class="course-count">{{cls.courseExpireCount}}/{{cls.courseTotalCount}}</p>
                <p class="no-course-count">-</p>
            </div>
            {{#bs-progress as |p|}}
                {{p.bar value=cls.courseExpireCount minValue=0 maxValue=cls.courseTotalCount}}
            {{/bs-progress}}
        {{/layout-push}}
        {{#layout-push direction='row' classNames="no-arr-des"}}
            <p class="no-arr-des-title">尚未排课</p>
        {{/layout-push}}
        {{#layout-push direction='row' classNames="list"}}
            {{!-- <img src="../images/coursebooking_selected.png" alt="">
            <p>{{arrangedDate}}</p> --}}
            <p class="class-date">{{arrangedDate}}</p>
        {{/layout-push}}
        {{#layout-push direction='row' classNames="split-line"}}
        {{/layout-push}}
        {{#layout-push direction="row" classNames="class-teachers"}}
            {{#each techPics as |item|}}
                <img src={{item.url}} alt="">
            {{/each}}
            {{#if (gt techPicsOverFlow 0)}}
                <p class="teacher-num">+{{techPicsOverFlow}}</p>
            {{/if}}
        {{/layout-push}}
    {{/layout-push}}
{{/layout-push}}
{{yield}}
