{{#layout-push direction="col" classNames="class-card"}}
    {{#layout-push direction="col" classNames="class-card-head-info"}}
        <p class="headline">{{cls.classTitle}}</p>
        <p class="secondary-title">{{cls.sessioninfo.title}}</p>
    {{/layout-push}}
    {{#layout-push direction="col" classNames="class-card-content"}}
        {{#layout-push direction='row' classNames="split-line"}}
        {{/layout-push}}
        {{#layout-push direction="row" classNames="class-teachers"}}
            {{#if (bmeq cls.duties.length 0)}}
                <p class="note">尚未添加教师</p>
            {{else}}
                {{#each cls.duties as |item index|}}
                    {{#if (lt index 3)}}
                        {{#if (eq item.teacher.icon "")}}
                            <img src={{headImg}} alt="">
                        {{else}}
                            <img src={{bmcom/bm-img-uri item.teacher.icon bmOss}} alt="">
                        {{/if}}
                    {{/if}}
                    {{#if (gt index 2)}}
                        <p class="teacher-num">+{{bmcom/bm-minus cls.duties.length 3}}</p>
                    {{/if}}
                {{/each}}
            {{/if}}
            {{!-- {{#each techPics as |item|}}
                <img src={{item.url}} alt="">
            {{/each}}
            {{#if (gt techPicsOverFlow 0)}}
                <p class="teacher-num">+{{techPicsOverFlow}}</p>
            {{/if}} --}}
        {{/layout-push}}
    {{/layout-push}}
{{/layout-push}}

{{!-- {{bmcom/bm-handle-promise promiseResovled=(action 'promiseResovled') promiseObj=cls.duties}}
{{#if (not-eq duties.length 0)}}
    {{#each cls.duties as |item|}}
        {{bmcom/bm-handle-promise promiseResovled=(action 'promiseResovled') promiseObj=item.teacher}}
    {{/each}}
{{/if}} --}}
{{yield}}
