
{{#if isSetActivity}}
    {{#bp-layout classNames='experience_card'}}
        {{#bp-layout classNames='experience_card_background'}}
            <img src={{activity.cover}} class='experience_card_img' />
            {{#bp-layout classNames="apply-num" }}
                <p>开放{{periodCount}}个场次</p>
            {{/bp-layout}}
        {{/bp-layout}}
        {{#bp-layout direction='col' main='center' classNames='experience_card_content'}}
            {{#bp-layout direction='row' classNames='experience_card_content_line'}}
                <span class="experience_card_title">{{activity.name}}</span>
            {{/bp-layout }}
            {{#bp-layout direction='row' classNames='experience_card_content_line'}}
                <span class="experience_card_text">{{activity.cat}}</span>
            {{/bp-layout }}
        {{/bp-layout }}
    {{/bp-layout }}
{{else}}
    {{#bp-layout classNames='experience_card'}}
        {{#bp-layout classNames="apply-num" }}
            <p>10个场次报名中</p>
        {{/bp-layout}}
        {{#bp-layout direction='col' main='center' classNames='experience_card_content'}}
            {{#bp-layout direction='row' classNames='experience_card_content_line'}}
                <span class="experience_card_title">奇妙的色彩艺术之旅</span>
            {{/bp-layout }}
            {{#bp-layout direction='row' classNames='experience_card_content_line'}}
                <span class="experience_card_text">类别</span>
                <span class="experience_card_text">子类别</span>
            {{/bp-layout }}
        {{/bp-layout }}
    {{/bp-layout }}
{{/if}}

{{yield}}
