{{#bp-layout direction='col' classNames='stud_card' }}
    {{#bp-layout direction='row' main='between'}}
        <span class="stud_card_name">{{stud.name}}</span>
        <span class="stud_card_other">
            <span class="stud_card_other_sex">
                {{#if isFemale}}
                    女 ♀
                {{else}}
                    男 ♂
                {{/if}}
            </span>
        <span class="stud_card_other_age">{{stud.age}}岁</span>
        </span>
    {{/bp-layout}}
    {{#bp-layout direction='col'}}
        {{#bp-layout direction='row' split=false}}
            <img src="../images/icon_phone@2x.png" alt="" class="tel_icon"><span class="stud_card_phone">{{stud.contact}}</span>
        {{/bp-layout}}
        {{#bp-layout direction='row' main='between'}}
            <span></span><span class="stud_card_from">来自小程序</span>
        {{/bp-layout}}
    {{/bp-layout}}

{{/bp-layout }}

{{!-- {{yield}} --}}
