{{#bp-layout direction='row' classNames='tech_card'}}
    {{#bp-layout direction='col' main='center' }}
        <img class="tech_card_icon" src={{iconImg}} />
    {{/bp-layout }}
    {{#bp-layout direction='col' main='center' classNames='tech_card_content'}}
        {{#bp-layout direction='col' midt=true }}
            {{#bp-layout direction='row' classNames='tech_card_content_line'}}
                <span class="tech_card_text">{{tech.name}}</span>
                <span class="tech_card_text">{{tech.nickname}}</span>
            {{/bp-layout }}
            {{#bp-layout direction='row' classNames='tech_card_content_line'}}
                <img src="../images/icon_phone@2x.png" alt="" class="tel_icon">
                <span class="tech_card_tel">{{tech.contact}}</span>
            {{/bp-layout }}
        {{/bp-layout }}
    {{/bp-layout }}

{{/bp-layout }}

{{yield}}
