<div class="detail_content_top">
    <div class="detail_page">
        {{#link-to 'courseReserve' class="reserve_detail_href_ref"}}
            返回
        {{/link-to}}
        <div class='detail_panel detail_margin_top detail_margin_top_big' >
            {{#layout-push direction='row' split=true classNames="reserve-detail-head"}}
                {{#layout-push direction='col' mid=true }}
                    {{#layout-push direction='col' classNames="detail_margin_top_left"}}
                        <span class="detail_panel_title_name">{{bm_actv_service.actv.SessionInfo.title}}</span>
                        {{#layout-push direction='row'}}
                        {{!-- <p class="detail_panel_role_num">累计预约人数&nbsp;&nbsp;{{reserve_number}}</p> --}}
                        <p class="detail_panel_role_num">{{reserve_number}}</p>
                        {{/layout-push}}
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction="row" classNames="reserve-detail-btn"}}
                    {{#bs-button classNames="reserve-code-btn"}}{{/bs-button}}
                    <p class="reserve-more-btn"></p>
                    {{#bs-button classNames="add_btn" onClick=(action (mut add_session) true)}}<span>+ 添加场次</span>{{/bs-button}}
                    {{#bs-modal open=add_session onHidden=(action (mut add_session) false) as |modal|}}
                        <div class="session-modal">
                            {{#modal.body}}
                                {{#layout-push direction='col' }}
                                    {{#layout-push direction='row'}}
                                        <p class="title">编辑场次</p>
                                    {{/layout-push}}
                                    {{#layout-push direction='row' classNames="line-list"}}
                                        <p class="subtitle">校区设置</p>
                                        {{#layout-push direction='col' }}
                                            <span class="radio-col">
                                                <input type="radio" name="rel" value="fa"/>
                                                <label for="">
                                                    {{#layout-push direction=row}}
                                                        <select class="session-modal-select" id='reservableselect' name="">
                                                            <option value="">选择已有场地</option>
                                                            {{#each course_lst as |item|}}
                                                                <option value={{item.id}}>{{item.course.name}}</option>
                                                            {{/each}}
                                                        </select>
                                                    {{/layout-push}}
                                                </label>
                                            </span>
                                            <span class="radio-col">
                                                <input type="radio" name="rel" value="ma"/>
                                                <label for="">其他场地</label>
                                            </span>
                                        {{/layout-push}}
                                    {{/layout-push}}
                                    {{#layout-push direction="row" classNames="line-list"}}
                                        <p class="subtitle">日期设置</p>
                                        {{bm-lay-date inputVal="2018-11-15"}}
                                    {{/layout-push}}
                                    {{#layout-push direction="row" classNames="line-list"}}
                                        <p class="subtitle">时间设置</p>
                                        {{bm-lay-date inputVal="2018-11-15"}}
                                    {{/layout-push}}
                                    {{#layout-push direction='row' classNames="line-area "}}
                                        <p class="subtitle">名额设置</p>
                                        {{#layout-push direction='col' }}
                                            <span class="radio-col">
                                                <input type="radio" name="rel" value="ma"/>
                                                <label for="">不限制</label>
                                            </span>
                                            <span class="radio-col">
                                                <input type="radio" name="rel" value="fa"/>
                                                <label for="">
                                                    <input type="text" name="" value="">
                                                </label>
                                            </span>
                                        {{/layout-push}}
                                    {{/layout-push}}
                                {{/layout-push}}
                            {{/modal.body}}
                            {{#modal.footer classNames="session-modal-footer"}}
                              {{#bs-button onClick=(action modal.close) classNames="cancel"}}取消{{/bs-button}}
                              {{#bs-button type="success" onClick=(action modal.submit) classNames="save"}}确定{{/bs-button}}
                            {{/modal.footer}}
                        </div>
                    {{/bs-modal}}
                {{/layout-push}}
            {{/layout-push}}
        </div>

        {{bmcom/bm-tabs-bar cur_idx=cur_session_idx titles=model.tabs}}

        {{!-- <table class='ib_table_head'>
            <tr>
                {{#each tableTitle as |item|}}
                    <th class='ib_table_item'>{{item}}</th>
                {{/each}}
            </tr>
            {{#each tableContent as |item|}}
            <tr>
                <td class='ib_table_content_item'>
                    {{item.ind}}
                </td>
                <td class='ib_table_content_item'>
                    {{item.kid}}
                </td>
                <td class="ib_table_content_item">
                    {{item.birt}}
                </td>
                <td class='ib_table_content_item'>{{item.sex}}</td>
                <td class="ib_table_content_item">{{item.num}}</td>
                <td class="ib_table_content_item">{{item.func}}</td>
                <td class="ib_table_content_item">{{item.contact}}</td>
                <td class="ib_table_content_item">签到</td>
            </tr>
            {{/each}}
        </table> --}}

        {{#if (bmeq cur_session_idx 0)}}
        <table class='ib_table_head'>
            <tr>
                {{#each tableTitle as |item|}}
                    <th class='ib_table_item'>{{item}}</th>
                {{/each}}
            </tr>
            {{#each tableContent as |item|}}
            <tr class="session-list">
                <td class='ib_table_content_item'>{{item.ind}}</td>
                <td class='ib_table_content_item'>{{item.kid}}</td>
                <td class="ib_table_content_item">{{item.birt}}</td>
                <td class="ib_table_content_item">{{item.sex}}</td>
                <td class="ib_table_content_item">{{item.num}}</td>
                <td class="ib_table_content_item">{{item.func}}</td>
                <td class="ib_table_content_item">{{item.contact}}</td>
                <td  class="ib_table_content_item"><a class="btn_sign">点击签到</a> </td>
            </tr>
            {{/each}}
        </table>
        {{/if}}

        {{#if (bmeq cur_session_idx 1)}}
        <section class='alt_course_selection'>
            {{#layout-push direction='col' classNames='alt_course_container'}}
                {{#bmpage/bm-session-info session=bm_actv_service.actv.SessionInfo}}
                    {{#link-to 'edit.actv.info' bm_actv_service.actv.SessionInfo.id  classNames='alt_course_btn'}}
                        编辑
                    {{/link-to}}
                {{/bmpage/bm-session-info}}
            {{/layout-push}}
        </section>
        {{/if}}
    </div>
</div>
{{outlet}}
