<div class="detail_content_top" >
    <div class="detail_page" >
        {{!-- {{#bmcom/bm-breadcrumb urls=model.urls as |url|}}
            {{#if (not-eq url.id "")}}
                {{#link-to url.link url.id class="reserve_detail_href_ref"}}{{url.pageName}}{{/link-to}}
            {{else}}
                {{#link-to url.link class="reserve_detail_href_ref"}}{{url.pageName}}{{/link-to}}
            {{/if}}
        {{/bmcom/bm-breadcrumb}} --}}

        {{#layout-push direction='col' classNames="detail_panel class-detail-outer"}}
            {{#layout-push direction='row' split=true classNames="class-detail-title-top"}}
                {{#layout-push direction='col' split=true classNames="class-detail-title-top-left"}}
                    <p class="class-title">{{bm_class_service.class.classTitle}}</p>
                    <p class="class-subtitle">{{bm_class_service.class.SessionInfo.title}}</p>
                {{/layout-push}}
                {{#layout-push direction='row' classNames="class-detail-title-top-right"}}
                    {{#bs-dropdown class="btn-dropdown" as |dd|}}
                        {{#dd.button class="reserve-more-btn"}}{{/dd.button}}
                        {{#dd.menu align="right" as |menu|}}
                            {{#menu.item align="right"}}
                                {{#layout-push direction='col' classNames="dropdown-content"}}
                                    <a onclick={{action (mut editClassDlg) true dd.closeDropdown}}>编辑班级</a>
                                    <a class="warning" onclick={{action (mut deleteClassDlg) true dd.closeDropdown}}>删除班级</a>
                                {{/layout-push}}
                            {{/menu.item}}
                        {{/dd.menu}}
                    {{/bs-dropdown}}
                    {{#bs-dropdown class="btn-dropdown" as |dd|}}
                        {{#dd.button class="add-muti-btn"}}添加{{/dd.button}}
                        {{#dd.menu align="right" as |menu|}}
                            {{#menu.item align="right"}}
                                {{#layout-push direction='col' classNames="dropdown-content"}}
                                    <a onclick={{action (mut editClassDlg) true dd.closeDropdown}}>添加排课</a>
                                    <a onclick={{action (mut editClassDlg) true dd.closeDropdown}}>添加学生</a>
                                    <a onclick={{action (mut editClassDlg) true dd.closeDropdown}}>添加老师</a>
                                {{/layout-push}}
                            {{/menu.item}}
                        {{/dd.menu}}
                    {{/bs-dropdown}}
                {{/layout-push}}
            {{/layout-push}}
            {{#layout-push direction='row' split=true classNames="class-detail-title-sec"}}
                {{#layout-push direction='col' split=true classNames="class-detail-title-sec-left"}}
                    {{#layout-push direction='row' classNames="sec-left-top"}}
                        <p class="sec-title">时间</p>
                        <p class="sec-des">{{bmdob/bmdobformat bm_class_service.class.start_date}}-{{bmdob/bmdobformat bm_class_service.class.end_date}}</p>
                    {{/layout-push}}
                    {{#layout-push direction='row' classNames="sec-left-bottom"}}
                        <p class="sec-title">校区</p>
                        <p class="sec-des">{{bm_class_service.class.classTitle}}</p>
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction='row' split=true classNames="class-detail-title-sec-right"}}
                    <p class="sec-right-num">123</p>
                    <p class="sec-right-des">学生人数</p>
                    <p class="sec-right-num">123</p>
                    <p class="sec-right-des">课次</p>
                {{/layout-push}}
            
            {{/layout-push}}

            {{bmcom/bm-tabs-bar cur_idx=cur_idx titles=model.tabs needAction=true onTabClicked=(action "onTabClicked")}}

            {{#if (bmeq cur_idx 0)}}
                {{#if (bmcom/bm-nil-obj bm_class_service.class.Teachers)}}
                    {{bmcom/bm-empty-state class="exp-empty-state" picUrl="/images/img_empty@2x.png" title="暂无场次" des="点击右上角添加场次，安排体验课时间与场地吧"}}
                {{else}}
                    {{!-- {{bmpage/bm-sessionable-lst titles=model.titles action="linkToExpField" onEditSessionClick="onEditSessionClick" onDeleteSessionClick="onDeleteSessionClick"}} --}}
                    {{!-- {{bmcom/bm-pagination pageCount=bm_sessionable_service.totalPageCount sendPageNum=(action "handlePageChange")}} --}}
                {{/if}}
            {{/if}}

            {{#if (bmeq cur_idx 1)}}
                {{#if (bmcom/bm-nil-obj bm_class_service.class.Attendees)}}
                    {{bmcom/bm-empty-state class="exp-empty-state" picUrl="/images/img_empty@2x.png" title="暂无场次" des="点击右上角添加场次，安排体验课时间与场地吧"}}
                {{else}}
                    {{!-- {{bmpage/bm-sessionable-lst titles=model.titles action="linkToExpField" onEditSessionClick="onEditSessionClick" onDeleteSessionClick="onDeleteSessionClick"}} --}}
                    {{!-- {{bmcom/bm-pagination pageCount=bm_sessionable_service.totalPageCount sendPageNum=(action "handlePageChange")}} --}}
                {{/if}}
            {{/if}}

            {{#if (bmeq cur_idx 2)}}
                {{#if (bmcom/bm-nil-obj bm_class_service.class)}}
                    {{bmcom/bm-empty-state class="exp-empty-state" picUrl="/images/img_empty@2x.png" title="暂无场次" des="点击右上角添加场次，安排体验课时间与场地吧"}}
                {{else}}
                    {{!-- {{bmpage/bm-sessionable-lst titles=model.titles action="linkToExpField" onEditSessionClick="onEditSessionClick" onDeleteSessionClick="onDeleteSessionClick"}} --}}
                    {{!-- {{bmcom/bm-pagination pageCount=bm_sessionable_service.totalPageCount sendPageNum=(action "handlePageChange")}} --}}
                {{/if}}
            {{/if}}
        {{/layout-push}}
    </div>
</div>

{{outlet}}
