<div class="detail_content_top" >
    <div class="detail_page" >
        {{!-- {{#bmcom/bm-breadcrumb urls=model.urls as |url|}}
            {{#if (not-eq url.id "")}}
                {{#link-to url.link url.id class="reserve_detail_href_ref"}}{{url.pageName}}{{/link-to}}
            {{else}}
                {{#link-to url.link class="reserve_detail_href_ref"}}{{url.pageName}}{{/link-to}}
            {{/if}}
        {{/bmcom/bm-breadcrumb}} --}}

        {{#layout-push direction='col' classNames="detail_panel class-detail-outer"}}
            {{#layout-push direction='row' split=true classNames="class-detail-title-top"}}
                {{#layout-push direction='col' split=true classNames="class-detail-title-top-left"}}
                    <p class="class-title">{{model.class.classTitle}}</p>
                    {{#link-to 'detail.course' model.class.sessioninfo.id}}
                        <p class="class-subtitle">{{model.class.sessioninfo.title}}</p>
                    {{/link-to}}
                {{/layout-push}}
                {{#layout-push direction='row' classNames="class-detail-title-top-right"}}
                    {{#bs-dropdown class="btn-dropdown" as |dd|}}
                        {{#dd.button class="reserve-more-btn"}}{{/dd.button}}
                        {{#dd.menu align="right" as |menu|}}
                            {{#menu.item align="right"}}
                                {{#layout-push direction='col' classNames="dropdown-content"}}
                                    <a onclick={{action "onEditClassClick" dd.closeDropdown}}>编辑班级</a>
                                    <a class="warning" onclick={{action (mut deleteClassDlg) true dd.closeDropdown}}>删除班级</a>
                                {{/layout-push}}
                            {{/menu.item}}
                        {{/dd.menu}}
                    {{/bs-dropdown}}
                    {{#bs-dropdown class="btn-dropdown" as |dd|}}
                        {{#dd.button class="add-muti-btn"}}添加{{/dd.button}}
                        {{#dd.menu align="right" as |menu|}}
                            {{#menu.item align="right"}}
                                {{#layout-push direction='col' classNames="dropdown-content"}}
                                    <a onclick={{action (mut addArrClassDlg) true dd.closeDropdown}}>添加排课</a>
                                    <a onclick={{action (mut addStudDlg) true dd.closeDropdown}}>添加学生</a>
                                    <a onclick={{action (mut addTechDlg) true dd.closeDropdown}}>添加老师</a>
                                {{/layout-push}}
                            {{/menu.item}}
                        {{/dd.menu}}
                    {{/bs-dropdown}}
                {{/layout-push}}
            {{/layout-push}}
            {{#layout-push direction='row' split=true classNames="class-detail-title-sec"}}
                {{#layout-push direction='col' split=true classNames="class-detail-title-sec-left"}}
                    {{#layout-push direction='row' classNames="sec-left-top"}}
                        <p class="sec-title">时间</p>
                        <p class="sec-des">{{bmdob/bmdobformat model.class.startDate}}-{{bmdob/bmdobformat model.class.endDate}}</p>
                    {{/layout-push}}
                    {{#layout-push direction='row' classNames="sec-left-bottom"}}
                        <p class="sec-title">校区</p>
                        <p class="sec-des">{{model.class.yard.title}}</p>
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction='row' split=true classNames="class-detail-title-sec-right"}}
                    <p class="sec-right-num">{{model.class.students.length}}</p>
                    <p class="sec-right-des">学生人数</p>
                    <p class="sec-right-num">{{model.class.courseTotalCount}}</p>
                    <p class="sec-right-des">课次</p>
                {{/layout-push}}
            
            {{/layout-push}}

            {{bmcom/bm-tabs-bar cur_idx=cur_idx titles=model.tabs needAction=true onTabClicked=(action "onTabClicked")}}

            {{#if (bmeq cur_idx 0)}}
                {{#if (eq model.class.teachers.length 0)}}
                    {{bmcom/bm-empty-state class="exp-empty-state" picUrl="/images/img_empty@2x.png" title="尚无教师" des="快去为孩子们选择教师吧" btnText="添加教师" onBtnClick=(action (mut addTechDlg) true)}}
                {{else}}
                    {{bmtable/bm-table-class-tech listData=model.class.teachers titles=model.techTitles onRemoveTeacherClick="onRemoveTeacherClick"}}
                    {{!-- {{bmcom/bm-pagination pageCount=bm_sessionable_service.totalPageCount sendPageNum=(action "handlePageChange")}} --}}
                {{/if}}
            {{/if}}

            {{#if (bmeq cur_idx 1)}}
                {{#if (eq model.class.students.length 0)}}
                    {{bmcom/bm-empty-state class="exp-empty-state" picUrl="/images/img_empty@2x.png" title="尚无学生" des="快去添加孩子们吧" btnText="添加学生" onBtnClick=(action (mut addStudDlg) true)}}
                {{else}}
                    {{bmtable/bm-table-class-stud listData=model.class.students titles=model.studTitles onRemoveStudClick="onRemoveStudClick"}}
                    {{!-- {{bmcom/bm-pagination pageCount=bm_sessionable_service.totalPageCount sendPageNum=(action "handlePageChange")}} --}}
                {{/if}}
            {{/if}}

            {{#if (bmeq cur_idx 2)}}
                {{#if (eq model.class.units.length 0)}}
                    {{bmcom/bm-empty-state class="exp-empty-state" picUrl="/images/img_empty@2x.png" title="尚无课程安排" des="快去添加课程安排吧" btnText="添加课程安排" onBtnClick=(action (mut addArrClassDlg) true)}}
                {{else}}
                    {{bmtable/bm-table-class-arrcourse listData=model.class.units titles=model.arrTitles onRemoveArrcourseClick="onRemoveArrcourseClick"}}
                    {{!-- {{bmcom/bm-pagination pageCount=bm_sessionable_service.totalPageCount sendPageNum=(action "handlePageChange")}} --}}
                {{/if}}
            {{/if}}
        {{/layout-push}}
    </div>
</div>
{{#bmcom/bm-modal-container title="" mswitch=editClassDlg
    successbtncss='exp-modal-confirm'
    cancelbtncss='exp-modal-cancel'
    canceltext='取消'
    onCancelBtnClicked=(action 'cancelHandled')
    onSuccessBtnClicked=(action 'editClassHandled')}}
    <div class="session-modal">
        {{#layout-push direction='col' }}
            {{#layout-push direction='row'}}
                <p class="title">编辑班级</p>
            {{/layout-push}}
            {{#if noteError}}
                <div class="form-checked">
                    {{#layout-push direction='row' classNames="error-line"}}
                        <img class="error" src="https://bm-web.oss-cn-beijing.aliyuncs.com/icon_status_error%402x.png" alt="">
                        <span class="error-info">请填写完整信息</span>
                    {{/layout-push}}
                </div>
            {{/if}}
            {{#layout-push direction="col" classNames='input_area' }}
                {{bmform/bm-base-select type="id" chooseCourse=true selTitle="选择课程" options=model.courses curSelect=cur_course_id classNames="input_area area-margin-bottom"}}
            {{/layout-push}}
            {{#if noteError}}
                {{#layout-push direction="row"  classNames='input_area' }}
                    {{bmform/bm-edit-line title='班级名称' needTitleDes=true titleDes="请为班级设定名称，方便识别" inputVal=classTitle classNames='input_area input-full-width error-border'}}
                {{/layout-push}}
            {{else}}
                {{#layout-push direction="row"  classNames='input_area' }}
                    {{bmform/bm-edit-line title='班级名称' needTitleDes=true titleDes="请为班级设定名称，方便识别" inputVal=classTitle classNames='input_area input-full-width'}}
                {{/layout-push}}
            {{/if}}
            
        {{/layout-push}}
    </div>
{{/bmcom/bm-modal-container}}
{{#bmcom/bm-warning-modal title="删除" mainBtnText="删除" type="error" switchParam=deleteClassDlg cancelHandled='cancelHandled' successHandled="onDeleteClassClick"}}
    <p class="warning-modal-body-content">确定要删除「{{model.class.classTitle}}」的全部班级信息吗？</p>
    <p class="warning-modal-body-content">删除班级后与该班级相关的排课信息也会随之删除</p>
{{/bmcom/bm-warning-modal}}


{{#bmcom/bm-modal-container title="" mswitch=addTechDlg
    successbtncss='exp-modal-confirm'
    cancelbtncss='exp-modal-cancel'
    canceltext='取消'
    onCancelBtnClicked=(action 'cancelHandled')
    onSuccessBtnClicked=(action 'addTechHandled')}}
    <div class="session-modal">
        {{#layout-push direction='col' }}
            {{#layout-push direction='row'}}
                <p class="title">添加教师</p>
            {{/layout-push}}
            {{#if noteError}}
                <div class="form-checked">
                    {{#layout-push direction='row' classNames="error-line"}}
                        <img class="error" src="https://bm-web.oss-cn-beijing.aliyuncs.com/icon_status_error%402x.png" alt="">
                        <span class="error-info">请填写完整信息</span>
                    {{/layout-push}}
                </div>
            {{/if}}
            {{#layout-push direction="col" classNames='input_area' }}
                {{bmform/bm-base-select type="id" idType=true selTitle="选择教师" options=model.techs curSelect=addTechId classNames="input_area area-margin-bottom"}}
            {{/layout-push}}
            {{#layout-push direction="col" classNames='input_area' }}
                {{bmform/bm-base-select selId="job" selTitle="选择职责" options=jobDuty curSelect=addJobDuty classNames="input_area area-margin-bottom"}}
            {{/layout-push}}   
        {{/layout-push}}
    </div>
{{/bmcom/bm-modal-container}}
{{#bmcom/bm-warning-modal title="移出班级" mainBtnText="移出" type="error" switchParam=removeTechDlg cancelHandled='cancelHandled' successHandled="onRemoveTeacherClickOk"}}
    <p class="warning-modal-body-content">确定要将老师「{{tmpTech.name}}」移出「{{model.class.classTitle}}」吗？</p>
{{/bmcom/bm-warning-modal}}

{{#bmcom/bm-modal-container title="" mswitch=addStudDlg
    successbtncss='exp-modal-confirm'
    cancelbtncss='exp-modal-cancel'
    canceltext='取消'
    onCancelBtnClicked=(action 'cancelHandled')
    onSuccessBtnClicked=(action 'addStudHandled')}}
    <div class="session-modal">
        {{#layout-push direction='col' }}
            {{#layout-push direction='row'}}
                <p class="title">添加班级学生</p>
            {{/layout-push}}
            {{bmform/bm-search-multi-check multiData=model.studs type="" curItems=selectedStuds filterData=model.class.students}}
            {{!-- {{#if noteError}}
                <div class="form-checked">
                    {{#layout-push direction='row' classNames="error-line"}}
                        <img class="error" src="https://bm-web.oss-cn-beijing.aliyuncs.com/icon_status_error%402x.png" alt="">
                        <span class="error-info">请填写完整信息</span>
                    {{/layout-push}}
                </div>
            {{/if}}
            {{#layout-push direction="col" classNames='input_area' }}
                {{bmform/bm-base-select selTitle="选择教师" options=bm_tech_service.techs curSelect=addTechId idType=true classNames="input_area area-margin-bottom"}}
            {{/layout-push}}
            {{#layout-push direction="col" classNames='input_area' }}
                {{bmform/bm-base-select selTitle="选择职责" options=jobDuty curSelect=addJobDuty classNames="input_area area-margin-bottom"}}
            {{/layout-push}}    --}}
        {{/layout-push}}
    </div>
{{/bmcom/bm-modal-container}}
{{#bmcom/bm-warning-modal title="移出班级" mainBtnText="移出" type="error" switchParam=removeStudDlg cancelHandled='cancelHandled' successHandled="onRemoveStudClickOk"}}
    <p class="warning-modal-body-content">确定要将学生「{{tmpStud.name}}」移出「{{model.class.classTitle}}」吗？</p>
{{/bmcom/bm-warning-modal}}

{{#bmcom/bm-warning-modal title="删除课程安排" mainBtnText="删除" type="error" switchParam=removeUnitDlg cancelHandled='cancelHandled' successHandled="onRemoveArrcourseClickOk"}}
    <p class="warning-modal-body-content">确定要删除此节课程安排吗？</p>
{{/bmcom/bm-warning-modal}}
{{outlet}}
