<div >
    {{nav-top}}
    {{left-menu}}
</div>

<div class="detail_content_top" >
    <div class="detail_page" >
        {{#link-to 'classes' class="detail_href_ref"}}
            返回
        {{/link-to}}

        <div class='detail_panel' >
            {{#layout-push direction='row' split=true classNames="class-head-card"}}
                {{#layout-push direction='col' mid=true classNames='left-info'}}
                    <div >
                        <p class="headline">{{model.cls.name}}</p>
                        <p class="sub-title">{{model.cls.course.name}}</p>
                    </div>
                    {{#layout-push direction='row' classNames="sites" split=true}}
                        <p>场地：{{model.cls.yard.address}}</p>
                        <p>时间：{{arrangedDate}}</p>
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction="col" classNames="chooses v_end"}}
                    {{#layout-push direction='col' mid=true classNames="choose-list"}}
                        <p>更多</p>
                        {{!-- <a href=""></a>
                        <a href="" class="delete-class"></a> --}}
                        {{#bs-button onClick=(action (mut changeClassName) true) classNames="change-class-btn"}}修改班名{{/bs-button}}
                        {{#bs-button onClick=(action (mut delclsdlg) true) classNames="delete-class-btn"}}删除班级{{/bs-button}}
                    {{/layout-push}}
                {{/layout-push}}
            {{/layout-push}}
        </div>

        {{#bm-modal-container mswitch=delclsdlg 
                successbtncss='course-reserve-card-save'  
                cancelbtncss='course-reserve-card-cancel'
                canceltext='取消'
                onCancelBtnClicked=(action 'cancelDelClsHandled')  
                onSuccessBtnClicked=(action 'successDelClsHandled')}}
            <div class="change-class-pop-ups">
                <p>您确定要删除“{{model.cls.name}}”的全部班级信息吗？</p>
            </div>
        {{/bm-modal-container}}

        {{#bm-modal-container title="编集班名" mswitch=changeClassName 
                successbtncss='course-reserve-card-save'  
                cancelbtncss='course-reserve-card-cancel'
                canceltext='取消'
                onCancelBtnClicked=(action 'cancelChangeNameHandled')  
                onSuccessBtnClicked=(action 'successChangeNameHandled')}}
            {{#layout-push direction=row classNames="success-info"}}
                {{#layout-push direction="col" classNames="pop-ups-content"}}
                    {{#layout-push direction='row'}}
                        <p>当前名称</p>
                        <p>{{model.cls.name}}</p>
                    {{/layout-push}}
                    {{#layout-push direction='row'}}
                        <p>新名称</p>
                        {{input type='text' value=clsNewName }}
                    {{/layout-push}}
                {{/layout-push}}
            {{/layout-push}}
        {{/bm-modal-container}}

        {{#if arrangeClass}}
            <div class="detail_panel detail_panel_col_between" >
                <span class='detail_panel_head active' {{action 'arrangeClass'}}>课程安排</span>
                <span class="detail_panel_head" {{action 'classDetails'}}>班级详情</span>
                <span class="detail_panel_head" {{action 'traineesLists'}}>学员名单</span>
            </div>
            {{#layout-push direction='row'}}
                    {{#layout-push direction='col' classNames="class-teacher-card"}}
                        {{#layout-push direction='row' split=true classNames="class-card-head"}}
                            <p class="class-card-title">教师</p>
                            <a href="#" class=""></a>
                            {{#bs-button onClick=(action (mut techdlg) true) classNames="class-card-btn"}}编辑{{/bs-button}}
                        {{/layout-push}}
                        {{#each model.cls.tech as |item|}}
                            {{#layout-push direction='row' classNames="class-teacher-list"}}
                                <img src="../images/stud-normal.png" alt="" class="class-card-head-img">
                                {{#layout-push direction=col}}
                                    <p>姓名：{{item.me.name}}</p>
                                    <p>电话：{{item.me.contact}}</p>
                                {{/layout-push}}
                            {{/layout-push}}
                        {{/each}}
                    {{/layout-push}}
                    {{#bm-modal-container mswitch=techdlg 
                            title='添加颁奖老师'
                            successbtncss='course-reserve-card-save'  
                            cancelbtncss='course-reserve-card-cancel'
                            canceltext='取消'
                            onCancelBtnClicked=(action 'cancelTechHandled')  
                            onSuccessBtnClicked=(action 'successTechHandled')}}

                        {{#layout-push direction="col"}}
                            {{#layout-push direction="row" classNames="card-wrap edit-teacher-list"}}
                                {{#each tech_lst as |item|}}
                                    <div class="line_container_warp tech_card_container" >
                                        {{tech-card  tech=item canChecked=true onTechCardClicked=(action 'oneTechChecked')}}
                                    </div>
                                {{/each}}
                            {{/layout-push}}
                        {{/layout-push}}

                    {{/bm-modal-container}}
                    {{#layout-push direction='col' classNames="class-arrange-card" classNames="class-course-card"}}
                        {{#layout-push direction='row' split=true classNames="class-card-head"}}
                            <p class="class-card-title">课程安排</p>
                            {{#bs-button onClick=(action 'goToarrangeClass') classNames="class-card-btn"}}排课{{/bs-button}}
                        {{/layout-push}}
                        {{#layout-push direction="col"}}
                            {{#layout-push direction="row"  classNames="class-course-list course-time"}}
                                <p>时间：08/08日～12/31</p>
                                <p>共 30 节</p>
                                <p>共 60 课时</p>
                            {{/layout-push}}
                            {{#each session_lst as |item index|}}
                                {{#layout-push direction="row" split=true classNames="class-course-list"}}
                                    {{#layout-push direction="row" }}
                                        <p>第{{index}}节</p>
                                        <p>{{bmnormaldate item.start_date}} &nbsp;&nbsp; {{bmnormalweekday item.start_date}}&nbsp;&nbsp;{{item.time}}</p>
                                    {{/layout-push}}
                                    <p>{{item.tech.me.name}}</p>
                                {{/layout-push}}
                            {{/each}}
                        {{/layout-push}}
                    {{/layout-push}}
                {{!-- </div> --}}
            {{/layout-push}}
        {{/if}}

        {{#if classDetails}}
            <div class="detail_panel detail_panel_col_between" >
                <span class='detail_panel_head ' {{action 'arrangeClass'}}>课程安排</span>
                <span class="detail_panel_head active" {{action 'classDetails'}}>班级详情</span>
                <span class="detail_panel_head" {{action 'traineesLists'}}>学员名单</span>
            </div>
            <div class="detail_panel detail_panel_col_between">
                <div class="course-info">
                    {{#layout-push direction='row'  split=true classNames="line_conatainer_split"}}
                    {{#layout-push direction="row"}}
                        <p>课程名称</p>
                        <p>{{model.cls.course.name}}</p>
                    {{/layout-push}}
                    <a class="course-info-change-btn" {{action 'editCourse'}}>编辑</a>
                    {{/layout-push}}
                    {{#layout-push direction='row'}}
                        <p>课程类别</p>
                        <p>{{model.cls.course.category.cat}}<span>{{model.cls.course.category.sub}}</span></p>
                    {{/layout-push}}
                    {{#layout-push direction='row'}}
                        <p>适应年龄</p>
                        <p>{{model.cls.course.alb}}-{{model.cls.course.aub}}</p>
                        <p class="course-sub-title">分级/阶段<span>{{modle.cls.course.level}}</span></p>
                    {{/layout-push}}
                    {{#layout-push direction='row'}}
                        <p>预计课时数</p>
                        <p>{{model.cls.course.count}}</p>
                        <p class="course-sub-title">课程时长<span>{{model.cls.course.length}} min</span></p>
                    {{/layout-push}}
                    {{#layout-push direction='row'}}
                        <p>教育理念及模式</p>
                        {{#layout-push direction='row'}}
                            {{#each model.cls.course.tags as |item|}}
                                <p class="course-info-feature">{{item}}</p>
                            {{/each}}
                        {{/layout-push}}
                    {{/layout-push}}

                    {{#layout-push direction='col' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title'>课程目标</span>
                    {{/layout-push}}
                    {{#layout-push direction='col' classNames='detail_inner_panel'}}
                        {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            <span class='detail_inner_left'>
                                {{model.cls.course.target}}
                            </span>
                        {{/layout-push}}
                    {{/layout-push}}

                    {{#layout-push direction='col' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title'>课程计划</span>
                    {{/layout-push}}
                    {{#layout-push direction='col' classNames='detail_inner_panel'}}
                        {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            <span class='detail_inner_left'>
                                {{model.cls.course.planning}}
                            </span>
                        {{/layout-push}}
                    {{/layout-push}}


                    {{#layout-push direction='col' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title'>课程内容</span>
                    {{/layout-push}}
                    {{#layout-push direction='col' classNames='detail_inner_panel'}}
                        {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            <span class='detail_inner_left'>
                                {{model.cls.course.ccontent}}
                            </span>
                        {{/layout-push}}
                    {{/layout-push}}

                    {{#layout-push direction='col' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title'>课程图片</span>
                    {{/layout-push}}
                    <div class="line_conatainer_warp detail_card_container" >
                        {{#each model.cls.course.imgs as |item|}}
                            {{detail-card card=item}}
                        {{/each}}
                    </div>

                </div>

            </div>
        {{/if}}

        {{#if traineesLists}}
            <div class="detail_panel detail_panel_col_between" >
                <span class='detail_panel_head' {{action 'arrangeClass'}}>课程安排</span>
                <span class="detail_panel_head" {{action 'classDetails'}}>班级详情</span>
                <span class="detail_panel_head active" {{action 'traineesLists'}}>学员名单</span>
            </div>
                <div class="detail_panel detail_panel_col_between" >
                    {{#layout-push direction='row' classNames="add-student"}}
                        {{#bs-button onClick=(action (mut studdlg) true) classNames="add-student-btn"}}添加学员{{/bs-button}}
                    {{/layout-push}}
                </div>
                {{#bm-modal-container mswitch=studdlg 
                        title='添加班级学生'
                        successbtncss='course-reserve-card-save'  
                        cancelbtncss='course-reserve-card-cancel'
                        canceltext='取消'
                        onCancelBtnClicked=(action 'cancelStudHandled')  
                        onSuccessBtnClicked=(action 'successStudHandled')}}

                    {{#layout-push direction="col"}}
                        {{#layout-push direction="row" classNames="card-wrap edit-teacher-list"}}
                            {{#each stud_lst as |item|}}
                                <div class="line_container_warp stud_card_container" >
                                    {{stud-card stud=item canChecked=true onStudCardClicked=(action 'oneStudChecked')}}
                                </div>
                            {{/each}}
                        {{/layout-push}}
                    {{/layout-push}} 
                {{/bm-modal-container}}
    
                <div class="detail_page table-header">
                    {{#layout-push direction='col'}}
                        {{#layout-push direction='row' split=true}}
                            {{#each model.studentTableHead as |item|}}
                                <span>{{item.title}}</span>
                            {{/each}}
                        {{/layout-push}}
                    {{/layout-push}}
                </div>
                <div class="inbox-table">
                    {{#each model.cls.stud as |item|}}
                    <div class="detail_page table-body">
                        {{#layout-push direction='col'}}
                            {{#layout-push direction='row' split=true}}
                                <span class="email-status">{{item.me.name}}</span>
                                <span class="">
                                    {{#if (bmeq item.me.gender 1)}}
                                    男
                                    {{else}}
                                    女
                                    {{/if}}
                                </span>
                                <span class="">{{item.me.age}}</span>
                                <span class="">{{item.me.contact}}</span>
                            {{/layout-push}}
                        {{/layout-push}}
                    </div>
                    {{/each}}
                </div>
        {{/if}}

    </div>
</div>

{{outlet}}
