<div >
    {{nav-top}}
    {{left-menu}}
</div>
<div class="detail_content_top">
    <div class="detail_page">
        {{#link-to 'courseReserve' class="reserve_detail_href_ref"}}
            返回
        {{/link-to}}
        <div class='detail_panel detail_margin_top' >
            {{#layout-push direction='row' split=true classNames="reserve-detail-head"}}
                {{#layout-push direction='col' mid=true }}
                    {{#layout-push direction='col'}}
                        <span class="detail_panel_role_name">{{model.res.course.name}}</span>
                        {{#layout-push direction='row'}}
                        <p class="detail_panel_role_num">累计预约人数&nbsp;&nbsp;{{reserve_number}}</p>
                            {{!-- <span class="course_detail_panel_role_des">{{model.res.course.category.cat}}</span> --}}
                            {{!-- <span class="course_detail_panel_role_des">{{model.res.course.category.sub}}</span> --}}
                        {{/layout-push}}
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction="row" classNames="reserve-detail-btn"}}
                    <p class="reserve-more-btn"></p>
                    {{#bs-button onClick=(action (mut courseCode) true) classNames="reserve-code-btn"}}{{/bs-button}}
                    <div local-class="modal-dialog">
                        {{#bs-modal open=courseCode onHidden=(action (mut courseCode) false) as |modal|}}
                            <div class="stud-modal">
                                {{#modal.body classNames="stud-modal-body"}}
                                  <img src="" local-class="code-img" alt="">
                                  <p local-class="title">课程预约详情</p>
                                {{/modal.body}}
                                {{#modal.footer classNames="stud-modal-footer"}}
                                  {{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
                                  {{#bs-button type="success" onClick=(action modal.submit)}}保存图片{{/bs-button}}
                                {{/modal.footer}}
                            </div>
                        {{/bs-modal}}
                    </div>
                {{/layout-push}}
            {{/layout-push}}
        </div>
        <div class="detail_page reserve-table-header">
            {{#layout-push direction='col'}}
                {{#layout-push direction='row' split=true}}
                    {{#each model.title as |item|}}
                        <span>{{item.title}}</span>
                    {{/each}}
                {{/layout-push}}
            {{/layout-push}}
        </div>
        <div class="inbox-table">
            {{#each model.res.studs as |item|}}
                <div class="detail_page table-body">
                    {{#layout-push direction='col'}}
                        {{#layout-push direction='row' split=true }}
                            {{!-- <span>{{#bs-button class="arrive-stauts arrived" onClick=(action (mut reserveDetail) true) classNames="course-code-btn"}}已到{{/bs-button}}</span> --}}
                            <span class="">{{item.me.name}}</span>
                            <span class="">{{item.me.contact}}</span>
                            {{#bs-button classNames="email-option" onClick=(action (mut modal3) true)}}<span>签到</span>{{/bs-button}}
                        {{/layout-push}}
                    {{/layout-push}}
                </div>
            {{/each}}
        </div>
        {{#bs-modal open=reserveDetail onSubmit=(action "deleteDetail")  onHidden=(action (mut reserveDetail) false) as |modal|}}
            <div class="course-reserve-pop-ups">
                {{#modal.body classNames="course-reserve-modal-body"}}
                    {{exper-detail-pop-ups}}
                {{/modal.body}}
                {{#modal.footer}}
                  {{#bs-button onClick=(action modal.close) classNames="course-reserve-card-cancel"}}取消{{/bs-button}}
                  {{!-- {{#bs-button type="success" classNames="course-reserve-card-delete" onClick=(action modal.submit)}}删除{{/bs-button}} --}}
                {{/modal.footer}}
            </div>
        {{/bs-modal}}
        {{!-- {{#bs-modal open=deleteDetail onHidden=(action (mut deleteDetail) false) as |modal|}}
            <div class="detail-delete-pop-ups">
                {{#modal.body classNames="detail-delete-modal-body"}}
                    <p>您确定要删除该课程预约信息吗？</p>
                {{/modal.body}}
                {{#modal.footer}}
                  {{#bs-button type="success" classNames="detail-delete-card-save"}}确定{{/bs-button}}
                  {{#bs-button onClick=(action modal.close) classNames="course-delete-card-cancel"}}取消{{/bs-button}}
                {{/modal.footer}}
            </div>
        {{/bs-modal}} --}}
    </div>
</div>
{{outlet}}
