<div >
    {{nav-top}}
    {{left-menu}}
</div>

<div class="detail_content_top" >
    <div class="detail_page" >
        {{#link-to 'course' class="detail_href_ref"}}
            返回
        {{/link-to}}

        <div class='detail_panel' >
            {{#layout-push direction='col' classNames="course_detail_head"}}
                <span class='detail_panel_ls_heading'>{{model.course.name}}</span>
                <p class='detail_panel_ls_subheading'>
                    {{model.course.category.cat}}
                    <span>{{model.course.category.sub}}</span>
                </p>
            {{/layout-push}}
        </div>

        <div class="detail_panel detail_panel_col_between" >
            {{#layout-push direction='col' mid=true}}
                <span class='detail_panel_head'>课程详情</span>
            {{/layout-push}}
        </div>

        <div class="detail_panel detail_panel_col_between">
            <div class="course-info">
                {{#layout-push direction='row'  split=true classNames="line_conatainer_split"}}
                {{#layout-push direction="row"}}
                    <p>课程名称</p>
                    <p>{{model.course.name}}</p>
                {{/layout-push}}
                {{#link-to 'edit.course' model.course.id classNames='course-info-change-btn'}}
                    编辑
                {{/link-to}}
                {{/layout-push}}
                {{#layout-push direction='row'}}
                    <p>课程类别</p>
                    <p>{{model.course.category.cat}}<span>{{model.course.category.sub}}</span></p>
                {{/layout-push}}
                {{#layout-push direction='row'}}
                    <p>适应年龄</p>
                    <p>{{model.course.alb}}-{{model.course.aub}}</p>
                    <p class="course-sub-title">分级/阶段<span>{{model.course.level}}</span></p>
                {{/layout-push}}
                {{#layout-push direction='row'}}
                    <p>预计课时数</p>
                    <p>{{model.course.count}}</p>
                    <p class="course-sub-title">课程时长<span>{{model.course.length}} min</span></p>
                {{/layout-push}}
                {{#layout-push direction='row'}}
                    <p>教育理念及模式</p>
                    {{#layout-push direction='row'}}
                        {{#each model.course.tags as |item|}}
                            <p class="course-info-feature">{{item}}</p>
                        {{/each}}
                    {{/layout-push}}
                {{/layout-push}}

                {{#layout-push direction='col' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                    <span class='detail_panel_title'>课程目标</span>
                {{/layout-push}}
                {{#layout-push direction='col' classNames='detail_inner_panel'}}
                    {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                        <span class='detail_inner_left'>
                            {{model.course.target}}
                        </span>
                    {{/layout-push}}
                {{/layout-push}}

                {{#layout-push direction='col' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                    <span class='detail_panel_title'>课程计划</span>
                {{/layout-push}}
                {{#layout-push direction='col' classNames='detail_inner_panel'}}
                    {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                        <span class='detail_inner_list'>
                            {{model.course.planning}}
                        </span>
                    {{/layout-push}}
                {{/layout-push}}


                {{#layout-push direction='col' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                    <span class='detail_panel_title'>课程内容</span>
                {{/layout-push}}
                {{#layout-push direction='col' classNames='detail_inner_panel'}}
                    {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                        <span class='detail_inner_content'>
                            {{model.course.ccontent}}
                        </span>
                    {{/layout-push}}
                {{/layout-push}}

                {{#layout-push direction='col' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                    <span class='detail_panel_title'>课程图片</span>
                {{/layout-push}}
                <div class="line_conatainer_warp detail_card_container" >
                    {{#each model.course.imgs as |item|}}
                        {{detail-card card=item}}
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</div>

{{outlet}}
