<div >
    {{nav-top}}
    {{left-menu}}
</div>
<div class="detail_content_top detail_container">
    <div class="detail_page">
        {{#link-to 'experienceOpen' class="detail_href_ref pre_href"}}体验开放 /{{/link-to}}
        {{#link-to 'detail.experience' model.act.id class="detail_href_ref"}} 场次安排{{/link-to}}
        <div class='detail_panel detail_exper_nav' >
            {{#layout-push direction='row' split=true}}
                {{#layout-push direction='col' mid=true }}
                    {{#layout-push direction='col'}}
                        <span class="detail_panel_role_name">{{model.act.name}}</span>
                        {{!-- {{#layout-push direction='row'}}
                            <span class="course_detail_panel_role_des">{{model.act.cat}}</span>
                        {{/layout-push}} --}}
                        <span class="course_detail_panel_role_des">{{model.act.periods.length}}个场次报名开放中</span>
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction="row" classNames="btn_area"}}
                    {{!-- <button type="button" name="button" class="btn delete-course-btn">删除</button>
                    {{#bs-button class="stud_qrcod_btn" onClick=(action (mut courseCode) true) classNames="course-code-btn"}}生成课程二维码{{/bs-button}} --}}
                    <img class="qr_code" src="../images/activities_normal.png" width="32" height="32" alt="">
                    {{#bs-button class="stud_qrcod_btn" onClick=(action 'addSession') classNames="add-experience"}}+添加场次{{/bs-button}}
                    <div local-class="modal-dialog">
                        {{#bs-modal open=courseCode onHidden=(action (mut courseCode) false) as |modal|}}
                            <div class="stud-modal">
                                {{#modal.body classNames="stud-modal-body"}}
                                  <img src="" local-class="code-img" alt="">
                                  <p local-class="title">课程预约详情</p>
                                {{/modal.body}}
                                {{#modal.footer classNames="stud-modal-footer"}}
                                  {{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
                                  {{#bs-button type="success" onClick=(action modal.submit)}}保存图片{{/bs-button}}
                                {{/modal.footer}}
                            </div>
                        {{/bs-modal}}
                    </div>
                {{/layout-push}}
            {{/layout-push}}
        </div>
        {{#if sessionArrange}}
            {{#layout-push direction='row' classNames='ib_tab_bar'}}
                <span class='ib_tab_btn active ib_tab_btn_active'>场次安排</span>
                <span class='ib_tab_btn' {{action 'activityDetail'}} >体验详情</span>
            {{/layout-push}}

            <table class='ib_table_head'>
                <tr>
                    {{#each model.title as |item|}}
                        <th class='ib_table_item'>{{item.title}}</th>
                    {{/each}}
                </tr>

                {{#each model.act.periods as |item index|}}
                    <tr class="tbody_tr">
                        <td class='ib_table_content_item'>{{index}}</td>
                        <td class='ib_table_content_item'>{{bmperioddateformat item.start_date}}</td>
                        <td class="ib_table_content_item">{{item.yard.address}}</td>
                        <td class="ib_table_content_item">{{item.studs.length}}/{{item.limits}}</td>
                        {{!-- <td class="ib_table_content_item">{{item.applyee.contact}}</td> --}}
                        <td class='ib_table_content_item'>
                            {{#link-to 'detail.actarrangement' model.act.id item.id classNames='ib_table_content_btn'}}
                                <span>开放报名</span>
                            {{/link-to}}
                        </td>
                    </tr>
                    {{else}}
                    <h4>没有场次安排</h4>
                {{/each}}
            </table>
        {{/if}}

        {{#if activityDetail}}
            {{!-- <div class="detail_panel detail_panel_col_between" >
                {{#layout-push direction='row'}}
                    <div class="time-select today">
                        <p class="" {{action 'sessionArrange'}}>场次安排</p>
                    </div>
                    <div class="time-select today">
                        <p class="active" {{action 'activityDetail'}}>体验详情</p>
                    </div>
                {{/layout-push}}
            </div> --}}

            {{#layout-push direction='row' classNames='ib_tab_bar'}}
                <span class='ib_tab_btn' {{action 'sessionArrange'}}>场次安排</span>
                <span class='ib_tab_btn active ib_tab_btn_active'>体验详情</span>
            {{/layout-push}}
            {{#layout-push direction='row' split=true class="detail_title" }}
              <span class="title_text">体验详情</span>
              {{#link-to 'edit.experience' model.act.id classNames='detail_panel_edit_btn'}}
                  编辑
              {{/link-to}}
            {{/layout-push}}
            {{#layout-push direction='row' split=true classNames='class_detail stud_detail' }}
              <div class="class_basis_margin">
                {{#layout-push direction='col' mid=true classNames='class_detail_basis stud_detail_basis' }}

                  <p class="basis_name">{{model.act.name}}</p>
                  <p class="basis_cat">{{model.act.cat}}</p>

                  {{#layout-push direction='row' mid=true classNames='basis_time_age' }}
                    {{#layout-push direction='col' mid=true classNames='time_age age' }}
                        <p>{{model.act.alb}}~{{model.act.aub}}岁</p>
                        <p>适应年龄</p>
                    {{/layout-push}}
                    {{#layout-push direction='col' mid=true classNames='time_age time' }}
                        <p>{{model.act.length}} 分钟</p>
                        <p>体验时长</p>
                    {{/layout-push}}
                  {{/layout-push}}
                  {{#layout-push direction='row' split=true classNames='basis_imgs' }}
                    {{#layout-push direction='col' mid=true classNames='basis_imgs_left' }}
                        <img src="../images/cover_pic.jpg" alt="">
                    {{/layout-push}}
                    {{#layout-push direction='col' mid=true classNames='basis_imgs_right' }}
                        <p> <img src="../images/cover_pic_1.jpg" alt=""> </p>
                        <p> <img src="../images/cover_pic_2.jpeg" alt=""> </p>
                    {{/layout-push}}
                  {{/layout-push}}
                {{/layout-push }}

              </div>
              {{#layout-push direction='col' mid=true classNames='class_detail_other stud_detail_other' }}
                <div class="other_self">
                    <div class="_inside_container">
                        <p>体验内容</p>
                        <p>{{model.act.description}}</p>
                    </div>
                    <div class="_inside_container">
                        <p>体验计划</p>
                        <p>{{model.act.planning}}</p>
                    </div>
                    <div class="_inside_container">
                        <p>与孩子互动</p>
                        <p>{{model.act.ccontent}}</p>
                    </div>
                </div>
                <div class="other_self">
                    <div class="_inside_container">
                        <p>宝贝将获得</p>
                        {{!-- <p>{{model.act.description}}</p> --}}
                        {{experience-list-info data=model.act.gains}}
                    </div>
                    <div class="_inside_container">
                        <p>您提供的东西</p>
                        {{experience-list-info data=model.act.offered}}
                    </div>
                    <div class="_inside_container">
                        <p>参与者需自带</p>
                        {{experience-list-info data=model.act.needed}}
                    </div>
                    <div class="_inside_container">
                        <p>须知</p>
                        <p>{{model.act.notice}}</p>
                    </div>
                    <div class="_inside_container">
                        <p>费用说明</p>
                        <p>{{model.fee.description}}</p>
                    </div>
                </div>
              {{/layout-push }}
            {{/layout-push }}

        {{/if}}
    </div>
</div>
{{outlet}}
