<div >
    {{nav-top}}
    {{left-menu}}
</div>
<div class="detail_content_top">
    <div class="detail_page">
        {{#link-to 'experienceOpen' class="detail_href_ref"}}体验开放{{/link-to}}
        {{#link-to 'detail.experience' class="detail_href_ref"}}>场次安排 {{/link-to}}
        <div class='detail_panel' >
            {{#layout-push direction='row' split=true}}
                {{#layout-push direction='col' mid=true }}
                    {{#layout-push direction='col'}}
                        <span class="detail_panel_role_name">乐高机器人设计搭建课</span>
                        {{#layout-push direction='row'}}
                            <span class="course_detail_panel_role_des">运动</span>
                            <span class="course_detail_panel_role_des">跆拳道</span>
                        {{/layout-push}}
                        <span class="course_detail_panel_role_des">两个场次报名开放中</span>
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction="row"}}
                    <button type="button" name="button" class="btn delete-course-btn">删除</button>
                    {{#bs-button class="stud_qrcod_btn" onClick=(action (mut courseCode) true) classNames="course-code-btn"}}生成课程二维码{{/bs-button}}
                    {{#bs-button class="stud_qrcod_btn" onClick=(action 'addSession') classNames="add-experience"}}添加场次{{/bs-button}}
                    <div local-class="modal-dialog">
                        {{#bs-modal open=courseCode onHidden=(action (mut courseCode) false) as |modal|}}
                            <div class="stud-modal">
                                {{#modal.body classNames="stud-modal-body"}}
                                  <img src="" local-class="code-img" alt="">
                                  <p local-class="title">课程预约详情</p>
                                {{/modal.body}}
                                {{#modal.footer classNames="stud-modal-footer"}}
                                  {{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
                                  {{#bs-button type="success" onClick=(action modal.submit)}}保存图片{{/bs-button}}
                                {{/modal.footer}}
                            </div>
                        {{/bs-modal}}
                    </div>
                {{/layout-push}}
            {{/layout-push}}
        </div>
        {{#if sessionArrange}}
            <div class="detail_panel detail_panel_col_between" >
                {{#layout-push direction='row'}}
                        <div class="time-select today">
                            <p class="active" {{action 'sessionArrange'}}>场次安排</p>
                        </div>
                        <div class="time-select today">
                            <p class="" {{action 'activityDetail'}}>体验详情</p>
                        </div>
                {{/layout-push}}
            </div>
            <div class="detail_page table-header">
                {{#layout-push direction='col'}}
                    {{#layout-push direction='row' split=true}}
                        {{#each model as |item|}}
                            <span>{{item.title}}</span>
                        {{/each}}
                    {{/layout-push}}
                {{/layout-push}}
            </div>
            <div class="inbox-table">
                <div class="detail_page table-body">
                        {{#layout-push direction='col'}}
                            {{#layout-push direction='row' split=true  onClick=(action 'viewExperDetail')}}
                                <span class="email-status" {{action 'viewExperDetail'}}>01</span>
                                <span class="">08/03（周五）10:30</span>
                                <span class="">北京朝阳区东外56号文创产业园111座</span>
                                <span class="">20/100</span>
                                <span class="apply-status-open">开放</span>
                                {{#layout-push direction='row'}}
                                    {{#bs-button classNames="email-option" onClick=(action (mut modal3) true)}}<span>停止报名</span>{{/bs-button}}
                                    {{#bs-button classNames="email-option" onClick=(action (mut modal3) true)}}<span>更多</span>{{/bs-button}}
                                {{/layout-push}}
                            {{/layout-push}}
                        {{/layout-push}}
                </div>
                <div class="detail_page table-body">
                        {{#layout-push direction='col'}}
                            {{#layout-push direction='row' split=true}}
                                <span class="email-status">02</span>
                                <span class="">08/03（周五）10:30</span>
                                <span class="">北京朝阳区东外56号文创产业园111座</span>
                                <span class="">20/100</span>
                                <span class="apply-status-close">关闭</span>
                                {{#layout-push direction='row'}}
                                    {{#bs-button classNames="email-option" onClick=(action (mut modal3) true)}}<span>停止报名</span>{{/bs-button}}
                                    {{#bs-button classNames="email-option" onClick=(action (mut modal3) true)}}<span>更多</span>{{/bs-button}}
                                {{/layout-push}}
                            {{/layout-push}}
                        {{/layout-push}}
                </div>
            </div>
        {{/if}}

        {{#if activityDetail}}
            <div class="detail_panel detail_panel_col_between" >
                {{#layout-push direction='row'}}
                        <div class="time-select today">
                            <p class="" {{action 'sessionArrange'}}>场次安排</p>
                        </div>
                        <div class="time-select today">
                            <p class="active" {{action 'activityDetail'}}>体验详情</p>
                        </div>
                {{/layout-push}}
            </div>
            <div class="detail_panel detail_panel_col_between">
                <div class="course-info">
                    {{#layout-push direction='row'  split=true classNames="line_conatainer_split"}}
                        {{#layout-push direction="row"}}
                            <p>主题</p>
                            <p>乐高机器人设计搭建课</p>
                        {{/layout-push}}
                        <a class="course-info-change-btn">编辑</a>
                    {{/layout-push}}
                    {{#layout-push direction='row'}}
                        <p>分类</p>
                        <p>体验课</p>
                    {{/layout-push}}
                    {{#layout-push direction='row'}}
                        <p>适应年龄</p>
                        <p>6~12</p>
                    {{/layout-push}}
                    {{#layout-push direction='row'}}
                        <p>体验时长</p>
                        <p>240 min</p>
                    {{/layout-push}}

                    {{#layout-push direction='col' classNames='detail_panel_des_container'}}
                        <span class='detail_panel_title'>体验图片</span>
                    {{/layout-push}}
                    <div class="line_conatainer_warp detail_card_container" >
                        {{detail-card}}
                    </div>
                    {{#layout-push direction='col' classNames='detail_panel_des_container'}}
                        <span class='detail_panel_title'>体验内容</span>
                    {{/layout-push}}
                    {{#layout-push direction='col' classNames='detail_inner_panel'}}
                        {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            <span class='detail_inner_left'>
                                本次体验孩子们将在特别设计的主题式场景中，运用不同种类的乐高教学积木，学习拼搭装备主题造型，以解决问题的方法为基础，培养科学技术实践运用的能力。乐高强调“玩中学”，在玩的过程中孩子们自由探索，体会属于他们自己的世界，不知不觉促进着孩子肢体语言和自我意识的发展。

                            </span>
                        {{/layout-push}}
                    {{/layout-push}}

                    {{#layout-push direction='col' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title'>体验计划</span>
                    {{/layout-push}}
                    {{#layout-push direction='col' classNames='detail_inner_panel'}}
                        {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            <span class='detail_inner_list'>
                                {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                                    {{#layout-push direction="row"}}
                                        <span class="list-status"></span>
                                        <p> 对乐高积木文化和编程建立基础认识</p>
                                    {{/layout-push}}
                                    {{#layout-push direction="row"}}
                                        <span class="list-status"></span>
                                        <p> 简单乐高积木搭建和软件入门</p>
                                    {{/layout-push}}
                                    {{#layout-push direction="row"}}
                                        <span class="list-status"></span>
                                        <p> 软件实操</p>
                                    {{/layout-push}}
                                    {{#layout-push direction="row"}}
                                        <span class="list-status"></span>
                                        <p> 乐高积木组件和编程结合练习完成简易机器人搭建。</p>
                                    {{/layout-push}}
                                {{/layout-push}}
                            </span>
                        {{/layout-push}}
                    {{/layout-push}}


                    {{#layout-push direction='col' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title'>与孩子互动</span>
                    {{/layout-push}}
                    {{#layout-push direction='col' classNames='detail_inner_panel'}}
                        {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            <span class='detail_inner_content'>
                                我们将协助每一位孩子让他们完成各自的作品，鼓励孩子突破面对的搭建困难，并积极响应孩子们对于知识难点的疑问。
全程悉心教导孩子完成乐高积木搭建，软件使用，以及编程能力养成。在解决问题的同时帮助孩子们根据项目积极思考，
提高逻辑思维，合作沟通，独立思考，以及解决问题的能力。
                            </span>
                        {{/layout-push}}
                    {{/layout-push}}

                    {{#layout-push direction='row' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title list-title'>宝贝将获得</span>
                        {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            {{#layout-push direction="row"}}
                                <span class="list-status"></span>
                                <p> 属于自己的乐高机器人</p>
                            {{/layout-push}}
                            {{#layout-push direction="row"}}
                                <span class="list-status"></span>
                                <p> 机器人奖状</p>
                            {{/layout-push}}
                            {{#layout-push direction="row"}}
                                <span class="list-status"></span>
                                <p> 水果点心</p>
                            {{/layout-push}}
                        {{/layout-push}}
                    {{/layout-push}}

                    {{#layout-push direction='row' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title list-title'>您提供的東西</span>
                        {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            {{#layout-push direction="row"}}
                                <span class="list-status"></span>
                                <p> 属于自己的乐高机器人</p>
                            {{/layout-push}}
                            {{#layout-push direction="row"}}
                                <span class="list-status"></span>
                                <p> 机器人奖状</p>
                            {{/layout-push}}
                            {{#layout-push direction="row"}}
                                <span class="list-status"></span>
                                <p> 水果点心</p>
                            {{/layout-push}}
                        {{/layout-push}}
                    {{/layout-push}}

                    {{#layout-push direction='row' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title list-title'>参与者需自带</span>
                        {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            {{#layout-push direction="row"}}
                                <span class="list-status"></span>
                                <p> 属于自己的乐高机器人</p>
                            {{/layout-push}}
                            {{#layout-push direction="row"}}
                                <span class="list-status"></span>
                                <p> 机器人奖状</p>
                            {{/layout-push}}
                            {{#layout-push direction="row"}}
                                <span class="list-status"></span>
                                <p> 水果点心</p>
                            {{/layout-push}}
                        {{/layout-push}}
                    {{/layout-push}}


                    {{#layout-push direction='col' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title'>须知</span>
                    {{/layout-push}}
                    {{#layout-push direction='col' classNames='detail_inner_panel'}}
                        {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            <span class='detail_inner_content'>
                                需家长陪同，需家长接送。
                            </span>
                        {{/layout-push}}
                    {{/layout-push}}

                    {{#layout-push direction='row' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title'>费用说明</span>
                        <span class='detail_panel_role_name'>
                            承诺本次体验全部免费，不收任何额外费用。
                        </span>
                    {{/layout-push}}
                </div>

            </div>
        {{/if}}
    </div>
</div>
{{outlet}}
