<div >
    {{nav-top}}
    {{left-menu}}
</div>
<div class="detail_content_top">
    <div class="detail_page">
        {{#link-to 'experienceOpen' class="detail_href_ref"}}体验开放{{/link-to}}
        {{#link-to 'detail.experience' model.act.id class="detail_href_ref"}}>场次安排 {{/link-to}}
        <div class='detail_panel' >
            {{#layout-push direction='row' split=true}}
                {{#layout-push direction='col' mid=true }}
                    {{#layout-push direction='col'}}
                        <span class="detail_panel_role_name">{{model.act.name}}</span>
                        {{#layout-push direction='row'}}
                            <span class="course_detail_panel_role_des">{{model.act.cat}}</span>
                        {{/layout-push}}
                        <span class="course_detail_panel_role_des">{{model.act.periods.length}}个场次报名开放中</span>
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction="row"}}
                    {{!-- <button type="button" name="button" class="btn delete-course-btn">删除</button> --}}
                    {{!-- {{#bs-button class="stud_qrcod_btn" onClick=(action (mut courseCode) true) classNames="course-code-btn"}}生成课程二维码{{/bs-button}} --}}
                    {{#bs-button class="stud_qrcod_btn" onClick=(action 'addSession') classNames="add-experience"}}添加场次{{/bs-button}}
                    <div local-class="modal-dialog">
                        {{#bs-modal open=courseCode onHidden=(action (mut courseCode) false) as |modal|}}
                            <div class="stud-modal">
                                {{#modal.body classNames="stud-modal-body"}}
                                  <img src="" local-class="code-img" alt="">
                                  <p local-class="title">课程预约详情</p>
                                {{/modal.body}}
                                {{#modal.footer classNames="stud-modal-footer"}}
                                  {{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
                                  {{#bs-button type="success" onClick=(action modal.submit)}}保存图片{{/bs-button}}
                                {{/modal.footer}}
                            </div>
                        {{/bs-modal}}
                    </div>
                {{/layout-push}}
            {{/layout-push}}
        </div>
        {{#if sessionArrange}}
            {{#layout-push direction='row' classNames='ib_tab_bar'}}
                <span class='ib_tab_btn active ib_tab_btn_active'>场次安排</span>
                <span class='ib_tab_btn' {{action 'activityDetail'}} >体验详情</span>
            {{/layout-push}}

            <table class='ib_table_head'>
                <tr>
                    {{#each model.title as |item|}}
                        <th class='ib_table_item'>{{item.title}}</th>
                    {{/each}}
                </tr>

                {{#each model.act.periods as |item index|}}
                <tr>
                    <td class='ib_table_content_item'>{{index}}</td>
                    <td class='ib_table_content_item'>{{bmperioddateformat item.start_date}}</td>
                    <td class="ib_table_content_item">{{item.yard.address}}</td>
                    <td class="ib_table_content_item">{{item.studs.length}}/{{item.limits}}</td>
                    {{!-- <td class="ib_table_content_item">{{item.applyee.contact}}</td> --}}
                    <td class='ib_table_content_item'>
                        {{#link-to 'detail.actarrangement' model.act.id item.id classNames='ib_table_content_btn'}}
                            <span>进入</span>
                        {{/link-to}}
                    </td>
                </tr>            
                {{/each}}
            </table>
        {{/if}}

        {{#if activityDetail}}
            {{!-- <div class="detail_panel detail_panel_col_between" >
                {{#layout-push direction='row'}}
                    <div class="time-select today">
                        <p class="" {{action 'sessionArrange'}}>场次安排</p>
                    </div>
                    <div class="time-select today">
                        <p class="active" {{action 'activityDetail'}}>体验详情</p>
                    </div>
                {{/layout-push}}
            </div> --}}

            {{#layout-push direction='row' classNames='ib_tab_bar'}}
                <span class='ib_tab_btn' {{action 'sessionArrange'}}>场次安排</span>
                <span class='ib_tab_btn active ib_tab_btn_active'>体验详情</span>
            {{/layout-push}}

            <div class="detail_panel detail_panel_col_between">
                <div class="course-info">
                    {{#layout-push direction='row'  split=true classNames="line_conatainer_split"}}
                        {{#layout-push direction="row"}}
                            <p>主题</p>
                            <p>{{model.act.name}}</p>
                        {{/layout-push}}
                        {{#link-to 'edit.experience' model.act.id classNames='course-info-change-btn'}}
                            编辑
                        {{/link-to}}
                    {{/layout-push}}
                    {{#layout-push direction='row'}}
                        <p>分类</p>
                        <p>{{model.act.cat}}</p>
                    {{/layout-push}}
                    {{#layout-push direction='row'}}
                        <p>适应年龄</p>
                        <p>{{model.act.alb}}~{{model.act.aub}}</p>
                    {{/layout-push}}
                    {{#layout-push direction='row'}}
                        <p>体验时长</p>
                        <p>{{model.act.length}} min</p>
                    {{/layout-push}}

                    {{#layout-push direction='col' classNames='detail_panel_des_container'}}
                        <span class='detail_panel_title'>体验图片</span>
                    {{/layout-push}}
                    <div class="line_conatainer_warp detail_card_container" >
                        {{#each model.act.imgs as |item|}}
                            {{detail-card card=item}}
                        {{/each}}
                    </div>
                    {{#layout-push direction='col' classNames='detail_panel_des_container'}}
                        <span class='detail_panel_title'>体验内容</span>
                    {{/layout-push}}
                    {{#layout-push direction='col' classNames='detail_inner_panel'}}
                        {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            <span class='detail_inner_left'>
                                {{model.act.description}}
                            </span>
                        {{/layout-push}}
                    {{/layout-push}}

                    {{#layout-push direction='col' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title'>体验计划</span>
                    {{/layout-push}}
                    {{#layout-push direction='col' classNames='detail_inner_panel'}}
                        {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            <span class='detail_inner_list'>
                                {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                                    {{model.act.planning}}
                                {{/layout-push}}
                            </span>
                        {{/layout-push}}
                    {{/layout-push}}


                    {{#layout-push direction='col' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title'>与孩子互动</span>
                    {{/layout-push}}
                    {{#layout-push direction='col' classNames='detail_inner_panel'}}
                        {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            <span class='detail_inner_content'>
                                {{model.act.ccontent}}
                            </span>
                        {{/layout-push}}
                    {{/layout-push}}

                    {{#layout-push direction='row' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title list-title'>宝贝将获得</span>
                        
                        {{experience-list-info data=model.act.gains}}
                        {{!-- {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            {{#each model.act.gains as |item|}}
                                {{#layout-push direction="row"}}
                                    <span class="list-status"></span>
                                    <p>{{item}}</p>
                                {{/layout-push}}
                            {{/each}}
                        {{/layout-push}} --}}
                    {{/layout-push}}

                    {{#layout-push direction='row' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title list-title'>您提供的東西</span>
                        {{experience-list-info data=model.act.offered}}
                        {{!-- {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            {{#each model.act.offered as |item|}}
                                {{#layout-push direction="row"}}
                                    <span class="list-status"></span>
                                    <p>{{item}}</p>
                                {{/layout-push}}
                            {{/each}}
                        {{/layout-push}} --}}
                    {{/layout-push}}

                    {{#layout-push direction='row' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title list-title'>参与者需自带</span>
                        {{experience-list-info data=model.act.needed}}
                        {{!-- {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            {{#each model.act.needed as |item|}}
                                {{#layout-push direction="row"}}
                                    <span class="list-status"></span>
                                    <p>{{item}}</p>
                                {{/layout-push}}
                            {{/each}}
                        {{/layout-push}} --}}
                    {{/layout-push}}


                    {{#layout-push direction='col' classNames='detail_panel_des_container detail_panel_des_container_between'}}
                        <span class='detail_panel_title'>须知</span>
                    {{/layout-push}}
                    {{#layout-push direction='col' classNames='detail_inner_panel'}}
                        {{#layout-push direction='col' classNames='detail_inner_content_line'}}
                            <span class='detail_inner_content'>
                                {{model.act.notice}}
                            </span>
                        {{/layout-push}}
                    {{/layout-push}}

                    {{#layout-push direction='row' classNames="cost"}}
                        <p>费用说明</p>
                        <p>{{model.fee.description}}</p>
                    {{/layout-push}}
                </div>
            </div>
        {{/if}}
    </div>
</div>
{{outlet}}
