<div class="detail_content_top">
	<div class="detail_page">
		<p class="detail_stud_nav">
			{{#link-to 'stud' class="detail_href_ref" }}
				学生管理
			{{/link-to}}
			<span>&nbsp;&nbsp; / &nbsp;&nbsp; 学生详情</span>
		</p>
		{{#layout-push direction='row' split=true class="detail_title" }}
			<span class="title_text">{{bm_stud_service.stud.name}}</span>
			<div class="qr-code">
				<img src={{qrCode}} alt="">
			</div>
		{{/layout-push}}

		<div class="tab-area">
			{{bmcom/bm-tabs-bar cur_idx=cur_idx titles=model.tabs}}
		</div>


		{{bmdetail/bm-top-title-panel title="学生详情" rightText="编辑" linkAddr='edit.stud' linkParam=bm_stud_service.stud.id}}
		{{#layout-push direction='row' split=true classNames='stud_detail' }}
			<div class="basis_margin">
				{{#layout-push direction='col' mid=true classNames='stud_detail_basis' }}
					<div class="head-img">
						<img src={{headImg}} alt="">
					</div>
					<p class="basis_name">{{bm_stud_service.stud.name}}</p>
					{{bmdetail/stud-basis-left-subtitle gender=bm_stud_service.stud.gender dob=bm_stud_service.stud.dob}}
					{{!-- {{#layout-push direction='col' classNames='basis_dob' }} --}}
						{{!-- {{#layout-push direction='row' classNames="basis_contact basis_contact_margin_bottom"}}
							<span class="basis_dob_title">联系方式</span><span>{{bm_stud_service.stud.contact}}</span>
						{{/layout-push}}

						{{#layout-push direction='row' classNames="basis_contact"}}
							<span class="basis_dob_title">微信</span><span>{{bm_stud_service.stud.wechat}}</span>
						{{/layout-push}} --}}
						{{!-- <span>出生日期</span><span>{{bmdob/bmdobformat bm_stud_service.stud.dob}}</span> --}}
					{{!-- {{/layout-push}} --}}
				{{/layout-push }}
			</div>
			{{#layout-push direction='col' mid=true classNames='stud_detail_other' }}

				<div class="other_self">
					{{#layout-push direction='col'}}
						<p class="parent_info">孩子信息</p>
						<div class="self_info">
							{{bmdetail/stud-basis-info label="昵称" content=bm_stud_service.stud.nickname}}
							{{bmdetail/stud-basis-info label="星座" content=bm_stud_service.stud.dob}}
							{{bmdetail/stud-basis-info label="就读学校" content=bm_stud_service.stud.school}}
							{{bmdetail/stud-basis-info label="住址" content=bm_stud_service.stud.address}}
							{{bmdetail/stud-basis-info label="注册时间" content=bm_stud_service.stud.reg_date}}
						</div>
					{{/layout-push}}
					<div class="line"></div>
					{{#layout-push direction='col'}}
						<p class="parent_info">监护人信息</p>
						<div class="self_info">
							{{bmdetail/stud-basis-info label="姓名" content=bm_stud_service.stud.Guardians.firstObject.name}}
							{{bmdetail/stud-basis-info label="关系" content=bm_stud_service.stud.Guardians.firstObject.relation_ship}}
							{{bmdetail/stud-basis-info label="联系方式" content=bm_stud_service.stud.Guardians.firstObject.contact}}
							{{bmdetail/stud-basis-info label="微信" content=bm_stud_service.stud.wechat}}
						</div>
					{{/layout-push}}
					<div class="line"></div>
					{{#layout-push direction='col'}}
						<p class="parent_info">更多信息</p>
						<div class="self_info">
							{{bmdetail/stud-basis-info label="课程顾问" content='老师名字'}}
							{{bmdetail/stud-basis-info label="渠道来源" content='小程序'}}
						</div>
					{{/layout-push}}
					<div class="line"></div>
					{{#layout-push direction='col'}}
						<p class="parent_info">关注者信息</p>
						{{bmdetail/stud-followers-info }}
					{{/layout-push}}
				</div>
			{{/layout-push }}
		{{/layout-push }}
	</div>
</div>

{{outlet}}
