<div class="detail_content_top">
	<div class="detail_page">
		<p class="detail_stud_nav">
			{{#link-to 'stud' class="detail_href_ref" }}
				学生管理
			{{/link-to}}
			<span>&nbsp;&nbsp; / &nbsp;&nbsp; 学生详情</span>
		</p>
		{{!-- {{#layout-push direction='row' split=true class="detail_title" }}
			<span class="title_text">学员详情</span>
			{{#link-to 'edit.stud' bm_stud_service.stud.id classNames='detail_panel_edit_btn' }}
				编辑
			{{/link-to}}
		{{/layout-push}} --}}
		{{bmdetail/bm-top-title-panel title="学员详情" rightText="编辑" linkAddr='edit.stud' linkParam=bm_stud_service.stud.id}}
		{{#layout-push direction='row' split=true classNames='stud_detail' }}
			<div class="basis_margin">
				{{#layout-push direction='col' mid=true classNames='stud_detail_basis' }}
					<p class="basis_name">{{bm_stud_service.stud.name}}</p>
					{{!-- {{#layout-push direction='row' mid=true}}
						<span class="basis_sex_age">
							{{#if (bmeq bm_stud_service.stud.gender 0)}}
								女 ♀
							{{else}}
								男 ♂
							{{/if}}
						</span>
						<span class="basis_sex_age">
							{{bmdob/bmdob2age bm_stud_service.stud.dob}}岁
						</span>
					{{/layout-push}} --}}
					{{bmdetail/stud-basis-left-subtitle gender=bm_stud_service.stud.gender dob=bm_stud_service.stud.dob}}
					{{#layout-push direction='row' mid=true classNames='basis_dob' }}
						<span>出生日期</span><span>{{bmdob/bmdobformat bm_stud_service.stud.dob}}</span>
					{{/layout-push}}
				{{/layout-push }}
			</div>
			{{#layout-push direction='col' mid=true classNames='stud_detail_other' }}

				<div class="other_self">
					<p class="parent_info">孩子信息</p>
					<div class="self_info">
						{{bmdetail/stud-basis-info label="昵称" content=bm_stud_service.stud.nickname}}
						{{bmdetail/stud-basis-info label="星座" content=bm_stud_service.stud.contact}}
						{{bmdetail/stud-basis-info label="就读学校" content=bm_stud_service.stud.school}}
						{{bmdetail/stud-basis-info label="住址" content=bm_stud_service.stud.firstObject.Guardians.firstObject.addr}}
						{{bmdetail/stud-basis-info label="注册时间" content=bm_stud_service.stud.reg_date}}
					</div>
					<div class="line"></div>
					<p class="parent_info">监护人信息</p>
					<div class="self_info">
						{{bmdetail/stud-basis-info label="姓名" content=bm_stud_service.stud.Guardians.firstObject.name}}
						{{bmdetail/stud-basis-info label="关系" content=bm_stud_service.stud.Guardians.firstObject.relation_ship}}
						{{bmdetail/stud-basis-info label="联系方式" content=bm_stud_service.stud.Guardians.firstObject.contact}}
						{{bmdetail/stud-basis-info label="身份证号" content=bm_stud_service.stud.firstObject.wechat}}

					</div>
				</div>
			{{/layout-push }}
		{{/layout-push }}
	</div>
</div>

{{outlet}}
