<section class='alt_yard_selection' >
    {{#layout-push direction='col' classNames='alt_yard_container'}}

        {{#layout-push direction='col' classNames="detail_title yard_detail_title"}}
            <span class="title_text">{{bm_yard_service.yard.title}}</span> 
            <span class="sub_title_text">{{bm_yard_service.yard.address}}</span> 
        {{/layout-push}}
        {{#layout-push direction="col" classNames="detail_panel_tab_container"}}
            {{bmcom/bm-tabs-bar cur_idx=cur_idx titles=model.tabs}}
        {{/layout-push}}


        {{#if (eq cur_idx 0)}}
            {{bmdetail/bm-top-title-panel title="校区信息" rightText="编辑" linkAddr='edit.yard' linkParam=bm_yard_service.yard.id}}
            {{#layout-push direction='row' split=true}}
                {{#layout-push direction='col' classNames='alt_yard_left_panel'}}
                    {{#layout-push direction='col' classNames='alt_yard_panel'}}
                        {{bmdetail/course-basis-left-title 
                            title=bm_yard_service.yard.title
                            subTitle=bm_yard_service.yard.address
                            subTitleBehind=""}}
                        {{bmdetail/yard-basis-left-tags tags1=bm_yard_service.yard.scenario tags2=bm_yard_service.yard.attribute}}
                        {{!-- {{#layout-push direction='row' mid=true classNames='alt_yard_deltail_title'}}
                            {{bm_yard_service.yard.title}}
                        {{/layout-push}}
                        {{#layout-push direction='row' mid=true classNames='alt_yard_detail_cat'}}
                            {{bm_yard_service.yard.address}}
                        {{/layout-push}}
                        {{#layout-push direction='row' mid=true classNames='alt_yard_tag'}}
                            <p>{{bm_yard_service.yard.attribute}}</p>
                        {{/layout-push}} --}}
                        {{#if (bmcom/bm-nil-obj bm_yard_service.yard)}}
                        {{else}}
                            {{bmcom/bm-pic-jigsaw picData=bm_yard_service.yard.Tagimgs}}
                        {{/if}}
                    {{/layout-push}}
                {{/layout-push}}

                {{#layout-push direction='col' classNames='alt_yard_panel alt_yard_right_panel'}}
                    {{#layout-push direction='col' classNames='alt_yard_detail_panel'}}
                        {{!-- {{bmdetail/course-basis-right-info label="交通路线" content=bm_yard_service.yard.traffic_info}} --}}
                        {{bmdetail/stud-basis-info label="客服电话" content=bm_yard_service.yard.serviceContact}}
                        {{bmdetail/stud-basis-info label="营业时间" content=bm_yard_service.yard.openTime}}
                    {{/layout-push}}

                    {{#layout-push direction='col' classNames='alt_yard_detail_panel'}}
                        <span class='alt_right_panel_perperty_title'>校区设施</span>
                        {{#if (bmcom/bm-nil-obj bm_yard_service.yard.facilities)}}
                            {{#layout-push direction='row'}}
                                <span class='alt_right_panel_perperty_des'>请上传信息</span>
                            {{/layout-push}}
                        {{else}}
                            {{#layout-push direction='row' classNames='facilities_tag_container'}}
                                {{#each bm_yard_service.yard.facilities as |item|}}
                                    <span class='alt_yard_detail_tag'>{{item}}</span>
                                {{/each}}
                            {{/layout-push}}
                        {{/if}}
                    {{/layout-push}}

                    {{#layout-push direction='col' classNames='alt_yard_detail_panel'}}
                        <span class='alt_right_panel_perperty_title'>校区认证</span>
                            {{#if (bmcom/bm-nil-obj bm_yard_service.yard.Certifications)}}
                                {{#layout-push direction='row'}}
                                    <span class='alt_right_panel_perperty_des'>请上传信息</span>
                                {{/layout-push}}
                            {{else}}
                                <div class='line_conatainer_warp'>
                                    {{#each bm_yard_service.yard.Certifications as |item|}}
                                        {{bmcom/bm-img-uploader needTag=true canEdit=false img=item.img tag=item.tag classNames='alt-yard-tag-img-adjust'}}
                                    {{/each}}
                                </div>
                            {{/if}}
                            {{!-- <img src={{cover}} class="img_cert">
                            <span>xxx认证</span> --}}
                    {{/layout-push}}
                {{/layout-push}}
            {{/layout-push}}
        {{/if}}
        {{#if (eq cur_idx 1)}}
            {{#layout-push direction='col' classNames='yard_room_container'}}
                {{#layout-push direction='row' split=true classNames='yard_room_title_container'}}
                    <p class="room-title">教室/场地</p>
                    {{#bs-button classNames="add_btn" onClick=(action 'onAddRoomClick')}}<span>+ 添加教室</span>{{/bs-button}}
                {{/layout-push}}
            {{/layout-push}}

            {{#if (bmcom/bm-nil-obj bm_room_service.rooms)}}
                {{bmcom/bm-empty-state class="exp-empty-state" picUrl="/images/img_empty@2x.png" title="暂无教室/场地" des="点击右上角添加教室/场地，安排教室/场地吧"}}
            {{else}}
                {{bmtable/bm-table-room titles=model.titles onEditRoomClick="onEditRoomClick" onDeleteRoomClick="onDeleteRoomClick"}}
                {{bmcom/bm-pagination pageCount=bm_room_service.totalPageCount sendPageNum=(action "handlePageChange")}}
            {{/if}}
        {{/if}}
    {{/layout-push}}
</section>

{{#bmcom/bm-modal-container title="" mswitch=editRoomDlg
        successbtncss='exp-modal-confirm'
        cancelbtncss='exp-modal-cancel'
        canceltext='取消'
        onCancelBtnClicked=(action 'cancelHandled')
        onSuccessBtnClicked=(action 'successHandled')}}
        <div class="session-modal">
            {{#layout-push direction='col' }}
                {{#layout-push direction='row'}}
                    <p class="title">编辑教室</p>
                {{/layout-push}}
                {{#if noteError}}
                    <div class="form-checked">
                        {{#layout-push direction='row' classNames="error-line"}}
                            <img class="error" src="https://bm-web.oss-cn-beijing.aliyuncs.com/icon_status_error%402x.png" alt="">
                            <span class="error-info">请填写完整信息</span>
                        {{/layout-push}}
                    </div>
                {{/if}}
                {{#layout-push direction="col" classNames='input_area area-margin-bottom' }}
                    <p class="edit_subtitle">所属校区</p>
                    <p class="edit_subtitle_content">{{bm_yard_service.yard.title}}</p>
                {{/layout-push}}
                {{#layout-push direction="col" classNames='input_area area-margin-bottom' }}
                    <p class="edit_subtitle">使用类型</p>
                    {{bmcom/bm-radio-inline cur_idx=type_idx titles=typeChecked}}
                {{/layout-push}}
                {{#if noteError}}
                    {{#layout-push direction="row"  classNames='input_area' }}
                        {{bmform/bm-edit-line title='教室名称' inputVal=bm_room_service.room.title classNames='input_area input-full-width error-border'}}
                    {{/layout-push}}
                {{else}}
                    {{#layout-push direction="row"  classNames='input_area' }}
                        {{bmform/bm-edit-line title='教室名称' inputVal=bm_room_service.room.title classNames='input_area input-full-width'}}
                    {{/layout-push}}
                {{/if}}
                
            {{/layout-push}}
        </div>
{{/bmcom/bm-modal-container}}

{{#bmcom/bm-warning-modal title="删除" mainBtnText="删除" type="error" switchParam=deleteRoomDlg cancelHandled='cancelHandled' successHandled="onDeleteRoomClickOk"}}
    <p class="warning-modal-body-content">您确定要删除该教室吗？</p>
{{/bmcom/bm-warning-modal}}

{{outlet}}
