<section class='alt_yard_selection' >
    {{#layout-push direction='col' classNames='alt_yard_container'}}
        {{#link-to 'yard' class="alt_href_link"}}
            返回 
        {{/link-to}}
        {{#layout-push direction='row' split=true classNames='alt_yard_panel'}}
            {{#layout-push direction='col' mid=true}}
                <span class='alt_yard_title'>场地详情</span>
            {{/layout-push}}
            {{#layout-push direction='col' mid=true}}
                {{#link-to 'edit.yard' bm_yard_service.yard.id classNames='alt_yard_btn'}}
                    编辑
                {{/link-to}}
            {{/layout-push}}
        {{/layout-push}}

        {{#layout-push direction='row' split=true}}
            {{#layout-push direction='col' classNames='alt_yard_left_panel'}}
                {{#layout-push direction='col' classNames='alt_yard_panel'}}
                    {{#layout-push direction='row' mid=true classNames='alt_yard_deltail_title'}}
                        {{bm_yard_service.yard.title}}
                    {{/layout-push}}
                    {{#layout-push direction='row' mid=true classNames='alt_yard_detail_cat'}}
                        {{bm_yard_service.yard.address}}
                    {{/layout-push}}
                    {{#layout-push direction='row' mid=true classNames='alt_yard_detail_pic'}}
                        {{#layout-push direction='row' mid=true classNames='alt_yard_detail_pic_left'}}
                            {{#if (bmcom/bm-nil-string cover)}}
                                <img src="asd" class="img_left">
                            {{else}}
                                <img src={{cover}} class="img_left">
                            {{/if}}
                        {{/layout-push}}
                        {{#layout-push direction='col' classNames='alt_yard_detail_pic_right'}}
                            {{#layout-push direction='row' classNames='alt_yard_detail_pic_right_top'}}
                                <img src={{cover}} class="img_right">
                            {{/layout-push}}
                            {{#layout-push direction='row' classNames='alt_yard_detail_pic_right_bottom'}}
                                <img src={{cover}} class="img_right">
                                <button class="more-pic-link" {{action 'openMorePic'}}>查看更多</button>
                            {{/layout-push}}
                        {{/layout-push}}
                    {{/layout-push}}
                    {{!-- <div class="detail_yard_pintu" >
                        <div class="detail_yard_pintu_center">
                        {{#layout-push direction='row' }}
                            <img src={{bmgetpintuimgurl model.yard.imgs namedArgs="left"}} class="detail_yard_pintu_left" alt="Responsive image">
                            {{#layout-push direction='col' classNames='detail_yard_pintu_right'}}
                                <img src={{bmgetpintuimgurl model.yard.imgs namedArgs="top"}} class="detail_yard_pintu_top" alt="Responsive image">
                                <div class="detail_yard_pintu_bottom" style="background: url({{bmgetpintuimgurl model.yard.imgs namedArgs='bottom'}}) no-repeat; background-size: cover;background-position: center;">
                                    <a href="#" class="detail_yard_pintu_content">查看更多</a>
                                </div>
                            {{/layout-push}}
                        {{/layout-push}}
                        </div>
                    </div> --}}
                {{/layout-push}}
            {{/layout-push}}

            {{#layout-push direction='col' classNames='alt_yard_panel alt_yard_right_panel'}}

                {{#layout-push direction='col' classNames='alt_yard_detail_panel'}}
                    <span class='alt_right_panel_perperty_title'>场地详情</span>
                    {{#if (bmcom/bm-nil-string bm_yard_service.yard.description)}}
                        {{#layout-push direction='row' mid=true}}
                            <span class='alt_right_panel_perperty_des'>请上传信息</span>
                        {{/layout-push}}
                    {{else}}
                        <span class='alt_right_panel_perperty_des'>{{bm_yard_service.yard.description}}</span>
                    {{/if}}
                {{/layout-push}}

                {{#layout-push direction='col' classNames='alt_yard_detail_panel'}}
                    <span class='alt_right_panel_perperty_title'>周边交通信息</span>
                    {{#if (bmcom/bm-nil-string bm_yard_service.yard.traffic_info)}}
                        {{#layout-push direction='row' mid=true}}
                            <span class='alt_right_panel_perperty_des'>请上传信息</span>
                        {{/layout-push}}
                    {{else}}
                        <span class='alt_right_panel_perperty_des'>{{bm_yard_service.yard.traffic_info}}</span>
                    {{/if}}
                {{/layout-push}}

                {{#layout-push direction='col' classNames='alt_yard_detail_panel'}}
                    <span class='alt_right_panel_perperty_title'>场地设施</span>
                    {{#if (bmcom/bm-nil-array bm_yard_service.yard.facilities)}}
                        {{#layout-push direction='row' mid=true}}
                            <span class='alt_right_panel_perperty_des'>请上传信息</span>
                        {{/layout-push}}
                    {{else}}
                        {{#layout-push direction='row'}}
                            {{#each bm_yard_service.yard.facilities as |item|}}
                                <span class='alt_yard_detail_tag'>{{item}}</span>
                            {{/each}}
                        {{/layout-push}}
                    {{/if}}
                {{/layout-push}}

                {{#layout-push direction='col' classNames='alt_yard_detail_panel'}}
                    <span class='alt_right_panel_perperty_title'>场地图片</span>
                    <div class='line_conatainer_warp'>
                        {{#if (bmcom/bm-nil-string bm_yard_service.yard.Tagimgs)}}
                                <span class='alt_right_panel_perperty_des'>请上传信息</span>
                        {{else}}
                            {{#each bm_yard_service.yard.Tagimgs as |item|}}
                                {{bmcom/bm-img-uploader needTag=true canEdit=false img=item.img tag=item.tag classNames='alt-yard-tag-img-adjust'}}
                            {{/each}}
                        {{/if}}
                    </div>
                {{/layout-push}}
            {{/layout-push}}
        {{/layout-push}}
    {{/layout-push}}
</section>


{{#bs-modal class="more-pic-modal" id="myModal" fade=false open=isMorePic onHidden=(action (mut isMorePic) false) as |modal|}}
    {{#modal.header}}

    {{/modal.header}}
    {{#modal.body class="more-pic-modal-body"}}
        {{#layout-push direction='col' classNames='more-pic-outer'}}
            {{#layout-push direction='row' classNames='more-pic-title'}}
                {{#bs-button classNames="close-more-pic-btn" onClick=(action "closeMorePic")}}{{/bs-button}}
            {{/layout-push}}
            {{#layout-push direction='row' mid=true classNames='more-pic-main'}}
                <img src={{cover}} class="img-main">
            {{/layout-push}}
            {{#layout-push direction='row' mid=true classNames='more-pic-list'}}
                {{#layout-push direction='row' classNames='more-pic-list-left'}}
                    {{#bs-button classNames="close-more-pic-btn" onClick=(action "closeMorePic")}}{{/bs-button}}
                {{/layout-push}}
                {{#layout-push direction='row' classNames='more-pic-list-mid'}}
                    {{#layout-push direction='col' split=true classNames='more-pic-list-each'}}
                        <img src={{cover}} class="list-each-img">
                        <p class="list-each-img-des">123</p>
                    {{/layout-push}}
                    {{#layout-push direction='col' split=true classNames='more-pic-list-each'}}
                        <img src={{cover}} class="list-each-img">
                        <p class="list-each-img-des">123</p>
                    {{/layout-push}}
                    {{#layout-push direction='col' split=true classNames='more-pic-list-each'}}
                        <img src={{cover}} class="list-each-img">
                        <p class="list-each-img-des">123</p>
                    {{/layout-push}}
                    {{#layout-push direction='col' split=true classNames='more-pic-list-each'}}
                        <img src={{cover}} class="list-each-img">
                        <p class="list-each-img-des">123</p>
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction='row' classNames='more-pic-list-right'}}
                    {{#bs-button classNames="close-more-pic-btn" onClick=(action "closeMorePic")}}{{/bs-button}}
                {{/layout-push}}
            {{/layout-push}}
        {{/layout-push}}
    {{/modal.body}}
    {{#modal.footer}}

    {{/modal.footer}}
{{/bs-modal}}

{{outlet}}
