<section class='alt_course_selection' >
    {{#layout-push direction='col' classNames='alt_course_container'}}
        {{#link-to 'yard' class="alt_href_link"}}
            返回 
        {{/link-to}}
        {{#layout-push direction='row' split=true classNames='alt_course_panel'}}
            {{#layout-push direction='col' mid=true}}
                <span class='alt_course_title'>场地详情</span>
            {{/layout-push}}
            {{#layout-push direction='col' mid=true}}
                {{#link-to 'edit.yard' model.yard.id classNames='alt_course_btn'}}
                    编辑
                {{/link-to}}
            {{/layout-push}}
        {{/layout-push}}

        {{#layout-push direction='row' split=true}}
            {{#layout-push direction='col' classNames='alt_course_left_panel'}}
                {{#layout-push direction='col' classNames='alt_course_panel'}}
                    {{#layout-push direction='row' mid=true classNames='alt_course_deltail_title'}}
                        {{model.yard.title}}
                    {{/layout-push}}
                    {{#layout-push direction='row' mid=true classNames='alt_course_detail_cat'}}
                        {{model.yard.address}}
                    {{/layout-push}}

                    <div class="detail_course_pintu" >
                        {{!-- <div class="detail_course_pintu_center">
                        {{#layout-push direction='row' }}
                            <img src={{bmgetpintuimgurl model.course.imgs namedArgs="left"}} class="detail_course_pintu_left" alt="Responsive image">
                            {{#layout-push direction='col' classNames='detail_course_pintu_right'}}
                                <img src={{bmgetpintuimgurl model.course.imgs namedArgs="top"}} class="detail_course_pintu_top" alt="Responsive image">
                                <div class="detail_course_pintu_bottom" style="background: url({{bmgetpintuimgurl model.course.imgs namedArgs='bottom'}}) no-repeat; background-size: cover;background-position: center;">
                                    <a href="#" class="detail_yard_pintu_content">查看更多</a>
                                </div>
                            {{/layout-push}}
                        {{/layout-push}}
                        </div> --}}
                    </div>
                {{/layout-push}}
            {{/layout-push}}

            {{#layout-push direction='col' classNames='alt_course_panel alt_course_right_panel'}}

                {{#layout-push direction='col' classNames='alt_course_detail_panel'}}
                    <span class='alt_right_panel_perperty_title'>场地详情</span>
                    {{#if (bmcom/bm-nil-string model.yard.description)}}
                        {{#layout-push direction='row' mid=true}}
                            <span class='alt_right_panel_perperty_des'>请上传信息</span>
                        {{/layout-push}}
                    {{else}}
                        <span class='alt_right_panel_perperty_des'>{{model.yard.description}}</span>
                    {{/if}}
                {{/layout-push}}

                {{#layout-push direction='col' classNames='alt_course_detail_panel'}}
                    <span class='alt_right_panel_perperty_title'>周边交通信息</span>
                    {{#if (bmcom/bm-nil-string model.yard.traffic_info)}}
                        {{#layout-push direction='row' mid=true}}
                            <span class='alt_right_panel_perperty_des'>请上传信息</span>
                        {{/layout-push}}
                    {{else}}
                        <span class='alt_right_panel_perperty_des'>{{model.yard.traffic_info}}</span>
                    {{/if}}
                {{/layout-push}}

                {{#layout-push direction='col' classNames='alt_course_detail_panel'}}
                    <span class='alt_right_panel_perperty_title'>场地设施</span>
                    {{#if (bmcom/bm-nil-array model.yard.facilities)}}
                        {{#layout-push direction='row' mid=true}}
                            <span class='alt_right_panel_perperty_des'>请上传信息</span>
                        {{/layout-push}}
                    {{else}}
                        {{#layout-push direction='row'}}
                            {{#each model.yard.facilities as |item|}}
                                <span class='alt_course_detail_tag'>{{item}}</span>
                            {{/each}}
                        {{/layout-push}}
                    {{/if}}
                {{/layout-push}}

                {{#layout-push direction='col' classNames='alt_course_detail_panel'}}
                    <span class='alt_right_panel_perperty_title'>场地图片</span>
                    {{#if (bmcom/bm-nil-array model.yard.Tagimgs)}}
                        {{#layout-push direction='row' mid=true}}
                            <span class='alt_right_panel_perperty_des'>请上传信息</span>
                        {{/layout-push}}
                    {{else}}
                        {{#layout-push direction='row'}}
                            {{#each model.yard.Tagimgs as |item|}}
                                {{bmcom/bm-img-uploader needTag=true canEdit=false img=item.img tag=item.tag classNames='alt-course-tag-img-adjust'}}
                            {{/each}}
                        {{/layout-push}}
                    {{/if}}
                {{/layout-push}}
            {{/layout-push}}
        {{/layout-push}}
    {{/layout-push}}
</section>

{{outlet}}
