<section class='alt_yard_selection'>
	{{#layout-push direction='col' classNames='alt_yard_container'}}
		{{#if (bmcom/bm-nil-obj model.yard)}}
			{{bp-empty-state/primary-button
			class="yard-empty-state" 
				src="/images/img_empty@2x.png" 
				title="暂无校区" 
				desc="点击下方添加校区，创建您的校区吧" 
				btnText="+添加校区" 
				onClick=(action "onAddYardClick")}}
		{{else}}
			{{bp-page-header/only-title-desc
			class="yard-detail"
				title=model.yard.title
				desc=(bmcom/bm-trans-address model.yard)
			}}
			{{#bp-tabs selection=selected class='yard-tabs' as |tabs|}}
				{{#tabs.tablist as |list|}}
					<li class="nav-item">
						{{#list.tab
				selectPaneId='school-info' 
				onSelect=(action (mut selected))}}校园信息{{/list.tab}}
					</li>
					<li class="nav-item">
						{{#list.tab
				selectPaneId='classroom' 
				onSelect=(action (mut selected))}}教室/场地
						{{/list.tab}}
					</li>
				{{/tabs.tablist}}
				<div class="tab-content">
					{{#tabs.pane elementId="school-info"}}
						{{bmdetail/bm-top-title-panel
							title="校区信息" 
							rightText="编辑" 
							linkAddr='edit.yard' 
							linkParam=model.yard.id}}
						{{#layout-push direction='row' split=true}}
							{{#layout-push direction='col' classNames='alt_yard_left_panel'}}
								{{#layout-push direction='col' classNames='alt_yard_panel'}}
									{{bmdetail/course-basis-left-title
										title=model.yard.title
										subTitle=(bmcom/bm-trans-address model.yard)
										subTitleBehind=""}}
									{{bmdetail/yard-basis-left-tags tags1=model.yard.scenario tags2=model.yard.attribute}}
									{{#if (bmcom/bm-nil-obj model.yard)}}
									{{else}}
										{{bmcom/bm-pic-jigsaw picData=model.yard.images}}
									{{/if}}
								{{/layout-push}}
							{{/layout-push}}
							{{#layout-push direction='col' classNames='alt_yard_panel alt_yard_right_panel'}}
								{{#layout-push direction='col' classNames='alt_yard_detail_panel'}}
									{{bmdetail/stud-basis-info label="客服电话" content=model.yard.serviceContact}}
									{{bmdetail/stud-basis-info label="营业时间" content=model.yard.openTime}}
								{{/layout-push}}
								{{#layout-push direction='col' classNames='alt_yard_detail_panel'}}
									<span class='alt_right_panel_perperty_title'>校区设施</span>
									{{#if (bmcom/bm-nil-obj model.yard.facilities)}}
										{{#layout-push direction='row'}}
											<span class='alt_right_panel_perperty_des'>请上传信息</span>
										{{/layout-push}}
									{{else}}
										{{#layout-push direction='row' classNames='facilities_tag_container'}}
											{{#each model.yard.facilities as |item|}}
												<span class='alt_yard_detail_tag'>{{item}}</span>
											{{/each}}
										{{/layout-push}}
									{{/if}}
								{{/layout-push}}
								{{#layout-push direction='col' classNames='alt_yard_detail_panel'}}
									<span class='alt_right_panel_perperty_title'>校区认证</span>
									{{#if (bmcom/bm-nil-obj model.yard.images)}}
										{{#layout-push direction='row'}}
											<span class='alt_right_panel_perperty_des'>请上传信息</span>
										{{/layout-push}}
									{{else}}
										<div class='line_conatainer_warp'>
											{{#each model.yard.images as |item|}}
												{{#if (eq item.flag 2)}}
													{{bmcom/bm-img-uploader needTag=true canEdit=false img=item.img tag=item.tag classNames='alt-yard-tag-img-adjust'}}
												{{/if}}
											{{/each}}
										</div>
									{{/if}}
								{{/layout-push}}
							{{/layout-push}}
						{{/layout-push}}
					{{/tabs.pane}}
					{{#tabs.pane elementId="classroom"}}
						{{#layout-push direction='col' classNames='yard_room_container'}}
							{{#layout-push direction='row' split=true classNames='yard_room_title_container'}}
								<p class="room-title">教室/场地</p>
								{{#bp-button
									type="primary"
									onClick=(action 'onAddRoomClick')}}
									+ 添加教室
								{{/bp-button}}
							{{/layout-push}}
						{{/layout-push}}
						{{#if (eq model.yard.rooms.length 0)}}
							{{bp-empty-state/no-button
								class="exp-empty-state"
								src='/images/img_empty@2x.png'
								title="暂无教室/场地"
								desc="点击右上角添加教室/场地，安排教室/场地吧"
								}}
						{{else}}
							{{bmtable/bm-table-room
								titles=model.titles 
								rooms=model.yard.rooms 
								onEditRoomClick=(action "onEditRoomClick") 
								onDeleteRoomClick=(action "onDeleteRoomClick")}}
						{{/if}}
					{{/tabs.pane}}
				</div>
			{{/bp-tabs}}
		{{/if}}
	{{/layout-push}}
</section>
{{#bmcom/bm-modal-container title="" mswitch=editRoomDlg
        successbtncss='exp-modal-confirm'
        cancelbtncss='exp-modal-cancel'
        canceltext='取消'
        onCancelBtnClicked=(action 'cancelHandled')
        onSuccessBtnClicked=(action 'successHandled')}}
	<div class="session-modal">
		{{#layout-push direction='col' }}
			{{#layout-push direction='row'}}
				<p class="title">编辑教室</p>
			{{/layout-push}}
			{{#if noteError}}
				<div class="form-checked">
					{{#layout-push direction='row' classNames="error-line"}}
						<img class="error" src="https://bm-web.oss-cn-beijing.aliyuncs.com/icon_status_error%402x.png" alt="">
						<span class="error-info">请填写完整信息</span>
					{{/layout-push}}
				</div>
			{{/if}}
			{{#layout-push direction="col" classNames='input_area area-margin-bottom' }}
				<p class="edit_subtitle">所属校区</p>
				<p class="edit_subtitle_content">{{model.yard.title}}</p>
			{{/layout-push}}
			{{#layout-push direction="col" classNames='input_area area-margin-bottom' }}
				<p class="edit_subtitle">使用类型</p>
				{{bmcom/bm-radio-inline cur_idx=type_idx titles=typeChecked}}
			{{/layout-push}}
			{{#if noteError}}
				{{#layout-push direction="row"  classNames='input_area' }}
					{{bmform/bm-edit-line title='教室名称' inputVal=tempRoomTitle classNames='input_area input-full-width error-border'}}
				{{/layout-push}}
			{{else}}
				{{#layout-push direction="row"  classNames='input_area' }}
					{{bmform/bm-edit-line title='教室名称' inputVal=tempRoomTitle classNames='input_area input-full-width'}}
				{{/layout-push}}
			{{/if}}
		{{/layout-push}}
	</div>
{{/bmcom/bm-modal-container}}
{{#bmcom/bm-warning-modal title="删除" mainBtnText="删除" type="error" switchParam=deleteRoomDlg cancelHandled=(action 'cancelHandled') successHandled=(action "onDeleteRoomClickOk")}}
	<p class="warning-modal-body-content">您确定要删除该教室吗？</p>
{{/bmcom/bm-warning-modal}}
{{outlet}}