{{yield}}
{{#bp-layout direction='row' classNames="check-box"}}
    <p class={{checkboxTitle}}>{{title}}</p>
    {{#bp-layout direction="row" classNames="box-content"}}
        {{#each handledCheckboxItem as |item|}}
            {{#bp-layout direction="row" classNames="box-item"}}
                <input type="checkbox" name="labels" id="labels" value="" class="checkbox" checked={{item.status}} {{action change item.value}}>{{item.value}}
            {{/bp-layout}}
        {{/each}}
    {{/bp-layout}}
{{/bp-layout}}
