{{#if needTitleDes}}
    {{#layout-push direction="row" split=true}}
        {{#layout-push direction="row" classNames="title-area"}}
            {{#unless notitlt}}
                <span class="edit_subtitle edit_title_with_des" >{{title}}</span>
            {{/unless}}
            {{#if notNeeded}}
                <div class="v_end must">
                    <span class="edit_required" >(选填)</span>
                </div>
            {{/if}}
        {{/layout-push}}
        <div class="v_end">
            <span class="edit_condition" >{{countHint}}</span>
        </div>
    {{/layout-push}}
    {{#layout-push direction="row" split=true}}
        {{#layout-push direction="row" classNames="title-des-area"}}
            <span class="edit_title_des">{{titleDes}}</span>
        {{/layout-push}}
    {{/layout-push}}
{{else}}
    {{#layout-push direction="row" split=true}}
        {{#layout-push direction="row" classNames="title-area"}}
            {{#unless notitlt}}
                <span class="edit_subtitle" >{{title}}</span>
            {{/unless}}
            {{#if notNeeded}}
                <div class="v_end must">
                    <span class="edit_required" >(选填)</span>
                </div>
            {{/if}}
        {{/layout-push}}
        <div class="v_end">
            <span class="edit_condition" >{{countHint}}</span>
        </div>
    {{/layout-push}}
{{/if}}

{{#layout-push direction="row" classNames="input-group"}}
    {{#if (eq group 'prepend')}}
        <div class="input-group-prepend">
             {{yield}}
        </div>
    {{/if}}
    {{#if largeInput}}
        {{input classNames="edit_text_field_large" maxlength=maxlength placeholder=pholder value=inputVal}}
    {{else if fullWidthInput}}
        {{input classNames="edit_text_field_full_width" maxlength=maxlength placeholder=pholder value=inputVal}}
    {{else if accountInput}}
        {{input classNames="edit_text_field_login" maxlength=maxlength placeholder=pholder value=inputVal }}
    {{else if passwordInput}}
        {{input type="password" classNames="edit_text_field_login" maxlength=maxlength placeholder=pholder value=inputVal}}
    {{else if numberInput}}
        {{!-- <input class="edit_text_field" maxlength={{maxlength}} placeholder={{pholder}} value={{inputVal}} onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"/> --}}
        {{input classNames="edit_text_field" maxlength=maxlength  placeholder=pholder value=inputVal key-press=(action "onKeyPress")}}
    {{else}}
        {{input classNames="edit_text_field" maxlength=maxlength  placeholder=pholder value=inputVal}}
    {{/if}}
    {{#if (eq group 'append')}}
        <div class="input-group-append">
            {{yield}}
        </div>
    {{/if}}
    {{#if (eq group undefined)}}
       {{yield}}
    {{/if}}
{{/layout-push}}
