{{#layout-push direction='col' classNames="bm-search-check-container"}}
    {{#layout-push direction='row' split=true classNames="title-container"}}
        <p class="search-title">{{searchTitle}}</p>
        {{#if (eq curItems null)}}
            <p class="choose-num">已选0个</p>
        {{else}}
            <p class="choose-num">已选{{curItems.length}}个</p>
        {{/if}}
    {{/layout-push}}
    {{#layout-push direction='col' classNames="search-container"}}
        {{input classNames="search-input" value=inputVal placeholder="输入姓名或联系方式以检索" keyUp=(action "onSearchChange" inputVal)}}
    {{/layout-push}}
    {{#layout-push direction='col' classNames="table-container"}}
        <table class='ib_table_head class_add_stud_table'>
            {{#each handledMultiData as |item index|}}
                <tr class="session-list">
                    <td class='ib_table_content_item'>{{item.name}}</td>
                    <td class="ib_table_content_item">
                        {{#if (bmeq item.gender 1)}}
                        男
                        {{else}}
                        女
                        {{/if}}
                    </td>
                    <td class='ib_table_content_item'>{{bmdob/bmdob2age item.dob}}岁</td>
                    <td class='ib_table_content_item'>
                        {{!-- {{#each item.guardians as |elem idx|}}
                            {{#if (eq idx 0)}} --}}
                                {{item.contact}}
                            {{!-- {{/if}}
                        {{/each}} --}}
                        </td>
                    <td class='ib_table_content_item'>
                        {{input classNames="multi-check" type="checkbox" checked=item.state click=(action "onCheckChange" item)}}
                        {{!-- <input class="multi-check" type="checkbox" checked={{item.state}} onclick={{action "onCheckChange" item}}> --}}
                    </td>
                </tr>
            {{/each}}
        </table>
    {{/layout-push}}
{{/layout-push}}
