{{#layout-push direction="col" classNames="sort-sub-name"}}
    <p class={{titlecss}}>{{title}}</p>
    {{#layout-push direction="row" classNames="sort-sub-checkbox"}}
        {{#each candidate as |item|}}
            {{#if (bmeq item curSel)}}
                {{bmform/checkbox-item text=item
                        isSelected=true
                        titlecss='edit_sub_title'
                        btncss='form-check-label'
                        onUnselected=(action 'onOneUnselected')
                        onSelected=(action 'onOneSelected')
                }}
            {{else}}
                {{bmform/checkbox-item text=item
                        titlecss='edit_sub_title'
                        btncss='form-check-label'
                        onUnselected=(action 'onOneUnselected')
                        onSelected=(action 'onOneSelected')
                }}
            {{/if}}
        {{/each}}
    {{/layout-push}}
{{/layout-push}}
