{{!-- {{yield}} --}}
{{#each innerData as |item index|}}
    {{!-- {{#bmform/bm-edit-line title=(concat "第" item.id "项") maxCount="6" maxlength="6" pholder="请输入" inputVal=item.text}} --}}
    {{#bmform/bm-edit-line onKeyUp=(action "onChange") pholder="请输入" maxCount="6" maxlength="6" needBottomHint=needBottomHint inputVal=item.text classNames="dynamic-input-edit"}}
        {{!-- <span class="edit_input_remove" {{action "remove" item.id}}> --}}
            <img src="/images/remove.png" class="edit_input_remove" {{action "remove" item.id}}/>
        {{!-- </span> --}}
    {{/bmform/bm-edit-line}}
{{/each}}
{{#if disabled}}
    {{!-- <p class="add-other-btn disabled">＋添加项目</p> --}}
{{else}}
    <p class="add-other-btn" {{action "addProject"}}>＋添加项目</p>
{{/if}}
