{{!-- {{yield}} --}}
<select class="start-time" onchange={{action 'changeProvinces' value="target.value"}}>
    <option>省份</option>
    {{#each provinces as |item|}}
        {{#if (eq province item.name)}}
            <option selected=true value={{item.name}}>{{item.name}}</option>
        {{else}}
            <option value={{item.name}}>{{item.name}}</option>
        {{/if}}
        
    {{/each}}
</select>
<select class="start-time" onchange={{action 'changeCitys' value="target.value"}}>
    <option>城市</option>
    {{#each citys as |item|}}
        {{#if (eq city item.name)}}
            <option selected=true value={{item.name}}>{{item.name}}</option>
        {{else}}
            <option value={{item.name}}>{{item.name}}</option>
        {{/if}}
    {{/each}}
</select>
<select class="start-time" onchange={{action 'changeGovernmentAreas' value="target.value"}}>
    <option>行政区域</option>
    {{#each governmentAreas as |item|}}
        {{#if (eq area item.name)}}
            <option selected=true value={{item.name}}>{{item.name}}</option>
        {{else}}
            <option value={{item.name}}>{{item.name}}</option>
        {{/if}}
    {{/each}}
</select>