{{!-- {{yield}} --}}
<select class="address-select" onchange={{action 'changeProvinces' value="target.value"}}>
    {{#if (eq province "")}}
        <option value="" disabled selected hidden>省份</option>
    {{/if}}
    {{#each provinces as |item|}}
        {{!-- {{#if (eq province item.name)}}
            <option selected=true value={{item.name}}>{{item.name}}</option>
        {{else}}
            <option value={{item.name}}>{{item.name}}</option>
        {{/if}} --}}
        {{#if (eq province item)}}
            <option selected=true value={{item}}>{{item}}</option>
        {{else}}
            <option value={{item}}>{{item}}</option>
        {{/if}}
        
    {{/each}}
</select>
<select class="address-select" onchange={{action 'changeCitys' value="target.value"}}>
    {{#if (eq city "")}}
        <option value="" disabled selected hidden>城市</option>
    {{/if}}
    {{#each citys as |item|}}
        {{!-- {{#if (eq city item.name)}} --}}
            {{!-- <option selected=true value={{item.name}}>{{item.name}}</option> --}}
        {{!-- {{else}} --}}
            {{!-- <option value={{item.name}}>{{item.name}}</option> --}}
        {{!-- {{/if}} --}}
        {{#if (eq city item)}}
            <option selected=true value={{item}}>{{item}}</option>
        {{else}}
            <option value={{item}}>{{item}}</option>
        {{/if}}
    {{/each}}
</select>
<select class="address-select" onchange={{action 'changeGovernmentAreas' value="target.value"}}>
    {{#if (eq area "")}}
        <option value="" disabled selected hidden>行政区域</option>
    {{/if}}
    {{#each governmentAreas as |item|}}
        {{!-- {{#if (eq area item.name)}}
            <option selected=true value={{item.name}}>{{item.name}}</option>
        {{else}}
            <option value={{item.name}}>{{item.name}}</option>
        {{/if}} --}}
        {{#if (eq area item)}}
            <option selected=true value={{item}}>{{item}}</option>
        {{else}}
            <option value={{item}}>{{item}}</option>
        {{/if}}
    {{/each}}
</select>