<section id="start-story" class="alt_course_section" >
    {{#bp-layout direction='col' classNames='alt_course_panel edit_panel edit_second_panel'}}
        <span class='alt_course_title alt_course_big_title'>分类/标签</span>
        {{#bp-layout direction='col' classNames='select-age'}}
            <span class='alt_course_title'>适宜年龄</span>
            <div class="course-edit-check">
                {{bp-input
                    classNames="age-input"
                    maxLength='2'
                    disabled=ageDisableFlag
                    prepend='岁'
                    prependDirection='right'
                    value=session.alb
                    onChange=(action (mut session.alb))}}
                <span class="alt_course_des">至</span>
                {{bp-input
                    classNames="age-input"
                    maxLength='2'
                    disabled=ageDisableFlag
                    prepend='岁'
                    prependDirection='right'
                    value=session.aub
                    onChange=(action (mut session.aub))}}
                {{#if ageInput}}
                    {{!-- {{#bp-layout direction="row" classNames="alt-course-age-group"}}
                        {{bmform/bm-edit-line haveHeader=false ageInput=true inputVal=session.alb maxlength="2" classNames=''}}
                        <span class="alt_course_des">至</span>
                        {{bmform/bm-edit-line haveHeader=false ageInput=true inputVal=session.aub maxlength="2" classNames=''}}
                    {{/bp-layout}} --}}
                    <div class="course-edit-check course-edit-check-age">
                        {{#bmform/age-select-input alb=session.alb aub=session.aub ageSelect=(action 'ageSelect')}}
                        {{/bmform/age-select-input}}
                    </div>
                {{else}}
                    {{!-- {{#bp-layout direction="row" classNames="alt-course-age-group"}}
                        {{bmform/bm-edit-line haveHeader=false ageInput=true inputVal="" maxlength="2" readonly='readonly' classNames=''}}
                        <span class="alt_course_des">至</span>
                        {{bmform/bm-edit-line haveHeader=false ageInput=true inputVal="" maxlength="2" readonly='readonly' classNames=''}}
                    {{/bp-layout}} --}}
                    <div class="course-edit-check course-edit-check-age">
                        {{#bmform/age-select-input alb=session.alb aub=session.aub ageSelect=(action 'ageSelect') checked='checked'}}
                        {{/bmform/age-select-input}}
                    </div>
                {{/if}}
            </div>
        {{/bp-layout}}
        {{#bp-layout direction="col" main='between' classNames="alt_course_title_top"}}
            {{bp-dropdown-simple
                disabled=lengthDisableFlag
                classNames='mb-4'
                title="课程时长（分钟）"
                choosedValue=session.length
                options=sel_time
                optionKey='name'}}
            {{!-- <span class='alt_course_title_class'>课程时长(分钟)</span>
            {{#if (bmcom/bm-nil-obj session)}}
            {{else}}
                {{bmform/bm-base-select options=sel_time curSelect=cur_time}}
            {{/if}} --}}
        {{/bp-layout}}
        {{yield}}
    {{/bp-layout}}
</section>
