<section id="start-story" class="alt_course_section" >
    {{#layout-push direction='col' classNames='alt_course_panel edit_panel edit_fifth_panel'}}
        <span class='alt_course_title alt_course_big_title'>将为宝贝提供</span>
        <span class='alt_course_des'>如:教学用具、水、咖啡、小吃等</span>
        {{!-- {{input type="text" class="edit_input" value=session.inc disabled=ifIncInput}} --}}
        {{bmform/dynamic-input listInputs=session.inc disabled=checkFlag needBottomHint=true}}
        <div class="course-edit-check course-edit-check-low  no-inc-margin">
            <span class="radio-inline" {{action 'noInc'}}>
                {{#if checkFlag}}
                    <input type="checkbox"  name="inc" checked='checked' />
                {{else}}
                    <input type="checkbox"  name="inc"/>
                {{/if}}

                <label for="female" class="">暂无提供物品</label>
            </span>
        </div>
        {{yield}}
    {{/layout-push}}
</section>
