<section id="start-story" class="alt_course_section" >
    {{#bp-layout direction='col' classNames='alt_course_panel edit_panel edit_first_panel'}}
        {{#if (bmeq session.status 1)}}
            {{bp-dropdown-simple
                classNames='mb-4'
                title="您的体验课属于哪一个分类"
                desc="为体验课选择详细类目，这样便于用户快速查找您的体验服务。"
                choosedValue=cur_cate
                options=cat_exp
                optionKey='name'}}
            {{!-- <span class='alt_course_title alt_course_big_title'>您的体验课属于哪一个分类</span>
            <span class='alt_course_des'>为体验课选择详细类目，这样便于用户快速查找您的体验服务。</span>
            {{#bp-layout direction="row"}}
                {{#if (bmcom/bm-nil-obj session)}}
                {{else}}
                {{bmform/bm-base-select options=cat_exp curSelect=cur_cate}}
                {{/if}}
            {{/bp-layout}} --}}
        {{else if (bmeq session.status 2)}}
            {{bp-dropdown-simple
                classNames='mb-4'
                title="课程类别"
                desc="明确的分类，能让家长们对课程有明确的初步印象，并便于查找。"
                choosedValue=cur_cate
                options=cat_course
                optionKey='name'}}
            {{!-- <span class='alt_course_title alt_course_big_title'>课程类别</span>
            <span class='alt_course_des'>明确的分类，能让家长们对课程有明确的初步印象，并便于查找。</span>
            {{#bp-layout direction="row"}}
                {{#if (bmcom/bm-nil-obj session)}}
                {{else}}
                {{bmform/bm-base-select options=cat_course curSelect=cur_cate}}
                {{/if}}
            {{/bp-layout}} --}}
        {{else}}
            {{bp-dropdown-simple
                classNames='mb-4'
                title="您的活动属于哪一个分类"
                desc="请选择最能说明您活动的类别"
                choosedValue=cur_cate
                options=cat_actv
                optionKey='name'}}
            {{!-- <span class='alt_course_title alt_course_big_title'>您的活动属于哪一个分类</span>
            <span class='alt_course_des'>请选择最能说明您活动的类别</span>
            {{#bp-layout direction="row"}}
                {{#if (bmcom/bm-nil-obj session)}}
                {{else}}
                {{bmform/bm-base-select options=cat_actv curSelect=cur_cate}}
                {{/if}}
            {{/bp-layout}} --}}
        {{/if}}
        {{yield}}
    {{/bp-layout}}
</section>
