<section id="start-story" class="alt_course_section" >
    {{#layout-push direction='col' classNames='alt_course_panel edit_panel edit_ninth_panel'}}
        <span class='alt_course_title alt_course_big_title'>参与者需自带的东西</span>
        <span class='alt_course_title'>参与者要带些什么东西？</span>
        <span class='alt_course_des'>如:画笔工具</span>
        {{!-- {{input type="text" class="edit_input" value=session.carrying disabled=ifCarryInput}} --}}
        {{bmform/dynamic-input listInputs=session.carrying disabled=checkFlag needBottomHint=true maxlength='10' maxCount='10'}}
        <div class="course-edit-check course-edit-check-low no-inc-margin">
            <span class="radio-inline" {{action 'noCarry'}}>
                {{#if checkFlag}}
                    <input type="checkbox" name="carry" checked='checked'  />
                {{else}}
                    <input type="checkbox" name="carry" />
                {{/if}}

                <label for="female">无需参与者自行准备</label>
            </span>
        </div>
        {{yield}}
    {{/layout-push}}
</section>
