{{!-- {{yield}} --}}
<ul class="edit_left_nav">
    <li class="left_bar_title">
        <a class="edit_left_menu_text" {{action (mut cur_page_idx) 0}}>体验课描述</a>
    </li>
    <li class="left_bar_item">
        <a class="edit_left_menu_text" {{action (mut cur_page_idx) 0}}>体验课分类</a>
    </li>
    <li class="left_bar_item">
        <a class="edit_left_menu_text" {{action (mut cur_page_idx) 1}}>基本信息</a>
    </li>
    <li class="left_bar_item">
        <a class="edit_left_menu_text" {{action (mut cur_page_idx) 2}}>内容介绍</a>
    </li>
    <li class="left_bar_item">
        <a class="edit_left_menu_text" {{action (mut cur_page_idx) 3}}>与孩子互动</a>
    </li>
    <li class="left_bar_item">
        <a class="edit_left_menu_text" {{action (mut cur_page_idx) 4}}>将为宝贝提供</a>
    </li>
    <li class="left_bar_item">
        <a class="edit_left_menu_text" {{action (mut cur_page_idx) 5}}>宝贝将获得</a>
    </li>
    <li class="left_bar_item">
        <a class="edit_left_menu_text" {{action (mut cur_page_idx) 6}}>体验图片</a>
    </li>
    <li class="left_bar_title">
        <a class="edit_left_menu_text" {{action (mut cur_page_idx) 7}}>体验指南</a>
    </li>
    <li class="left_bar_item">
        <a class="edit_left_menu_text" {{action (mut cur_page_idx) 7}}>陪同说明</a>
    </li>
    <li class="left_bar_item">
        <a class="edit_left_menu_text" {{action (mut cur_page_idx) 8}}>参与者需自带</a>
    </li>
    <li class="left_bar_item">
        <a class="edit_left_menu_text" {{action (mut cur_page_idx) 9}}>须知</a>
    </li>
</ul>
