<section id="start-story" class="alt_course_section" >
    {{#layout-push direction='col' classNames='alt_course_panel edit_panel edit_second_panel'}}
        <span class='alt_course_title alt_course_big_title'>分类/标签</span>
        {{#layout-push direction='col' classNames='select-age'}}
            <span class='alt_course_title'>适宜年龄</span>
            <div class="course-edit-check">
                {{#if ageInput}}
                    {{#layout-push direction="row" classNames="alt-course-age-group"}}
                        {{bmform/bm-edit-line haveHeader=false ageInput=true inputVal=session.alb maxlength="2" classNames=''}}
                        {{!-- <div class="input-group">
                            {{input value=session.alb  maxlength='2' class="edit_input_age"  type="number"}}
                                <div class="input-group-append">
                                    <span class="input-group-text">岁</span>
                                </div>
                        </div> --}}
                        <span class="alt_course_des">至</span>
                        {{bmform/bm-edit-line haveHeader=false ageInput=true inputVal=session.aub maxlength="2" classNames=''}}
                        {{!-- <div class="input-group">
                            {{input value=session.aub class="edit_input_age"  type="number"  maxlength='2'}}
                            <div class="input-group-append">
                                <span class="input-group-text">岁</span>
                            </div>
                        </div> --}}
                    {{/layout-push}}
                    <div class="course-edit-check course-edit-check-age">
                        {{#bmform/age-select-input alb=session.alb aub=session.aub ageSelect=(action 'ageSelect')}}
                        {{/bmform/age-select-input}}
                    </div>
                {{else}}
                    {{#layout-push direction="row" classNames="alt-course-age-group"}}
                        {{bmform/bm-edit-line haveHeader=false ageInput=true inputVal="" maxlength="2" readonly='readonly' classNames=''}}
                        {{!-- <div class="input-group">
                            {{input value='' maxlength='2' class="edit_input_age" readonly='readonly'  type="number"}}
                            <div class="input-group-append">
                                <span class="input-group-text">岁</span>
                            </div>
                        </div> --}}
                        <span class="alt_course_des">至</span>
                        {{bmform/bm-edit-line haveHeader=false ageInput=true inputVal="" maxlength="2" readonly='readonly' classNames=''}}
                        {{!-- <div class="input-group">
                            {{input value='' class="edit_input_age"  type="number" readonly='readonly'  maxlength='2'}}
                            <div class="input-group-append">
                                <span class="input-group-text">岁</span>
                            </div>
                        </div> --}}
                    {{/layout-push}}
                    <div class="course-edit-check course-edit-check-age">
                        {{#bmform/age-select-input alb=session.alb aub=session.aub ageSelect=(action 'ageSelect') checked='checked'}}
                        {{/bmform/age-select-input}}
                    </div>
                {{/if}}
            </div>
        {{/layout-push}}
        {{#layout-push direction="col" split=true classNames="alt_course_title_top"}}
            <span class='alt_course_title_class'>课程时长(分钟)</span>
            {{#if (bmcom/bm-nil-obj session)}}
            {{else}}
            {{bmform/bm-base-select options=sel_time curSelect=cur_time}}
            {{/if}}
        {{/layout-push}}
        {{yield}}
    {{/layout-push}}
</section>
