{{!-- {{#bp-layout direction='row' main='between'}}
    {{#bp-layout direction="row" main='between'}}
        <p class="arrange-class-title">排课</p>
    {{/bp-layout}}
    {{#bp-button type="primary" onClick=(action 'addUnitOnClick')}} 
        + 添加排课
    {{/bp-button}}
{{/bp-layout}} --}}
{{#bp-page-header as |ph|}}
    {{#ph.body as |body|}}
        {{#body.left as |left|}}
            {{#left.item}}
                排课
            {{/left.item}}
        {{/body.left}}
        {{#body.right}}
            {{#bp-button type="primary" onClick=(action 'addUnitOnClick')}} 
                + 添加排课
            {{/bp-button}}
        {{/body.right}}
    {{/ph.body}}
{{/bp-page-header}}

{{#bp-layout direction='col' classNames="arr-cls-content"}}
    {{#bp-layout direction='row' main='between'}}
        {{#bp-layout direction="row" main='between'}}
            {{#bp-layout direction='row' classNames="options"}}
                <p class="title">选择教室</p>
                {{refreshSelected}}
                {{bp-dropdown-simple
                    valueId=selectedRoom
                    options=rooms
                    optionKey='title'
                    onclick=(action 'roomChanged')}}
                {{!-- <form class="select-site">
                    <select name="" id='roomselect' onChange={{action 'roomChanged'}}>
                        {{#each rooms as |item idx|}}
                            <option value={{item.id}}>{{item.title}}</option>
                            {{#if (bmeq idx 0)}}
                                {{refreshSelected}}
                            {{/if}}
                        {{/each}}
                    </select>
                </form> --}}
            {{/bp-layout}}
        {{/bp-layout}}

        {{#bp-layout direction='row' classNames="calender-btn-group"}}
            {{#bp-layout direction='col' main='center'}}
                {{bmcls/cls-week-display start_date=start_date end_date=end_date}}
            {{/bp-layout}}
            {{bmcls/cls-btn isPrev=true onBtnClicked=(action 'prevBtnClicked')}}
                {{!-- {{#bp-layout direction='col' main='center'}}
                    <span>&lt;</span>
                {{/bp-layout}} --}}
            {{!-- {{/bmcls/cls-btn}} --}}
            {{bmcls/cls-btn isNext=true onBtnClicked=(action 'nextBtnClicked')}}
                {{!-- {{#bp-layout direction='col' main='center'}}
                    <span>&gt;</span>
                {{/bp-layout}} --}}
            {{!-- {{/bmcls/cls-btn}}       --}}
        {{/bp-layout}}
    {{/bp-layout}}
    
    {{bmcls/cls-week-calendar onPanelClick=(action 'onPanelClick') onEditClick=(action "onEditClick") onDeleteClick=(action "onDeleteClick") start_date=start_date end_date=end_date}}
{{/bp-layout}}