<div >
    {{nav-top}}
    {{left-menu}}
</div>

<div class="detail_content_top">
    <div class="detail_page">
        <div class="content_page">
            {{#layout-push direction='row' classNames="options"}}
                <p class="title">选择场地</p>
                <form class="select-site">
                    <select name="cars" id='yardselect' onChange={{action 'yardChanged'}}>
                        {{#each model.yards as |item|}}
                            <option value={{item.id}}>{{item.address}}</option>
                        {{/each}}
                    </select>
                </form>
            {{/layout-push}}

            {{class-arrangement xmargin=10 ymargin=10 yardid=selectedYard}}
        </div>
    </div>
</div>

{{outlet}}
