<div class="class_content_top" >
    {{#if openFlag}}
        {{#layout-push direction="col" classNames="class_content"}}
            {{#layout-push direction="row" split=true}}
                <p class="class-content-title">班级</p>
                <button class="class_add_btn" {{action 'createClass'}}>+ 创建班级</button>
            {{/layout-push}}
        {{/layout-push}}

        {{#layout-push direction='col' classNames='class-content-tab-bar'}}
            {{bmcom/bm-tabs-bar cur_idx=cur_idx titles=titles}}
        {{/layout-push}} 

        {{bmclass/bm-class-scroller}}
    {{else}}
        {{bmcom/bm-empty-state class="class-not-open" picUrl="/images/img_openningsoon.png" title="即将开放" des="更加强大便捷的功能马上到来"}}
    {{/if}}
</div>

{{outlet}}