<div class="course_content_top" >
    {{#layout-push direction="col" classNames="course_content"}}
        {{#layout-push direction="row" split=true classNames="course-title-flex"}}
            <p class="page_title">体验课</p>
            {{#link-to 'edit.exp.rsb' classNames='course_add_btn'}}+ 创建体验课{{/link-to}}
        {{/layout-push}}
        {{#if (eq model.length 0)}}
            {{bmcom/bm-empty-state class="reservable-empty-state" picUrl="/images/img_empty@2x.png" title="暂无活动" des="请创建活动"}}
        {{else}}
            {{bmcom/bm-card-area onCourseCardClicked=(action 'cardClicked')  onRefreshDataComplete=(action 'refreshDataComplete') type='exp'}}
            {{bmcom/bm-pagination pageCount=page_count curPage=pagenum sendPageNum=(action "handlePageChange")}}
        {{/if}}
    {{/layout-push}}
</div>
{{outlet}}
