{{!-- <div class="course_content_top" >
    {{#bp-layout direction="col" classNames="course_content"}}
        {{#bp-layout direction="row" main='between' classNames="course-title-flex"}}
            <p class="page_title">体验课</p>
            {{#link-to 'edit.exp.rsb' classNames='course_add_btn'}}+ 创建体验课{{/link-to}}
        {{/bp-layout}}
        {{#if (eq page_count 0)}}
            {{bmcom/bm-empty-state class="reservable-empty-state" picUrl="/images/img_empty@2x.png" title="暂无活动" des="请创建活动"}}
        {{else}}
            {{bmcom/bm-card-area onCourseCardClicked=(action 'cardClicked')  onRefreshDataComplete=(action 'refreshDataComplete') type='exp' curPage=pagenum}}
            {{bmcom/bm-pagination pageCount=page_count curPage=pagenum sendPageNum=(action "handlePageChange")}}
        {{/if}}
    {{/bp-layout}}
</div> --}}
<div class="course_content_top">
	{{#bp-layout direction="col" classNames="course_content"}}
		{{!-- {{#bp-layout direction="row" main='between' classNames="course-title-flex"}}
			<p class="page_title">体验课</p>
			{{#link-to 'edit.exp.rsb' classNames='p-btn primary'}}+ 创建体验课{{/link-to}}
		{{/bp-layout}} --}}
        {{#bp-page-header as |ph|}}
			{{#ph.body as |body|}}
				{{#body.left as |left|}}
					{{#left.item}}
						体验课
					{{/left.item}}
				{{/body.left}}
				{{#body.right}}
					{{#link-to 'edit.exp.rsb' classNames='p-btn primary'}}+ 创建体验课{{/link-to}}
				{{/body.right}}
			{{/ph.body}}
		{{/bp-page-header}}
		{{#if (eq page_count 0)}}
            <div class="reservable-empty-state">
                {{bp-empty-state/no-button src='/images/img_empty@2x.png' title="暂无体验课" desc="请创建体验课"}}
            </div>
		{{else}}
			{{bmcom/bm-card-area
				onCourseCardClicked=(action 'cardClicked')  
				onRefreshDataComplete=(action 'refreshDataComplete') 
				type='exp' 
				curPage=pagenum}}
			{{bp-pagination
				totalPageCounts=page_count 
				onClickPage=(action (mut pagenum))}}
		{{/if}}
	{{/bp-layout}}
</div>
{{outlet}}
