<div>
    <div class="dd_content_top">
        <div class="dd_container dd_container_margin">
            {{#layout-push direction="row" split=true classNames="brand_panel_head"}}
                <p class="brand_panel_head_title">品牌主页</p>
                <a href="edit/brand" class="edit_brand">编辑</a>
                {{bm-lay-date}}
            {{/layout-push}}
        </div>
    </div>
    {{#layout-push direction="row"}}
        <div class="dd_content dd_content_margin_top">
            <div class="dd_container dd_container_margin">
                {{#layout-push direction="col" classNames="brand_info_card"}}
                    {{#layout-push direction="col" classNames="brand_info_card_head"}}
                        <img class="brand_logo" src="../images/brand_demo.png" />
                        <p class="brand_title">{{model.brand.title}}</p>
                    {{/layout-push}}
                    {{#layout-push direction="col" classNames="brand_info_card_content"}}
                        {{#layout-push direction="row" classNames="brand_info_card_list"}}
                            <p>成立时间</p>
                            <span class="detail_content ">{{model.brand_display_name}}</span>
                        {{/layout-push}}
                        {{#layout-push direction="row" classNames=""}}
                            <p>一句话介绍</p>
                            <span class="brand_subtitle">{{model.brand.subtitle}}</span>
                        {{/layout-push}}
                    {{/layout-push}}
                {{/layout-push}}
            </div>
        </div>
        <div class="dd_container dd_content_margin_top brand_detail">
            {{#layout-push direction="col"  classNames="brand_detail_info"}}
                <p class="brand_detail_list_title">品牌亮点</p>
                {{#layout-push direction="row"}}
                    {{#each model.brand.brand_tags as |item|}}
                        {{#layout-push direction='col' mid=true classNames="brand_tags brand_tag_margin"}}
                            <span>{{item}}</span>
                        {{/layout-push}}
                    {{/each}}
                {{/layout-push}}
            {{/layout-push}}
            {{#layout-push direction="col" classNames="brand_detail_info"}}
                <p class="brand_detail_list_title">初心故事</p>
                <span class="brand_detail_list_content">{{model.brand.found_stroy}}</span>
            {{/layout-push}}
            {{#layout-push direction="col" classNames="brand_detail_info"}}
                <p class="brand_detail_list_title">师资团队</p>
                <span class="brand_detail_list_content">{{model.brand.team_des}}</span>
            {{/layout-push}}
            {{#layout-push direction="col" classNames="brand_detail_info"}}
                <p class="brand_detail_list_title">品牌荣誉</p>
                {{#layout-push direction="row" split=true}}
                    {{#each model.brand.rewards as |item|}}
                        {{#layout-push direction="col" mid=true classNames="detail_reward card-wrap"}}
                            <img src={{item.img_src}} class="detail_reward_img" />
                            <div class="detail_reward_title">
                                <span>{{item.reward_des}}</span>
                            </div>
                        {{/layout-push }}
                    {{/each}}
                {{/layout-push}}
            {{/layout-push}}
            {{#layout-push direction="col" classNames="brand_detail_info"}}
                <p class="brand_detail_list_title">资质认证</p>
                {{#layout-push direction="row" split=true}}
                    {{#each model.brand.rewards as |item|}}
                        {{#layout-push direction="col" mid=true classNames="detail_reward card-wrap"}}
                            <img src={{item.img_src}} class="detail_reward_img" />
                            <div class="detail_reward_title">
                                <span>{{item.reward_des}}</span>
                            </div>
                        {{/layout-push }}
                    {{/each}}
                {{/layout-push}}
            {{/layout-push}}
        </div>
    {{/layout-push}}

</div>
