<div >
    {{nav-top}}
    {{left-menu}}
</div>
<div class="detail_content_top">
    <div class="detail_page">
        <div class="detail_panel detail_panel_col_between" >
            {{#layout-push direction='row'}}
                    <div class="time-select today">
                        <p>今天<span>(9)</span></p>
                    </div>
                    <div class="time-select before ">
                        <p>以前<span>(300)</span></p>
                    </div>
            {{/layout-push}}
        </div>
        <div class="detail_page table-header">
            {{#layout-push direction='col'}}
                {{#layout-push direction='row' split=true}}
                    {{#each model as |item|}}
                        <span>{{item.title}}</span>
                    {{/each}}
                {{/layout-push}}
            {{/layout-push}}
        </div>
        <div class="inbox-table">
            <div class="detail_page table-body">
                    {{#layout-push direction='col'}}
                        {{#layout-push direction='row' split=true}}
                            <span class="email-status">未处理</span>
                            <span class="">08/03（周五）10:30</span>
                            <span class="">北京朝阳区东外56号文创产业园111座</span>
                            <span class="">小明老师带你从新手到高手</span>
                            <span class="">王大槌</span>
                            <span class="">184 9382 7483</span>
                            {{#bs-button classNames="email-option" onClick=(action (mut modal3) true)}}<span>处理</span>{{/bs-button}}
                        {{/layout-push}}
                    {{/layout-push}}
            </div>
            <div class="detail_page table-body">
                    {{#layout-push direction='col'}}
                        {{#layout-push direction='row' split=true}}
                            <span class="email-status">未处理</span>
                            <span class="">08/03（周五）10:30</span>
                            <span class="">北京朝阳区东外56号文创产业园111座</span>
                            <span class="">小明老师带你从新手到高手</span>
                            <span class="">王大槌</span>
                            <span class="">184 9382 7483</span>
                            {{#bs-button classNames="email-option" onClick=(action (mut modal3) true)}}<span>处理</span>{{/bs-button}}
                        {{/layout-push}}
                    {{/layout-push}}
            </div>
        </div>
        {{#bs-modal open=modal3  onHidden=(action (mut modal3) false) onSubmit=(action 'saveInfo') as |modal|}}
            <div class="course-reserve-pop-ups">
                {{#modal.header classNames="course-reserve-modal-title"}}
                  <p class="modal-title">
                    课程预约
                </p>
                {{/modal.header}}
                {{#modal.body classNames="course-reserve-modal-body"}}
                    {{mail-processing-pop-ups}}
                {{/modal.body}}
                {{#modal.footer}}
                  {{#bs-button onClick=(action modal.close) classNames="course-reserve-card-cancel"}}取消{{/bs-button}}
                  {{#bs-button type="success" classNames="course-reserve-card-save" onClick=(action modal.submit) }}确定{{/bs-button}}
                {{/modal.footer}}
            </div>
        {{/bs-modal}}
        {{#bs-modal open=saveInfo onHidden=(action (mut saveInfo) false) as |modal|}}
            <div class="course-reserve-pop-ups">
                {{#modal.body classNames="course-reserve-success"}}
                    {{#layout-push direction=row classNames="success-info"}}
                        <img src="../images/success.png" alt="">
                        {{#layout-push direction=col}}
                            <p>安排成功！ </p>
                            <p>已确认参与者提交状态，参与者可在小程序>我的>我的服务中查看详情。</p>
                        {{/layout-push}}
                    {{/layout-push}}
                {{/modal.body}}
                {{#modal.footer}}
                  {{#bs-button type="success" classNames="course-reserve-card-save" onClick=(action 'successSave') }}确定{{/bs-button}}
                {{/modal.footer}}
            </div>
        {{/bs-modal}}
    </div>
</div>
{{outlet}}
