<div >
    {{nav-top}}
    {{left-menu}}
</div>
<div class="detail_content_top">
    <div class="detail_page">

        {{#layout-push direction='col' classNames='ib_title'}}
            收件箱
        {{/layout-push}}

        {{#layout-push direction='row' classNames='ib_tab_bar'}}
            <span class='ib_tab_btn active ib_tab_btn_active'>今天 {{today_apply_count}}</span>
            <span class='ib_tab_btn'>以前 {{older_apply_count}}</span>
        {{/layout-push}}

        <table class='ib_table_head'>
            <tr>
                {{#each model.title as |item|}}
                    <th class='ib_table_item'>{{item.title}}</th>
                {{/each}}
            </tr>
            {{#each model.applies as |item|}}
            <tr>
                <td class='ib_table_content_item'>{{bmperioddateformat item.apply_date}}</td>
                <td class='ib_table_content_item'>{{bmapplycontentname item.apply_course item.apply_activity}}</td>
                <td class="ib_table_content_item">{{item.apply_yard.address}}</td>
                <td class="ib_table_content_item">
                    {{#each item.attendee as |chd idx|}}
                        {{#if (bmeqn idx 0)}}
                            ,
                        {{/if}}
                        {{chd.name}}
                    {{/each}}
                </td>
                <td class="ib_table_content_item">{{item.applyee.contact}}</td>
                {{#if (bmeq item.status 0)}}
                    <td class='ib_table_content_item'>
                        {{#bs-button classNames="ib_table_content_btn" onClick=(action 'setCurrentApply' item)}}<span>处理</span>{{/bs-button}}
                    </td>
                {{else}}
                    <td class="ib_table_content_item">{{bmapplystatus item.status}}</td>
                {{/if}}
            </tr>
            {{/each}}
        </table>

        {{#bm-modal-container title="处理消息" mswitch=showhandledlg
                successbtncss='course-reserve-card-save'
                cancelbtncss='course-reserve-card-cancel'
                canceltext='取消'
                onCancelBtnClicked=(action 'cancelHandled')
                onSuccessBtnClicked=(action 'successHandled')}}
            {{#layout-push direction=row classNames="course-reserve-pop-ups-content"}}
                {{mail-processing-pop-ups
                        classNames="course-reserve-modal-body"
                        selectedReservable=sr
                        selectedYard=sy
                        selectedDate=dt
                        selectedActivity=sa
                        selectedSession=ss
                        innerCat=isCourse
                        apply=current_apply}}
            {{/layout-push}}
        {{/bm-modal-container}}
        {{#bm-modal-container
                mswitch=showcomfirmdlg
                successbtncss='course-reserve-card-save'
                onSuccessBtnClicked=(action 'successHandled')}}
            {{#layout-push direction=row classNames="success-info course-reverve-success"}}
                <img src="../images/success.png" alt="">
                {{#layout-push direction=col}}
                    <p>安排成功！ </p>
                    <p>已确认参与者提交状态，参与者可在小程序>我的>我的服务中查看详情。</p>
                {{/layout-push}}
            {{/layout-push}}
        {{/bm-modal-container}}
    </div>
</div>
{{outlet}}
