<div class="detail_content_top">
    <div class="detail_page">
        {{#layout-push direction='row' classNames='ib_title_container'}}
            {{#layout-push direction='col' mid=true classNames='ib_title'}}
                <p>收件箱</p>
            {{/layout-push}}
        {{/layout-push}}

        {{bmcom/bm-tabs-bar cur_idx=cur_tab_idx titles=tabs needAction=true onTabClicked=(action "onTabClicked")}}

        {{#layout-push direction='row' split=true classNames='ib_table_select_area'}}
            <span class="ib_table_num">共{{applies_count}}条</span>
            <select class="ib_table_select" name="" id='selectReserve' onChange={{action 'reserveTypeChanged'}}>
                <option selected value="0">全部</option>
                <option value="1">今天</option>
            </select>
        {{/layout-push}}

        {{#if (bmeq cur_tab_idx 0)}}
            {{#if (eq bm_apply_service.reserved.length 0)}}
                {{bmcom/bm-empty-state class="inbox-empty-state" picUrl="/images/img_empty@2x.png" title="暂无数据" des="请添加待预约学员"}}
            {{else}}
                <table class='ib_table_head exp_table'>
                    <tr class='ib_table_title'>
                        {{#each bm_apply_service.reserveTitle as |item|}}
                            <th class='ib_table_item'>{{item}}</th>
                        {{/each}}
                    </tr>
                </table>
                {{bmtable/bm-table-inbox reserveType=true title=bm_apply_service.reserveTitle applies=applies action="setCurrentApply"}}
                {{#if isToday}}
                    {{bmcom/bm-pagination pageCount=bm_apply_service.todayBookPageCount sendPageNum=(action "handleTodayBookPageChange")}}
                {{else}}
                    {{bmcom/bm-pagination pageCount=bm_apply_service.bookPageCount sendPageNum=(action "handleBookPageChange")}}
                {{/if}}
            {{/if}}
        {{/if}}

        {{#if (bmeq cur_tab_idx 1)}}
            {{#if (eq bm_apply_service.preRegistered.length 0)}}
                {{bmcom/bm-empty-state class="inbox-empty-state" picUrl="/images/img_empty@2x.png" title="暂无数据" des="请添加预注册学员"}}
            {{else}}
                <table class='ib_table_head exp_table'>
                    <tr class='ib_table_title'>
                        {{#each bm_apply_service.preRegisterTtitle as |item|}}
                            <th class='ib_table_item'>{{item}}</th>
                        {{/each}}
                    </tr>
                </table>
                {{bmtable/bm-table-inbox title=bm_apply_service.preRegisterTtitle applies=bm_apply_service.preRegistered registerId=bm_apply_service.preRegisterId onPreRegisterClick='onPreRegisterClick'}}
                {{#if isToday}}
                    {{bmcom/bm-pagination pageCount=bm_apply_service.todayPrePageCount sendPageNum=(action "handleTodayPrePageChange")}}
                {{else}}
                    {{bmcom/bm-pagination pageCount=bm_apply_service.prePageCount sendPageNum=(action "handlePrePageChange")}}
                {{/if}}
            {{/if}}
        {{/if}}



        {{#bmcom/bm-modal-container
                needTitle=false
                mswitch=showhandledlg
                needSubmit=couldSubmit
                contentSubmit=contentSubmit
                successbtncss='exp-modal-confirm'
                cancelbtncss='exp-modal-cancel'
                canceltext='取消'
                onCancelBtnClicked=(action 'cancelHandled')
                onSuccessBtnClicked=(action 'successHandled')}}
            {{#layout-push direction=row classNames="course-reserve-pop-ups-content"}}
                {{mail-processing-pop-ups
                        classNames="course-reserve-modal-body"
                        toggleAction=(action 'toggleAction')
                        noteError=noteError
                        noSr=noSr
                        noSy=noSy
                        noSa=noSa
                        noSs=noSs
                        selectedReservable=sr
                        selectedYard=sy
                        selectedDate=dt
                        selectedActivity=sa
                        selectedSession=ss
                        innerCat=isCourse
                        apply=current_apply}}
            {{/layout-push}}
        {{/bmcom/bm-modal-container}}

        {{#bmcom/bm-modal-container
                needTitle=false
                mswitch=showRegister
                needSubmit=couldSubmit
                contentSubmit=contentSubmit
                successbtncss='exp-modal-confirm'
                cancelbtncss='exp-modal-cancel'
                canceltext='取消'
                onCancelBtnClicked=(action 'cancelRegisterHandled')
                onSuccessBtnClicked=(action 'successRegisterHandled')}}
            {{#layout-push direction=row classNames="course-reserve-pop-ups-content"}}
                {{mail-register-pop-ups
                    classNames="course-reserve-modal-body"
                    apply=current_edit_apply
                    }}
            {{/layout-push}}
        {{/bmcom/bm-modal-container}}

    </div>
</div>
{{outlet}}
