<div class="detail_content_top">
    <div class="detail_page">
        {{#layout-push direction='row' classNames='ib_title_container'}}
            {{#layout-push direction='col' mid=true classNames='ib_title'}}
                <p>收件箱</p>
            {{/layout-push}}
        {{/layout-push}}

        {{bmcom/bm-tabs-bar cur_idx=cur_tab_idx titles=tabs needAction=true onTabClicked=(action "onTabClicked")}}

        {{#layout-push direction='row' split=true classNames='ib_table_select_area'}}
            {{!-- <span class="ib_table_num">共{{model.applies_count}}条</span> --}}
            <span class="ib_table_num"></span> 
            <select class="ib_table_select" name="" id='selectReserve' onChange={{action 'reserveTypeChanged'}}>
                <option selected value="0">全部</option>
                <option value="1">今天</option>
            </select>
        {{/layout-push}}

        {{#if (eq applies.length 0)}}
            {{bmcom/bm-empty-state class="inbox-empty-state" picUrl="/images/img_empty@2x.png" title="暂无数据" des="请添加待预约学员"}}
        {{else}}
            <table class='ib_table_head exp_table'>
                <tr class='ib_table_title'>
                    {{#if (eq cur_tab_idx 0)}}
                        {{#each model.reserveTitle as |item|}}
                            <th class='ib_table_item'>{{item}}</th>
                        {{/each}}
                    {{else}}
                        {{#each model.preRegisterTtitle as |item|}}
                            <th class='ib_table_item'>{{item}}</th>
                        {{/each}}
                    {{/if}}
                </tr>
            </table>
            {{bmtable/bm-table-inbox reserveType=true applies=applies action="setCurrentApply"}}
            {{bmcom/bm-pagination pageCount=page_count sendPageNum=(action "handleBookPageChange")}}
        {{/if}}

        {{#bmcom/bm-modal-container
                needTitle=false
                mswitch=showhandledlg
                needSubmit=couldSubmit
                contentSubmit=contentSubmit
                successbtncss='exp-modal-confirm'
                cancelbtncss='exp-modal-cancel'
                canceltext='取消'
                onCancelBtnClicked=(action 'cancelHandled')
                onSuccessBtnClicked=(action 'successHandled')}}
            {{#layout-push direction=row classNames="course-reserve-pop-ups-content"}}
                {{mail-processing-pop-ups
                        classNames="course-reserve-modal-body"
                        toggleAction=(action 'toggleAction')
                        exp=model.exp
                        actv=model.actv
                        saClasses=saClasses
                        srClasses=srClasses
                        noteError=noteError
                        noSr=noSr
                        noSy=noSy
                        noSa=noSa
                        noSs=noSs
                        selectedReservable=sr
                        selectedYard=sy
                        selectedDate=dt
                        selectedActivity=sa
                        selectedSession=ss
                        innerCat=isCourse
                        apply=current_apply}}
            {{/layout-push}}
        {{/bmcom/bm-modal-container}}

        {{#bmcom/bm-modal-container
                needTitle=false
                mswitch=showRegister
                needSubmit=couldSubmit
                contentSubmit=contentSubmit
                successbtncss='exp-modal-confirm'
                cancelbtncss='exp-modal-cancel'
                canceltext='取消'
                onCancelBtnClicked=(action 'cancelRegisterHandled')
                onSuccessBtnClicked=(action 'successRegisterHandled')}}
            {{#layout-push direction=row classNames="course-reserve-pop-ups-content"}}
                {{mail-register-pop-ups
                    classNames="course-reserve-modal-body"
                    apply=current_edit_apply
                    }}
            {{/layout-push}}
        {{/bmcom/bm-modal-container}}

    </div>
</div>
{{outlet}}
