<div >
    {{nav-top}}
    {{left-menu}}
</div>
<div class="detail_content_top">
    <div class="detail_page">
        <div class="detail_panel detail_panel_col_between" >
            {{#layout-push direction='row'}}
                    <div class="time-select today">
                        <p>今天<span>({{today_apply_count}})</span></p>
                    </div>
                    <div class="time-select before ">
                        <p>以前<span>({{older_apply_count}})</span></p>
                    </div>
            {{/layout-push}}
        </div>
        <div class="detail_page table-header">
            {{#layout-push direction='col'}}
                {{#layout-push direction='row' split=true}}
                    {{#each model.title as |item|}}
                        <span>{{item.title}}</span>
                    {{/each}}
                {{/layout-push}}
            {{/layout-push}}
        </div>
        <div class="inbox-table">
            {{#each model.applies as |item|}}
                <div class="detail_page table-body">
                    {{#layout-push direction='col'}}
                        {{#layout-push direction='row' split=true}}
                            <span class="email-status">{{bmapplystatus item.status}}</span>
                            <span class="">{{bmperioddateformat item.apply_date}}</span>
                            <span class="">{{item.apply_yard.address}}</span>
                            <span class="">{{bmapplycontentname item.apply_course item.apply_activity}}</span>
                            <span class="">
                                {{#each item.attendee as |chd idx|}}
                                    {{#if (bmeqn idx 0)}}
                                        ,
                                    {{/if}}
                                    {{chd.name}}
                                {{/each}}
                            </span>
                            <span class="">{{item.applyee.contact}}</span>
                            {{#if (bmeq item.status 0)}}
                                {{#bs-button classNames="email-option" onClick=(action 'setCurrentApply' item)}}<span>处理</span>{{/bs-button}}
                            {{else}}
                                <span class="email-status">{{bmapplystatus item.status}}</span>
                            {{/if}}
                        {{/layout-push}}
                    {{/layout-push}}
                </div>
            {{/each}}
        </div>
         {{#bm-modal-container title="课程预约" mswitch=showhandledlg 
                successbtncss='course-reserve-card-save'  
                cancelbtncss='course-reserve-card-cancel'
                canceltext='取消'
                onCancelBtnClicked=(action 'cancelHandled')  
                onSuccessBtnClicked=(action 'successHandled')}}
            {{#layout-push direction=row classNames="success-info"}}
                {{mail-processing-pop-ups 
                        classNames="course-reserve-modal-body" 
                        selectedReservable=sr
                        selectedYard=sy 
                        selectedDate=dt
                        selectedActivity=sa
                        selectedSession=ss
                        innerCat=isCourse
                        apply=current_apply}}
            {{/layout-push}}
        {{/bm-modal-container}}
        {{#bm-modal-container 
                mswitch=showcomfirmdlg 
                successbtncss='course-reserve-card-save' 
                onSuccessBtnClicked=(action 'successHandled')}}
            {{#layout-push direction=row classNames="success-info course-reverve-success"}}
                <img src="../images/success.png" alt="">
                {{#layout-push direction=col}}
                    <p>安排成功！ </p>
                    <p>已确认参与者提交状态，参与者可在小程序>我的>我的服务中查看详情。</p>
                {{/layout-push}}
            {{/layout-push}}
        {{/bm-modal-container}}
    </div>
</div>
{{outlet}}
