<div class="detail_content_top">
    <div class="detail_page">

        {{#layout-push direction='col' classNames='ib_title'}}
            收件箱
        {{/layout-push}}

        {{bmcom/bm-tabs-bar cur_idx=cur_tab_idx titles=tabs}}

        {{#if (bmeq cur_tab_idx 0)}}
        <table class='ib_table_head'>
            <tr>
                {{#each model.title as |item|}}
                    <th class='ib_table_item'>{{item}}</th>
                {{/each}}
            </tr>
            {{#each bm_apply_service.applies as |item|}}
            <tr>
                <td class='ib_table_content_item'>
                    {{#each item.Kids as |kd|}}
                        {{kd.name}}
                    {{/each}}
                </td>
                <td class="ib_table_content_item">
                    {{#if (bmeq item.courseType 0)}}
                    活动
                    {{else}}
                    体验课
                    {{/if}}
                </td>
                <td class='ib_table_content_item'>{{item.courseName}}</td>
                <td class="ib_table_content_item">{{bmdob/bmdobformat item.except_time}}</td>
                <td class="ib_table_content_item">
                    {{#each item.Kids as |kd|}}
                        {{kd.guardian_role}}
                    {{/each}}
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    {{item.Applyee.name}}
                </td>
                <td class="ib_table_content_item">{{item.contact}}</td>
                {{#if (bmeq item.status 0)}}
                    <td class='ib_table_content_item'>
                        {{#bs-button classNames="ib_table_content_btn" onClick=(action 'setCurrentApply' item)}}<span>处理</span>{{/bs-button}}
                    </td>
                {{else}}
                    <td class="ib_table_content_item">{{bmapplystatus item.status}}</td>
                {{/if}}
            </tr>
            {{/each}}
        </table>
        {{/if}}

        {{#bm-modal-container title="处理消息" mswitch=showhandledlg
                successbtncss='course-reserve-card-save'
                cancelbtncss='course-reserve-card-cancel'
                canceltext='取消'
                onCancelBtnClicked=(action 'cancelHandled')
                onSuccessBtnClicked=(action 'successHandled')}}
            {{#layout-push direction=row classNames="course-reserve-pop-ups-content"}}
                {{mail-processing-pop-ups
                        classNames="course-reserve-modal-body"
                        selectedReservable=sr
                        selectedYard=sy
                        selectedDate=dt
                        selectedActivity=sa
                        selectedSession=ss
                        innerCat=isCourse
                        apply=current_apply}}
            {{/layout-push}}
        {{/bm-modal-container}}
        {{#bm-modal-container
                mswitch=showcomfirmdlg
                successbtncss='course-reserve-card-save'
                onSuccessBtnClicked=(action 'successHandled')}}
            {{#layout-push direction=row classNames="success-info course-reverve-success"}}
                <img src="../images/success.png" alt="">
                {{#layout-push direction=col}}
                    <p>安排成功！ </p>
                    <p>已确认参与者提交状态，参与者可在小程序>我的>我的服务中查看详情。</p>
                {{/layout-push}}
            {{/layout-push}}
        {{/bm-modal-container}}
    </div>
</div>
{{outlet}}
