<div class="detail_content_top">
    <div class="detail_page">
        {{#layout-push direction='row' classNames='ib_title_container'}}
            {{#layout-push direction='col' mid=true classNames='ib_title'}}
                <p>收件箱</p>
            {{/layout-push}}
        {{/layout-push}}

        {{bmcom/bm-tabs-bar cur_idx=cur_tab_idx titles=tabs needAction=true onTabClicked=(action "onTabClicked")}}

        {{#layout-push direction='row' split=true classNames='ib_table_select_area'}}
            {{#if (bmeq cur_tab_idx 0)}}
                <span class="ib_table_num">共{{bm_apply_service.amount}}条</span>
                <select class="ib_table_select" name="" id='selectReserve' onChange={{action 'reserveTypeChanged'}}>
                    <option value="">全部</option>
                    <option value="">今天</option>
                </select>
            {{else if (bmeq cur_tab_idx 1)}}
                <span class="ib_table_num">共{{bm_apply_service.preAmount}}条</span>
                <select class="ib_table_select" name="" id='selectReserve' onChange={{action 'preRegisterChanged'}}>
                    <option value="">全部</option>
                    <option value="">今天</option>
                </select>
            {{/if}}

        {{/layout-push}}

        {{#if (bmeq cur_tab_idx 0)}}
            {{#if (bmcom/bm-nil-obj bm_apply_service.reserved)}}
                {{bmcom/bm-empty-state class="inbox-empty-state" picUrl="/images/temp-pic.png" title="暂无数据" des="暂无数据"}}
            {{else}}
                {{bmtable/bm-table-inbox reserveType=true title=model.reserveTitle applies=bm_apply_service.reserved action="setCurrentApply"}}
                {{bmcom/bm-pagination pageCount=bm_apply_service.bookPageCount sendPageNum=(action "handleBookPageChange")}}
            {{/if}}
        {{/if}}

        {{#if (bmeq cur_tab_idx 1)}}
            {{#if (bmcom/bm-nil-obj bm_apply_service.preRegistered)}}
                {{bmcom/bm-empty-state class="inbox-empty-state" picUrl="/images/temp-pic.png" title="暂无数据" des="暂无数据"}}
            {{else}}
                {{bmtable/bm-table-inbox title=model.preRegisterTtitle applies=bm_apply_service.preRegistered registerId=bm_apply_service.preRegisterId onPreRegisterClick='onPreRegisterClick'}}
                {{bmcom/bm-pagination pageCount=bm_apply_service.prePageCount sendPageNum=(action "handlePrePageChange")}}
            {{/if}}
        {{/if}}



        {{#bmcom/bm-modal-container
                needTitle=false
                mswitch=showhandledlg
                needSubmit=couldSubmit
                contentSubmit=contentSubmit
                successbtncss='exp-modal-confirm'
                cancelbtncss='exp-modal-cancel'
                canceltext='取消'
                onCancelBtnClicked=(action 'cancelHandled')
                onSuccessBtnClicked=(action 'successHandled')}}
            {{#layout-push direction=row classNames="course-reserve-pop-ups-content"}}
                {{mail-processing-pop-ups
                        classNames="course-reserve-modal-body"
                        toggleAction=(action 'toggleAction')
                        noteError=noteError
                        noSr=noSr
                        noSy=noSy
                        noSa=noSa
                        noSs=noSs
                        selectedReservable=sr
                        selectedYard=sy
                        selectedDate=dt
                        selectedActivity=sa
                        selectedSession=ss
                        innerCat=isCourse
                        apply=current_apply}}
            {{/layout-push}}
        {{/bmcom/bm-modal-container}}
        {{#bmcom/bm-modal-container
                needSubmit=true
                mswitch=showcomfirmdlg
                successbtncss='course-reserve-card-save'
                onSuccessBtnClicked=(action 'successHandled')}}
            {{#layout-push direction=row classNames="success-info course-reverve-success"}}
                <img src="../images/success.png" alt="">
                {{#layout-push direction=col}}
                    <p>安排成功！ </p>
                    <p>已确认参与者提交状态，参与者可在小程序>我的>我的服务中查看详情。</p>
                {{/layout-push}}
            {{/layout-push}}
        {{/bmcom/bm-modal-container}}
    </div>
</div>
{{outlet}}
