<div class="course_content_top">
    {{#bp-layout direction='col' classNames='course_content'}}
        {{#bp-layout direction='row' main='between' classNames='course-title-flex'}}
            <p class="page_title">潜在学生</p>
            {{#bs-button classNames="course_add_btn" onClick=(action (mut showAddSessionDlg) true)}}<span>+ 添加潜在学生</span>{{/bs-button}}
        {{/bp-layout}}
        {{#bp-layout direction='col'}}
            {{#bp-layout direction='row' classNames='search'}}
                {{input type="text" placeholder="姓名/手机号" name="" value=contact class="search-stud"}}
                <i class="icon-search" {{action 'searchStud'}}></i>
            {{/bp-layout}}
            <table class='ib_table_head exp_table'>
                <tr class='ib_table_title'>
                    {{#each model.studTitle as |item|}}
                        <th class='ib_table_item'>{{item}}</th>
                    {{/each}}
                </tr>
            </table>
        {{/bp-layout}}

        {{bmtable/bm-table-pt-stud refreshFlag=refreshFlag type=type searchContent=contact page_count=page_count onRefreshDataComplete=(action 'refreshDataComplete')}}

    {{/bp-layout}}
    {{#bmcom/bm-modal-container title="" mswitch=showAddSessionDlg
            type='codeImg'
            successbtncss='exp-modal-confirm'
            cancelbtncss='exp-modal-cancel'
            canceltext='取消'
            successtext='手动添加'
            onCancelBtnClicked=(action 'cancelHandled')
            onSuccessBtnClicked=(action 'successHandled')}}
            <div class="pt-stud-modal">
                {{#bp-layout direction='col'}}
                    {{#bp-layout direction='col'}}
                        <p class="title">添加潜在学生</p>
                        <p class="note">您可以推荐家长在小程序上使用注册功能或手动添加潜在学生</p>
                    {{/bp-layout}}
                    {{#bp-layout direction='col' main='center' classNames='code'}}
                        <img src='' alt="" class="code-img">
                        <p class="img-title">推荐使用</p>
                    {{/bp-layout}}
                {{/bp-layout}}
            </div>
    {{/bmcom/bm-modal-container}}
</div>
{{outlet}}
