<div class="course_content_top">
    {{#layout-push direction='col' classNames='course_content'}}
        {{#layout-push direction='row' split=true classNames='course-title-flex'}}
            <p class="page_title">潜在学生</p>
            {{#bs-button classNames="add_btn" onClick=(action (mut showAddSessionDlg) true)}}<span>+ 添加潜在学生</span>{{/bs-button}}
        {{/layout-push}}
        {{#layout-push direction='col'}}
            {{#layout-push direction='row' classNames='search'}}
                <input type="text" placeholder="姓名/手机号" name="" value="" class="seatch-stud">
            {{/layout-push}}
            <table class='ib_table_head exp_table'>
                <tr class='ib_table_title'>
                    {{#each model.studTitle as |item|}}
                        <th class='ib_table_item'>{{item}}</th>
                    {{/each}}
                </tr>
            </table>
        {{/layout-push}}
        {{#layout-push direction="col" classNames="stud-list-outer"}}
			{{#if (eq model.studs.length 0)}}
				{{bmcom/bm-empty-state class="stud-empty-state" picUrl="/images/img_empty@2x.png" title="暂无学生" des="暂无数据"}}
			{{else}}
				{{#layout-push direction="row" classNames="stud-list-area" }}
					<table class='ib_table_head stud_list_table'>
						{{bmtable/bm-table-inner type="studsList" listData=studs }}
					</table>
				{{/layout-push}}
				{{bmcom/bm-pagination pageCount=page_count curPage=pagenum sendPageNum=(action "handlePageChange")}}
			{{/if}}
		{{/layout-push}}

    {{/layout-push}}
    {{#bmcom/bm-modal-container title="" mswitch=showAddSessionDlg
            needSubmit=couldSubmit
            successbtncss='exp-modal-confirm'
            cancelbtncss='exp-modal-cancel'
            canceltext='取消'
            successtext='手动添加'
            onCancelBtnClicked=(action 'cancelHandled')
            onSuccessBtnClicked=(action 'successHandled')}}
            <div class="pt-stud-modal">
                {{#layout-push direction='col'}}
                    {{#layout-push direction='col'}}
                        <p class="title">添加潜在学生</p>
                        <p class="note">您可以推荐家长在小程序上使用注册功能或手动添加潜在学生</p>
                    {{/layout-push}}
                    {{#layout-push direction='col' mid=true classNames='code'}}
                        <img src={{codeImg}} alt="" class="code-img">
                        <p class="img-title">推荐使用</p>
                    {{/layout-push}}
                {{/layout-push}}
            </div>
    {{/bmcom/bm-modal-container}}
</div>
{{outlet}}
